.about {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: -100%;
        bottom: 0;
        background-color: #f1f4f5;
        width: 1px;
        z-index: -1;
        @include md-block() {
            display: none;
        }
    }
    &:after{
        content: '';
        position: absolute;
        top: 3%;
        bottom: 0;
        background-color: #f1f4f5;
        width: 1px;
        z-index: -1;
        @include md-block() {
            display: none;
        }
    }
    & .p-block:nth-child(3){
        @include xs-block(){
            flex-direction: column-reverse;
        }   
    }
    & .p-block:nth-child(4){
        @include xs-block(){
            padding-bottom: 0;
        }   
    }

    &:before {
        left: 0;
    }

    &:after {
        left: 50%;
    }

    .p-block-text {
        & > .page-zag--green {
            & :nth-child(1) {
                padding-left: 22px;
                padding-right: 0;
                
            }
           
        }
        

        & > div:not(.page-zag--green) {
            p {
                padding: 0;
            }
            @include lg-block(){
                max-width: 165px;
                padding-left: 20px;
            } 
            @include sm-block(){
                margin-right: 0;
            }
            @include xs-block(){
                padding-right: 20px;
                max-width: 200px;
                padding-left: 0px;
            }
            @include xxs-block(){
                max-width: 165px;
            }
            @include xxxs-block(){
                padding: 0px 25px;
                max-width: inherit;
            }
            
        }
        & > div:not(:last-child) {
            margin-right: 20px;
            @include sm-block(){
                margin-right: 0px;
                
            } 
        }
        
        


        & > ul {
            padding: 0;
            @include xs-block(){
                width: 100%;
            }
        }
        @include lg-block(){
            max-width: 500px;
        }
        @include md-block(){
            max-width: 420px;
        }
        @include sm-block(){
            max-width: 350px;
        }
        
        @include xs-block(){
            max-width: 90%;
            justify-content: space-around;
        }
        @include xxs-block() {
            max-width: 100%;
        }

        @include xxxs-block(){
            justify-content: flex-start;
        } 
    }
    .p-block-50 {
        //padding-left: 40px;
        .p-block-text{
            //padding-left: 40px;
        }
        &:nth-child(1){
            &.p-block--img{
                padding-left: 0;
                padding-right: 40px;
                @include xs-block(){
                    padding: 0;
                }
            }
            .p-block-text{
                padding-right: 10px;
                padding-left: 40px;
                @include xs-block(){
                    padding: 0;
                }
            }
        }
        &:nth-child(2){
            .p-block-text{
                padding-right: 0;
                padding-left: 40px;
                @include xs-block(){
                    padding: 0;
                }
            }
            &.p-block--img{
                padding-left: 40px;
                padding-right: 0px;
                @include xs-block(){
                    padding: 0;
                }
            }
        }
        @include lg-block(){
            align-items: flex-start;
        }
        
        @include xs-block(){
            width: 100%;
        }
        &.p-block--img{
            @include lg-block(){
                align-items: center;
            }
        }
        
        
        
    }
    .p-block{
        @include xs-block(){
            flex-direction: column;
            padding-bottom: 0;
        }
     }
     .p-block--img > img{
         width: 100%;
     }
     .marked-text{
         padding-right: 28px;

         @include xxs-block() {
             padding-right: 0;
         }
     }
}