#mp-contact__map {
	width: 100%; 
	height: 500px;
	margin-top: 50px; 
}
.contact{
	padding: 60px 0;
	overflow: hidden;
	@include xs-block(){
		padding: 20px 0;
	}
	> .container{
		display: flex;
		@include md-block(){
			flex-wrap: wrap;
		}
	}
	&__info{
		width: 50%;
		@include md-block(){
			width: 100%;
		}
		h1{
			font-weight: bold;
			font-size: 35px;
			line-height: 30px;
			color: #2B2B2B;
			margin-bottom: 15px;
			@include xs-block(){
				text-align: center;
			}

		}
		p{
			font-size: 15px;
			line-height: 125%;
			color: #494949;
			max-width: 60%;
			margin-bottom: 20px;
			@include xs-block(){
				max-width: 100%;
			}
		}
		&__list{
			padding: 30px 20px;
			width: auto;
			display: inline-block;
			background-color:   #F1F4F5;
			padding-right: 170px;
			background-image: url(../img/svg/contact.svg);
			background-position: right 30px center;
			background-repeat: no-repeat;
			margin-bottom: 20px;
			@include xs-block(){
				width: 100%;
				padding: 15px;
				background-image: none;
			}
			li{
				margin-bottom: 10px;
				a{
					font-size: 16px;
					margin-right: 10px;
					line-height: 150%;
				}
			}
		}
		.social-ico{
			li{
				position: relative;
				&::before{
					content: '';
					width: 1px;
					height: 15px;
					background-color:   #dff8f3;
					position: absolute;
					right: -20px;
					top: 3px;
				}
				&:last-child{
					&::before{
						content: none;
					}
				}
				a{
					display: flex;
				}
			}
		}

	}
	&-form{
		width: 50%;
		padding: 25px 40px;
		background-color:  #F1F4F5;
		position: relative;
		border-right: 1px solid rgba(223, 248, 236, 0.5);
		@include md-block(){
			width: 100%;
			margin: 40px 0;
		}
		@include xs-block(){
			padding: 15px;
			margin: 20px 0;
		}
		&::before{
			content: '';
			width: 500px;
			height: 100%;
			background-color: #F1F4F5;
			position: absolute;
			left: calc(100% + 1px);
			top: 0;
			@include md-block(){
				content: none;
			}
		}
		&__zag{
			line-height: 200%;
			font-size: 22px;
			margin-bottom: 12px;
			font-weight: bold;
		}
		p{
			margin-bottom: 15px;
		}
		&__container{
			display: flex;
			padding: 25px;
			background-color: #fff;
			margin-bottom: 30px;
			justify-content: space-between;
			@include xs-block(){
				flex-wrap: wrap;
				padding: 15px;
			}
			.block{
				margin-bottom: 10px;
				position: relative;
				&:last-child{
					margin-bottom: 0;
				}
			}
			label{
				font-size: 14px;
				line-height: 93%;
				color: #333333;
			}
			input[type='text']{
				border: 1px solid  #dff8f3;
				padding: 10px 15px;
				@include lg-block(){
					min-width: 1px;
					width: 100%;
				}
			}
			textarea{
				width: 100%;
				height: 100%;
				resize: none;
				border: 1px solid #dff8f3;
				padding: 15px;
				@include lg-block(){
					min-width: 1px;
					width: 100%;
				}
				@include xs-block() {
					margin-top: 10px;
				}
			}
		}
		input[type='text'].error,
		input[type='text'].error-online{
			border-color: #fb7676;
		}
		.left{
			width: 40%;
			@include lg-block(){
				width: 48%;
			}
			@include xs-block(){
				width: 100%;
			}
		}
		.right{
			width: 60%;
			@include lg-block(){
				width: 48%;
			}
			@include xs-block(){
				width: 100%;
			}
		}
	}
}