.news{
	padding: 0 0 60px;
	position: relative;
	z-index: 10;
	&::before, &::after{
		content: '';
		width: 1px;
		height: 100%;
		position: absolute;
		left: 0;
		top:0;
		background-color: #F1F4F5;
		@include md-block() {
			display: none;
		}
	}
	
	&::after{
		left: calc(50% - 50px);
	}
	&-list{
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		@include sm-block(){
			justify-content: center ;
		}
		&__item{
			width: calc(50% - 100px);
			position: relative;
			z-index: 50;
			margin-right: 50px;
			text-decoration: none !important;
			@include sm-block(){
                margin-right: 80px;
			}
			@include xs-block(){
                width: calc(50% - 100px);
			}
			@include xxs-block(){
				width: 100%;
				margin-right: 15px;
            }
			&-img{
				padding-bottom: 81.5%;
				width: 100%;
				background-size: cover;
				position: relative;
				transition: 0.3s;
				//&::before{
				//	content: '';
				//	width: 0%;
				//	height: 2px;
				//	background: $gr;
				//	position: absolute;
				//	left: 0;
				//	top: 0;
				//	transition: .3s;
				//}
				//&::after{
				//	content: '';
				//	width: 0%;
				//	height: 2px;
				//	background: $gr;
				//	position: absolute;
				//	right: 0;
				//	bottom: 0;
				//	transition: .3s;
				//}
			}

			&-text{
				padding: 35px 0 70px 50px;
				transition: .3s;
				@include sm-block(){
					padding-left:30px;
				}
				@include xs-block(){
					padding-left:10px;
				}
				.date{
					font-size: 18px;
					line-height: 21px;
					color: #409145;
					margin-bottom: 19px;
				}
				p{
					font-size: 18px;
					line-height: 21px;
					color: #3E3E3E;
					transition: .2s;
					text-decoration: underline;
					text-decoration-color: transparent;
				}
			}
			&:hover {
				.news-list__item-img {
					transform: scale(1.025);
				}
				p{
					text-decoration-color: #3E3E3E;
				}
				.news-list__item-text {
					//box-shadow: inset 0px 200px 0px 0px #f5f5f5;
				}
			}
			//&:hover{
			//	.news-list__item-img::before, .news-list__item-img::after{
			//		width: 100%;
			//	}
			//	.news-list__item-text{
			//		background-color: rgba(0, 0, 0, 0.03);
			//	}
			//}
		}
	}
	.pagination{
		margin-right: 170px;
		@include sm-block() {
			margin-right: 0;
		}
		&.end{
			justify-content: flex-end;
			@include xxs-block() {
				justify-content: center;
			}
		}

	}
}

