body .timetables-market {
    margin-top: 50px;
    overflow: visible;
    @include md-block(){
        margin: 50px 30px 0px 30px;
    }
    @include xxs-block(){
        margin: 20px 0px 0px 0px;
    }  
    &_tabs {
        &__list {
            & > ul {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-bottom: 20px;
                padding-left: 0 !important;
                padding-right: 0 !important;

                & > li {
                    padding: 10px 19px 7px 19px;
                    text-align: center;
                    border: 1px solid transparent;
                    border-top: 0;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 137%;
                    color: #404040;
                    margin-right: 5px;
                    transition: .3s;
                    cursor: pointer;
                    @include xxs-block() {
                        width: 100%;
                    }
                    &::before {
                        width: 0;
                        height: 1px;
                        border-radius: 0;
                        background-color: $green;
                        left: 0;
                        top: 0px;
                    }

                    &::after {
                        content: '';
                        width: 0;
                        height: 1px;
                        border-radius: 0;
                        background-color: $green;
                        right: 0;
                        top: 0px;
                        position: absolute;
                    }

                    &:hover {
                        background-color: #F9F9F9;
                        color: $green;
                    }

                    &.active {
                        background-color: #F9F9F9;
                        border: 1px solid $green;
                        border-top: 0;

                        &:hover {
                            color: #404040;
                        }

                        &::before {
                            width: 15px;
                        }
                        &::after {
                            width: 5px;
                        }
                    }
                }
            }
            &.with-filter{
                display: flex;
                align-items: center;
                @include md-block(){
                    flex-direction: column;
                    margin: 25px 0;
                    align-items: flex-start;
                }
                > ul{
                    width: 75%;
                    padding-right: 0;
                    margin-bottom: 0;
                    @include md-block(){
                        width: 100%;
                        justify-content: flex-start;
                        margin-bottom: 25px;
                    }
                    @include sm-block(){
                        display: flex;
                        flex-wrap: wrap;
                    } 
                }
                .timetables-market__filter{
                    position: relative;
                    width: 25%;
                    @include md-block(){
                        width: 285px;
                    }
                    @include xxs-block() {
                        margin: 0 auto;
                    }
                    
                    &:before {
                        content: '';
                        position: absolute;
                        left: -15px;
                        top: 0;
                        bottom: 0;
                        width: 1px;
                        background-color: #d1d3d4;
                        @include md-block(){
                            display: none;
                        } 
                    }
                    .slick-list{
                        padding: 0 !important;
                    }
                    &-block, & a{
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 22px;
                        text-decoration-color: transparent;
                        color: #d1d3d4;
                        &:hover {
                            color: $green;
                            text-decoration-color: inherit;
                        }
                    }
                    .slick-slide {
                        color: #d1d3d4;
                        transition: 0.25s;
                    }
                    .slick-current {
                        text-align: center;
                        & + .slick-slide {
                            text-align: right;
                        }
                        a {
                            color: #404040;
                            &:hover {
                                color: $green;
                            }
                        }
                    }
                    .slick-prev {
                        left: 83px;
                        background-image: url('./../img/svg/ar-left-long.svg');
                    }
                    .slick-next {
                        right: 83px;
                        background-image: url('./../img/svg/ar-right-long.svg');
                    }
                    .slick-arrow {
                        z-index: 10;
                        top: 12px;
                        width: 23px;
                        height: 7px;
                        background-repeat: no-repeat;
                        @include md-block(){
                            margin: 0 -3px;
                        }
                    }
                }
            }

            &.get-started {
                & > ul {
                    & > li {
                        padding-left: 5px;
                        padding-right: 5px;
                        font-size: 14px;
                    }
                }
            }
        }

        &__name {
            @include xs-block(){
                padding-left: 20px;
            }
            ul {
                display: flex;
                border-bottom: 1px solid #D1D3D4;
                padding-left: 0 !important;
                padding-right: 0 !important;
                margin-bottom: 0;
                @include xxs-block(){
                    flex-wrap: wrap;
                }
            }
            li {
                font-weight: bold;
                text-transform: uppercase;
                color: #404040;
                padding: 16px 0 !important;
                margin-bottom: 0 !important;
                padding-left: 15px !important;
                &::before {
                    content: none !important;
                }

                &:nth-child(1) {
                    width: 37.5%;
                    @include xs-block(){
                        margin-right: 10px;
                        width: calc((100% - 10px) / 2);
                    }
                    @include xxs-block(){
                        width: 100%;
                    }
                }



                &:nth-child(2) {
                    width: 37.5%;
                    @include xs-block(){
                        margin-right: 10px;
                        width: calc((100% - 10px) / 2);
                    }
                    @include xxs-block(){
                        width: 100%;
                    }
                }

                &:nth-child(3) {
                    width: 25%;
                    @include xs-block(){
                        display: none;
                    }
                }
            }
            &.v2{
                li {
                    &:nth-child(1) {
                        width: 18%;
                        @include sm-block(){
                            padding-right: 50px !important;
                            width: 30%;
                        }
                        @include xxs-block(){
                            padding-right: 40px !important;
                            width: 40%;
                        }
                        @include xxxs-block(){
                            width: 35%;
                            padding-right: 20px !important;
                        }
                    }

                    &:nth-child(2) {
                        width: 64%;
                        @include xxs-block(){
                            width: 40%;
                        }
                    }

                    &:nth-child(3) {
                        width: 18%;
                        
                    }
                }
            }
            &.v3 {
                ul{
                    margin-bottom: 0;
                }
                li {
                    width: 25%;
                    padding-left: 15px !important;
                }
                li:nth-child(1),
                li:nth-child(2){
                    @include xxs-block(){
                        width: 35%;
                        margin-right: 10px;
                    }
                }
            }
            &.v4 {
                li {
                    width: 100%;
                    padding-right: 20px !important;
                    box-sizing: border-box;

                    &:nth-child(1) {
                        max-width: 155px;
                        @include xs-block() {
                            margin-right: 0 !important;
                        }
                    }

                    &:nth-child(2) {
                        max-width: 220px;
                        @include xs-block() {
                            margin-right: 0 !important;
                        }
                    }

                    &:nth-child(3) {
                        max-width: 310px;
                        @include md-block() {
                            max-width: 390px;
                        }
                        @include xs-block() {
                            display: block;
                        }
                    }

                    &:nth-child(4) {
                        max-width: 130px;
                    }

                    &:nth-child(5) {
                        max-width: 300px;
                        @include md-block() {
                            max-width: 240px;
                        }
                    }
                }
            }
            &.v--5{
                li{
                    width: calc(100% / 5);
                    padding: 16px 10px 16px !important;
                    @include xxs-block() {
                        width: 50%;
                        margin-right: 0;
                    }
                    &:first-child{
                        padding: 16px 0px 16px !important;
                    }
                }
            }
        }

    }

    &__items {
        margin-bottom: 50px;
        // padding-bottom: 50px;
        // border-bottom: 1px solid #D1D3D4;
        display: none;
        @include xs-block(){
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
        &.active{
            display: block;
            overflow-x: auto;
            padding-bottom: 60px;
            
        }
        p {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        &.v5{
            border-bottom: none; 
        }
    }

    &__item {
        .with-background{
            background-color: #e9f4ea;
            li{
                font-weight: bold !important;
            }
        }
        @include xs-block(){
            border-bottom: 1px solid #D1D3D4;
        }
        @include xxxs-block(){
            min-width: 450px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-bottom: 0;
            margin-top: 0;
            transition: .5s;
            @include xxs-block(){
                flex-wrap: wrap;
            }
        }
        // & > ul{
        //     &:hover{
        //         &:not(.inner-group) {
        //             background-color: #F1F4F5;
        //         }
        //     }
        // }
        li {
            // padding: 32px 0 10px;
            padding: 20px 30px;
            margin-bottom: 0;
            border-bottom: 1px solid #D1D3D4;
            @include xxs-block(){
                padding: 20px 0 10px !important;
            }
            &::before {
                content: none !important;
            }
            .link--withIco {
                margin-top: 10px;
                .icon {
                    margin-top: 0px;
                    margin-bottom: 0;
                }
            }
            &:nth-child(1) {
                width: 37.5%;
                font-weight: 300;
                font-size: 16px;
                line-height: 22px;
                color: #404040;
                // padding-right: 60px;
                @include xs-block(){
                    width: 50%;
                }
                @include xxs-block(){
                    width: 100%;
                    padding-left: 10px !important;
                }
            }
            &:nth-child(2) {
                width: 37.5%;
                font-weight: 300;
                font-size: 16px;
                line-height: 137%;
                color: #404040;
                padding-right: 60px;
                @include xs-block(){
                    width: 50%;
                }
                @include xxs-block(){
                    width: 100%;
                }
            }
            &:nth-child(3) {
                width: 25%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                @include xs-block(){
                    width: 100%;
                }
                a{
                    display: block;
                    margin-right: auto;
                    text-decoration: none;
                    text-align: left;
                    margin-right: 0;
                }
            }
        }
        &.v2{
            @include xxs-block(){
                border-bottom: 1px solid #D1D3D4;
			}
            
            li {
                &:nth-child(1) {
                    width: 18%;
                    @include xxxs-block(){
                        width: 30%;
                    } 
                }

                &:nth-child(2) {
                    width: 64%;
                    @include xxxs-block(){
                        width: 70%;
                    } 
                }

                &:nth-child(3) {
                    width: 18%;
                    @include sm-block(){
                        width: 15%;
                    } 
                    @include xxs-block(){
                        width: 100%;
                        margin-left: 2%;
                    } 
                }
            }
        }
        &.v3 {
            // & > ul {
            //     margin-top: 15px;
            // }
            // border-bottom: 1px solid #D1D3D4;
            // background-color: #e9f4ea;
            // transition: .5s;
            @include xs-block(){
                min-width: 700px;
			}
            // &:nth-child(1) {
            //     padding-top: 32px;
            // }
            li {
                display: block;
                width: 25%;
                min-height: 60px;
                padding: 15px;
                margin-bottom: 0;
                // padding-top: 0 !important;
                // padding-bottom: 0 !important;
                &:nth-child(3) {
                    padding-right: 15px !important;

                    a {
                        text-align: left;
                        width: auto;
                        text-decoration: underline;
                    }
                }
                &:nth-child(3),
                &:nth-child(4) {
                    p {
                        margin: 0;
                        font-size: 14px;
                    }
                }
            }
        }
        &.v4 {
            li {
                width: 100%;
                padding-right: 20px !important;
                box-sizing: border-box;

                &:nth-child(1) {
                    max-width: 155px;
                }

                &:nth-child(2) {
                    max-width: 220px;
                    & > span {
                        display: block;
                        font-weight: bold;
                    }
                }

                &:nth-child(3) {
                    max-width: 310px;
                    justify-content: flex-start;
                    @include md-block() {
                        max-width: 390px;
                    }
                }

                &:nth-child(4) {
                    max-width: 130px;
                }

                &:nth-child(5) {
                    max-width: 300px;
                    a{
                        display: block;
                    }
                    & > :nth-child(1) {
                        margin-top: 0;
                    }
                    & > :not(:first-child) {
                        margin-top: 20px;
                    }
                    @include md-block() {
                        max-width: 240px;
                    }
                }
            }
        }
        &.v5 {
            transition: 0.3s;

            &:hover {
                background-color: #f9f9f9;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #f1f4f5;
            }

            img {
                display: block;
                margin: 0;
            }

            ul{
                flex-wrap: initial;
                margin-bottom: 0;
            }

            li {
                width: 100%;
                margin-bottom: 0;

                &:nth-child(1) {
                    width: 52px;
                    padding: 10px !important;
                }

                &:nth-child(2) {
                    align-items: center;
                    width: calc(100% - 152px);
                    padding: 10px 0 !important;

                    & > span {
                        display: block;
                        font-weight: bold;
                    }
                }

                &:nth-child(3) {
                    width: 100px;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 10px 10px 10px 0 !important;
                }
            }

        }
        &.v--5{
            li{
                width: calc(100% / 5);
                padding: 32px 10px 10px !important;
                flex-wrap: wrap;
                &:nth-child(3) {
                    justify-content: flex-start;
                    a {
                        text-decoration: underline;
                        &:hover{
                            text-decoration-color: transparent
                        }
                    }
                }

                &:not(:nth-child(n+3)) {
                    @include xxs-block() {
                        width: 50%;
                    }
                }
                &:not(:nth-child(-n+2)) {
                    @include xxs-block() {
                        width: 100%;
                        padding: 0 !important;
                    }
                }
                a{
                    width: 100%;
                    margin-bottom: 18px;
                    @include xxs-block() {
                        text-align: left;
                    }
                    & + p {
                        margin-top: 0;
                    }
                }
                p {
                    margin: 62px 0 18px;
                    &.without-file {
                        margin-top: 0  ;
                    }
                    @include lg-block() {
                        margin: 88px 0 18px;
                    }
                    @include md-block() {
                        margin: 106px 0 18px;
                    }
                    @include xxs-block() {
                        width: 100%;
                        margin: 0 0 18px;
                    }
                }
                &:first-child{
                    padding-left: 0 !important;
                }
            }
        }
        &.v--4{
            li{
                width: calc(100% / 4);
            }
        }
        &.with-group {
            & > ul {
                margin: 0 !important;
                & > li {
                    li, li:nth-child(3){
                        padding: 0 0 15px 30px;
                        width: 100%;
                        flex-wrap: wrap;
                        // border-bottom: 1px solid #DBDBDB;
                        position: relative;
                        &:before{
                            content: '';
                            position: absolute;
                            width: calc(100% + 90px);
                            height: 1px;
                            bottom: 0;
                        }
                        a{
                            width: 100%;
                        }
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                & > li {
                    &:nth-child(2) {
                        display: flex;
                        align-items: center;
                    }
                }
                .product-name {
                    padding-top: 0;
                    padding-left: 0;
                }
                .product-button {
                    padding: 0;
                    & > ul > li {
                        padding: 0 30px;
                    }
                }
                .product-button > ul  > li {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    &.timetables--partners {
        .timetables-market__items {
            border-bottom: none;
            margin: 0;
            padding-top: 32px;
            border-top: 1px solid #d1d3d4;

            ul {
                padding: 0 !important;

                li {
                    &:not(:last-child) {
                        margin-bottom: 26px;
                    }

                    span, a {
                        vertical-align: text-top;
                        display: inline-block;
                        width: 50%;

                        @include xxs-block() {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
.multimedia{
    width: 70%;
    margin-left: 15%;
    min-height: 500px;
    @include xxs-block() {
        width: 80%;
        margin-left: 10%;
        min-height: 300px;
    }
    @include xxs-block() {
        width: 90%;
        margin-left: 5%;
        min-height: 200px;
    }
}
// body .timetables-market__item li {
//     @include md-block(){
//         padding: 15px;
//     }
// }
body .timetables-market__item {
    .inner-group{
        transition: .5s;
        &.active{
            background-color: #F1F4F5;
        }
        & > li{
            &:first-child{
                padding: 0 !important;
                display: flex;
                flex-wrap: wrap;
                @include md-block() {
                    width: 50%;
                    order: 2;
                }
            }
            &:nth-child(2){
                @include md-block() {
                    width: 100%;
                    order: 1;
                }
            }
            
            &:last-child{
                padding: 0 !important;
                display: flex;
                flex-wrap: wrap;
                @include md-block() {
                    width: 50%;
                    order: 3;
                }
            }
        }
        &__name{
            display: flex !important;
            flex-wrap: wrap !important;
            & > li{
                width: 100%;
                transition: .5s;
                &:nth-child(3) {
                    display: block;
                }
                &:last-child {
                    border: none;
                }
                &.active{
                    background-color: #F1F4F5;
                }
            }
        }
        &__time{
            display: flex;
            align-items: center;
            transition: .5s;
            &.active{
                background-color: #F1F4F5;
            }
        }
        &__button{
            display: flex !important;
            flex-wrap: wrap !important;
            & > li{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 20px 30px!important;
                transition: .5s;
                @include xxxs-block(){
                    padding: 0 !important;
                }
                a{
                    margin-right: 0;
                    padding: 12px 25px;
                }
                &:last-child {
                    border: none;
                }
                &.active{
                    background-color: #F1F4F5;
                }
            }
        }
    }
}
.timetables-market.v6 .timetables-market__item {
    @include xs-block(){
        min-width: unset;
    }
}
.v6 .timetables-market__item li:nth-child(1){
    width: 60%;
    @include md-block(){
        width: 100%;
    }
}
.v6 .timetables-market__item ul li:nth-child(2){
    width: 40%;
    text-align: right;
    padding: 20px 30px;
    @include md-block(){
        padding: 10px !important;
        width: 100% !important;
    }
}
.v6 .timetables-market_tabs__name ul li:nth-child(1){
    width: 60%;
    padding: 20px 30px !important;
    text-align: left;
    margin-right: 0;
    @include md-block(){
        width: 100% !important;
        padding: 10px !important;
    }
}
.v6 .timetables-market_tabs__name ul li:nth-child(2){
    width: 40%;
    padding: 20px 30px !important;
    text-align: left;
    padding: 0;
    margin-right: 0;
    @include md-block(){
        width: 100%;
        padding: 10px !important;
    }
}
.table-wrap {
    margin-bottom: 30px;
}