.search-result {
	&__form {
		position: relative;
		padding: 70px 0 0;

		input[type="submit"] {
			position: absolute;
			width: 40px;
			height: 28px;
			background-image: url('./../img/svg/search.svg');
			background-repeat: no-repeat;
			background-position: center;
			border: none;
			background-color: transparent;
			cursor: pointer;

			&:hover {
				background-color: rgba(0, 0, 0, 0.05);
			}
		}

		input[type="text"] {
			width: 100%;
			height: 28px;
			border: none;
			border-bottom: 1px solid #d1d3d4;
			padding-left: 45px;

			&::placeholder,
			&::-webkit-input-placeholder {
				color: #3e3e3e;
				font-size: 14px;
				font-style: italic;

				@include lh(14, 20);
			}
		}
	}

	p,
	ol,
	ul {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	p {
		margin: 8px 0;
	}

	ol {
		li {
			padding-left: 35px;
			margin-bottom: 28px;

			&:before {
				content: counters(item, ".") '.';
				color: #404040;
				font-weight: bold;
			}
		}
	}

	.pagination {
		li {
			padding: 0;

			&:before {
				display: none;
			}
		}
	}

	.timetables-market__items {
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}