.start {
    padding-top: 70px;
    @include sm-block(){
        padding-top: 20px;
    }
    ul,
    ol,
    p {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    p {
        margin: 7px 0;
    }
    .timetables-market__items {
        padding-top: 25px;
        li {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        ol {
            & > li {
                & > p {
                    &:first-child {
                        font-weight: bold;
                    }
                }

                & > ul {
                    & > li {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    ol {
        & > li {
            padding-left: 30px;

    //        &:before {
    //            content: counters(item, ".") '.' !important;
    //            color: #404040;
    //            font-weight: bold;
    //        }
        }
    }
    .timetables-market__items {
        border-bottom: none;
        border-top: 1px solid #d1d3d4;
    }
    .accordion {
        padding-left: 10px !important;
        padding-right: 0 !important;

        &-head {
            span {
                background: $gr;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                border-bottom-color: $green;
            }
        }

        &-body {
            padding: 4px 0;
        }
    }
}