.text-page {
    position: relative;
    padding-bottom: 84px;
    @include md-block() {
        padding-bottom: 42px;
    }
    @include xs-block() {
        padding-bottom: 20px;
    }
    @include xxs-block() {
        padding:0 10px;
    }
    .notice {
        position: relative;
        padding: 0 0 0 120px;
        margin: 25px 0;
        font-style: italic;
        font-size: 14px;
        @include xs-block(){
            padding: 0 0 0 25px;
            &:before {
                left: 60px;
                }
		}
        @include lh(14, 20);

        &:before {
            content: '';
            position: absolute;
            left: 100px;
            top: 0;
            width: 2px;
            height: 100%;
            background-image: linear-gradient(to left, #23b236, #409145);
            @include xs-block(){
                left: 5px;
            }
        }

    }

    h2 {
        text-transform: initial;
        letter-spacing: -0.02em;
        font-size: 28px;
        text-align: center;
        margin-bottom: 8px;
        font-weight: normal;

        @include lh(28, 33);
    }

    img {
        margin: 30px 0;
    }

    h3 {
        text-align: center;
        font-size: 18px;
        margin-bottom: 4px;
        font-weight: normal;

        @include lh(18, 21);
    }

    p {
        margin: 18px 0;

        @include lh(16, 22);
        a{
            display: inline;
        }
    }

    ol:not(.normal-ol) {
        counter-reset: item;
        padding: 0 0 0 10px;
        margin-bottom: 15px;

        > li {
            position: relative;
            list-style: none;
            padding: 0 0 0 35px;
            margin: 0 0 6px;

            @include lh(16, 22);

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: counters(item, '.');
                counter-increment: item;
                color: #23b236;
            }
        }
    }
    .normal-ol{
        li{
            list-style: decimal;
            padding-left: 5px;
            margin-left: 15px;
        }
    }
    .accordion-body{
        ol{
            counter-reset: itemSM;
            > li{
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: counters(itemSM, '.');
                    counter-increment: itemSM;
                    color: #23b236;
                }
            }
        }

    }

    ul {
        padding: 0 0 0 20px;
        margin-bottom: 15px;
        
        @include xxs-block(){
            padding: 0 0 0 0px;
        }

        > li{
            position: relative;
            padding: 0 0 0 20px;
            margin: 0 0 6px;

            @include lh(16, 22);

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 9px;
                width: 3px;
                height: 3px;
                border-radius: 2px;
                background-image: linear-gradient(to left, #23B236, #409145);
            }
        }
        ul, ol{
            margin-top: 10px;
        }
    }
    

    table {
        width: 100%;
        margin: 60px 0;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
        border-collapse: collapse;
        @include md-block(){
            width: 100%;
            max-width: 1300px;
        }
        @include xs-block(){
            width: 1200px;
            margin: 20px 0;
		}

        caption {
            text-align: left;
            background-color: #f9f9f9;
            font-size: 18px;
            padding: 20px 40px;

            @include lh(18, 21);
        }

        tr {
            &:not(:last-child) {
                th:before,
                td:before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    background-color: #d1d3d4;
                    height: 1px;
                    left: 0;
                    right: 0;
                }

                th:first-child,
                td:first-child {
                    &:before {
                        left: 20px;
                        right: 0;
                    }
                }

                th:last-child,
                td:last-child {
                    &:before {
                        left: 0;
                        right: 20px;
                    }
                }
            }
        }

        th {
            position: relative;
            text-align: left;
            font-weight: bold;
            padding: 20px 40px;
            text-transform: initial;

            @include lh(16, 19);
        }

        td {
            position: relative;
            padding: 20px 20px;

            &.no-border {
                &:before {
                    display: none;
                }
            }

            .link--withIco {
                margin: 10px 0;
            }
        }
    }

    a {
        display: inline-block;
        color: $green;
        text-decoration: underline;
        word-break: break-word;

        &:hover {
            text-decoration-color: transparent;
        }
    }

    .video {
        margin: 60px 0;
        height: 600px;
        iframe {
            width: 100% !important;
            height: 100% !important;
        }
        @include lg-block(){
            margin: 60px 15px;
            margin-right: 75px;
        }
        @include md-block(){
            margin: 60px 15px;
            margin-right: 95px;
        }
        @include sm-block(){
            margin: 60px 15px;
            height: 400px;
        }
        @include xxxs-block(){
            height: 250px;
        }
    }

    .m48 {
        display: block;
        margin: 48px 0;
    }

    &-stamp {
        max-width: 350px;
        margin-left: auto;
        width: 100%;
        
        P {
            padding: 0 !important;
            @include xxs-block(){
                padding-right: 10px !important;
                padding-left: 10px !important;
            }
        }

        @include lh(16, 22);

        &--state {
            margin-bottom: 6px;
            text-transform: uppercase;

            @include lh(16, 19);
        }
    }

    &__menu {
        max-width: 470px;
        width: 100%;

        ul {
            position: sticky;
            top: 160px;
            padding: 0;
            width: 100%;
            @include md-block(){
                top: 140px;
			}
            li {
                margin: 0;
                padding: 0;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                &:before {
                    display: none;
                }

                a {
                    text-decoration: underline;
                    color: #005939;
                    font-size: 18px;

                    @include lh(18, 21);

                    &:hover {
                        text-decoration-color: transparent;
                    }
                }

                span {
                    font-size: 18px;

                    @include lh(18, 21);
                }
            }
            .has-drop{
                > a {
                    border-bottom: 1px dashed #005939;
                    text-decoration: none;
                }
                ul{
                    padding-top: 9px;
                    display: none;
                    padding-left: 20px;
                }
            }
        }
    }

    .double-links {
        display: flex;
        justify-content: space-between;
    }

    .application {
        display: flex;
        margin-bottom: 30px;
        flex-wrap: wrap;

        .img {
            width: 90px;
            min-height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid $red;

            .icon {
                fill: $red;
                width: 32px;
                height: 32px;
            }
        }

        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 137%;
            color: #404040;
            width: calc(100% - 90px);
            b {
                display: inline;
            }
        }

        a {
            color: $red;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        &:hover {
            .icon {
                animation: 0.1s tremor ease-out 2;
            }
        }

        &.green {
            a {
                color: $green;
            }

            .img {
                border-left-color: $green;

                .icon {
                    fill: $green;
                }
            }
        }

        &.with-r-col {
            & > p {
                width: calc(100% - 308px);
                @include xxs-block(){
                    width: calc(100% - 90px);
                }
            }

            & > .r-col {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 218px;
                padding-left: 28px;
                @include xxs-block(){
                    width: 100%;
                    padding-left: 0px;
                    margin-top: 25px;
                }
            }
        }
        .link-green {
            text-decoration: none;

            &:hover {
                color: #fff;
            }
        }
    }

    &.container-md {
        p {
            padding: 0 150px;
            width: 100%;
            @include sm-block(){
                padding: 0 85px;
            }
            @include xs-block(){
                padding: 0 55px;
            }
            @include xxs-block(){
                padding: 0 15px;
            }
        }

        .double-links {
            padding: 20px 150px;
            @include xs-block(){
                padding: 20px 70px;
            }
            @include xxs-block(){
                padding: 20px 15px;
            }
            @include xxxs-block(){
                display: flex;
                flex-direction: column;
            }
        }

        .breadcrumbs, h2, h3, h4, ul, ol, .accordion, .notice, .attachment {
            padding-left: 150px;
            padding-right: 150px;
            @include xs-block(){
                padding-left: 85px;
                padding-right: 85px;
            }
            @include xxs-block(){
                padding-left: 0px;
                padding-right: 0px;
            }
        }

        .text-page-stamp {
            margin-right: 150px;
            @include xs-block(){
                margin-right:60px;
            }
        }

        .notice {
            margin-left: 100px;
            padding-left: 130px;
            @include xs-block(){
                margin-left: 100px;
                padding-left: 20px;
            }
            @include xxxs-block(){
                margin-left: 20px;
                padding-left: 20px;
            }

            p {
                padding: 0;
            }
        }

        .page-zag {
            margin-left: 225px;

            @include xs-block() {
                margin-left: 165px;
            }

            @include xxs-block() {
                margin-left: 50px;
            }
        }
    }

    .subzag {
        font-size: 18px;
        color: #404040;

        @include lh(18, 21);
    }

    .filter.absolute {
        bottom: inherit;
        top: 200px;
        @include sm-block() {
            top: 160px;
        }
        @include xxs-block() {
            top: 92px;
        }
        @include xxs-block() {
            top: 122px;
            left: 50%;
            transform: translateX(-25%);
        }
    }
}

.table-cont {
    @include md-block() {
        max-width: 990px;
        overflow-x: scroll;
        margin: 0 auto;
        padding-left: 40px;
    }
    @include xs-block(){
        padding-left: 0;
    }
    table {
        @include md-block() {
            min-width: 1200px;
        }
    }
}

.container--double {
    display: flex;
    width: 100%;
    z-index: 80;

    .text-page__menu {
        margin-top: 70px;
        //max-width: 300px;
        padding-bottom: 20px;
        z-index: 90;
        @include sm-block(){
            margin-top: 149px;
			position: fixed;
            top: 0;
            bottom: 10px;
            left: 0;

            width: auto;
            max-height: calc(100vh - 160px);
            overflow-y: auto;
            background-color: #fff;
            padding: 20px 40px;
            box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
            transform: translateX(-100%);
            visibility: hidden;
            opacity: 0;
            transition: 0.5s;
            z-index: 80;
		}
        &--active {
            @include sm-block() {
                transform: translateX(0);
                visibility: visible;
                opacity: 1;
            }
        }
        &-btn {
            display: none;
            @include sm-block() {
                position: fixed;
                top: 70px;
                left: 0;
                z-index: 1;
                display: block;
                padding: 20px;
                background-color: rgba(255,255,255,0.75);
                box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
            }
            .icon {
                @include sm-block() {
                    display: block;
                    width: 24px;
                    height: 24px;
                    transition: 0.5s;
                    fill: $green;
                }
            }
            &--active {
                .icon {
                    @include sm-block() {
                        transform: scaleX(-1);
                    }
                }
            }
        }
    }

    .page-zag {
        margin-left: 80px;

        @include xxs-block() {
            margin-left: 50px;
        }
    }
}

@keyframes tremor {
    0%, 25% {
        left: -1px;
        -webkit-transform: translateX(-4%);
        transform: translateX(-4%);
    }
    50%, 100% {
        left: 1px;
        -webkit-transform: translateX(4%);
        transform: translateX(4%);
    }
}

.attachment {
    margin: 25px 0;

    img {
        margin: 0 10px 0 0;
    }
}
.accordion-body{
    @include xxs-block(){
        padding: 15px 0 0 10px;
    }
    & > p{
        @include xxs-block(){
            padding: 0 5px !important
        }
    }
}
.container-sm{
    @include md-block(){
        max-width: 600px;
        padding-left: 10px;
        padding-right: 10px;
    }
    @include xxs-block(){
        padding-left: 10px;
        padding-right: 10px;
    }

    .page-zag {
        margin-left: 75px;

        @include sm-block() {
            margin-left: 50px;
        }
    }
}
.text-buttom-green{
    display: inline-block !important;
    padding: 20px 40px;
    border-radius: 10px;
    color: #fff !important;
    background: #005939;
    text-decoration: none!important;
    transition: 0.3s ease-out;
    @include xxs-block() {
        display: block !important;
        text-align: center;
        padding: 15px 30px;
    }
  } 
  .text-buttom-green:hover{
    transition: 0.3s ease-out;
    color: #005939 !important;
    background: #FFF;
    text-decoration: none!important;
  }
.cont-quest {
    counter-reset: item;
    margin: 40px 0px !important;
    &:last-child{
        margin-bottom: 80px;
    }
    & > li{
        position: relative;
        list-style: none;
        padding: 0 0 0 25px;
        margin: 0 0 6px;
        line-height: 1.375;
    }
    & > li:before{
        color: #404040 !important;
        font-weight: bold;
    }
}


body {
    .table75-25 {
        th, td {
            padding: 20px;

            &:nth-child(1) {
                width: 75%;
            }

            &:nth-child(2) {
                width: 25%;
                text-align: center;
            }
        }
    }
    .table25{
        th, td {
            padding: 20px;
            width: 25%;
        }

    }
    .table33{
        th, td {
            padding: 20px;
            width: 33.33%;
        }

    }
}

.timetables-market__item{
    .download-btn{
        padding: 10px;
    }
}

.trate {
    display: flex;
    flex-wrap: wrap;
    @include md-block() {
        width: 710px;
    }
    &-r {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: -1px;
        &:nth-child(2) {
            .trate-c:nth-child(1) {
                width: calc((100% - 16px) / 4);
            }
            .trate-c:not(:nth-child(1)) {
                width: calc((75% + 4px) / 18);
                justify-content: center;
                align-items: center;
            }
            .trate-c {
                background-color: #f1f4f5;
            }
        }
        &:nth-child(n+3) {
            .trate-c:nth-child(1) {
                width: calc((100% - 16px) / 4);
            }
            .trate-c:not(:nth-child(1)) {
                width: calc((75% + 4px) / 18);
                justify-content: center;
                align-items: center;
            }
        }
    }
    &-h {
        width: calc((100% - 16px) / 4);
        border: 1px solid #d1d3d4;
        padding: 5px;
        margin-left: -1px;
        background-color: #f1f4f5;
    }
    &-c {
        display: flex;
        border: 1px solid #d1d3d4;
        padding: 5px;
        margin-left: -1px;
    }

    // tr {
    //     th {
    //         padding: 10px;
    //         border: 1px solid #d1d3d4;
    //         vertical-align: top;
    //         text-align: left;
    //         font-weight: normal;
    //         background-color: #f1f4f5;
    //         &::before {
    //             display: none;
    //         }
    //     }
    //     td {
    //         padding: 5px;
    //         border: 1px solid #d1d3d4;
    //         text-align: center;
    //         &::before {
    //             display: none;
    //         }
    //     }
    //     &:nth-child(2) {
    //         td {
    //             background-color: #f1f4f5;
    //         }
    //     }
    //     &:nth-child(n+3) {
    //         td {
    //             &:first-child {
    //                 width: calc(100% - 648px);
    //                 padding: 10px;
    //                 text-align: left;
    //             }
    //             &:not(:first-child) {
    //                 width: 36px;
    //             }
    //         }
    //     }
    // }

    &-sort {
        .icon {
            display: block;
            fill: #1d1d1d;
            max-width: 16px;
            max-height: 16px;
        }
    }
}