<div class="badsee-config">
	<div class="badsee-w100">
		<button class="badsee-disable">Обычная версия</button>
		<button class="badsee-close">Закрыть</button>
	</div>
	<div class="badsee-w25">
		<div class="badsee-zag">Шрифт</div>
		<button class="badsee-ff active">По умолчанию</button>
		<button class="badsee-ff-arial">Arial</button>
		<button class="badsee-ff-times">Times New Roman</button>
	</div>
	<div class="badsee-w25">
		<div class="badsee-zag">Размер</div>
		<button class="badsee-fs active">По умолчанию</button>
		<button class="badsee-fs-md">A</button>
		<button class="badsee-fs-lg">A</button>
	</div>
	<div class="badsee-w25">
		<div class="badsee-zag">Интервал</div>
		<button class="badsee-ls active">По умолчанию</button>
		<button class="badsee-ls-md">Увеличенный</button>
		<button class="badsee-ls-lg">Большой</button>
	</div>
	<div class="badsee-w25">
		<div class="badsee-zag">Цветовая схема</div>
		<button class="badsee-light active">Светлая</button>
		<button class="badsee-dark">Темная</button>
		<button class="badsee-blue">Светло-синяя</button>
	</div>
</div>