div(class='breadcrumbs')
	div(class='bx-breadcrumb')
		div(class="bx-breadcrumb-item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
			a(href="#" title="site-name" itemprop="url")
				span(itemprop="title") Главная
		div(class="bx-breadcrumb-item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
			a(href="#" title="site-name" itemprop="url")
				span(itemprop="title") Услуги
		div(class="bx-breadcrumb-item" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" itemref="bx_breadcrumb_1")
			span(itemprop="title")
				block text