.filter-broker
	.filter-broker__el
		.filter-broker__zag Страна
		label
			input.styler(type="checkbox")
			span Беларусь
		label
			input.styler(type="checkbox")
			span Россия
		label
			input.styler(type="checkbox")
			span Украина
		label
			input.styler(type="checkbox")
			span Латвия
		label
			input.styler(type="checkbox")
			span Узбекистан
		label
			input.styler(type="checkbox")
			span Польша
		label
			input.styler(type="checkbox")
			span Бельгия
		label
			input.styler(type="checkbox")
			span Литва
		label
			input.styler(type="checkbox")
			span Германия
		label
			input.styler(type="checkbox")
			span Турция
		label
			input.styler(type="checkbox")
			span Казахстан
	.filter-broker__el
		.filter-broker__zag Секция
		label
			input.styler(type="checkbox")
			span Металлопродукция
		label
			input.styler(type="checkbox")
			span Лесопродукция
		label
			input.styler(type="checkbox")
			span Сельхозпродукция
		label
			input.styler(type="checkbox")
			span Перспективные товары
	.filter-broker__el
		a.filter-broker__set(href="") Подобрать
		a.filter-broker__reset(href="")
			| Сбросить фильтр
			+icon('cross')