footer.footer
    .footer-top
        .container
            .footer-w25
                .footer-item
                    .footer-item-zag
                        a(href="#") Торговые площадки
                    ul
                        li
                            a(href="#") Биржевые торги
                        li
                            a(href="#") Торги ППТ
                        li
                            a(href="#") Торги имуществом
                        li
                            a(href="#") Закупки в электронном формате
                .footer-item
                    .footer-item-zag
                        a(href="#") Услуги
                    ul
                        li
                            a(href="#") Стоимость услуг
                        li
                            a(href="#") Брокерские услуги
                        li
                            a(href="#") Арбитраж
                        li
                            a(href="#") Контроль исполнения сделок
                .footer-item
                    .footer-item-zag
                        a(href="#") Вопрос-ответ
                .footer-item
                    .footer-item-zag
                        a(href="#") Программное обеспечение
            .footer-w25
                .footer-item
                    .footer-item-zag
                        a(href="#") Биржевая информация
                    ul
                        li
                            a(href="#") Расписание торгов и заявки
                        li
                            a(href="#") Цифры и аналитика
                        li
                            a(href="#") Правовые акты
                .footer-item
                    .footer-item-zag
                        a(href="#") С чего начать
                .footer-item
                    .footer-item-zag
                        a(href="#") Обучение
                    ul
                        li
                            a(href="#") Инструкции и руководства
                        li
                            a(href="#") Видеоуроки
                        li
                            a(href="#") Глоссарий
                        li
                            a(href="#") Обучающие семинары
                        li
                            a(href="#") Организационная структура
                        li
                            a(href="#") Органы управления
                        li
                            a(href="#") География биржевой торговли
            .footer-w25
                .footer-item
                    .footer-item-zag
                        a(href="#") О бирже
                    ul
                        li
                            a(href="#") О нас
                        li
                            a(href="#") Цели, задачи и функции
                        li
                            a(href="#") Организационная структура
                        li
                            a(href="#") Органы управления
                        li
                            a(href="#") География биржевой торговли
                        li
                            a(href="#") Преимущества
                        li
                            a(href="#") Корпоративные вопросы
                        li
                            a(href="#") Банковские реквизиты
                .footer-item
                    .footer-item-zag
                        a(href="#") Пресс центр
                    ul
                        li
                            a(href="#") Новости
                        li
                            a(href="#") Фирменный стиль
                        li
                            a(href="#") Мультимедиа
                        li
                            a(href="#") Презентации
            .footer-w25
                .footer-item
                    .footer-item-zag
                        a(href="#") Правовые акты
                    ul
                        li
                            a(href="#") Законодательство Республики Беларусь
                        li
                            a(href="#") Нормативные документы Биржи
                        li
                            a(href="#") Разъяснения и комментарии
                        li
                            a(href="#") Иные документы
                .footer-item
                    .footer-item-zag
                        a(href="#") Контакт - центр
                    ul
                        li
                            a(href="#") Контакты
                        li
                            a(href="#") Центральный офис
                        li
                            a(href="#") Филиалы и представительства
                .footer-item
                    .footer-item-zag
                        a(href="#") Объявления
                .footer-item
                    .footer-item-zag
                        a(href="#") Партнеры
                .footer-item
                    .footer-item-zag
                        a(href="#") Обращения и прием граждан
    .footer-bottom
        .container
            .footer-w50
                p © ОАО «Белорусская универсальная товарная биржа», 2005-2019
            .footer-w25
                a(href="#") Карта сайта
            .footer-w25.copyml
                p
                    | Разработка сайта -&nbsp;
                    a(href="https://www.medialine.by/" target="_blank") Медиа Лайн


        //.footer-logo
            a(href='/')
                img(src='./img/logo.png')
        //ul.footer-menu
            li.footer-menu__li
                a(href='#') Главная
            li.footer-menu__li
                a(href='#') Каталог
            li.footer-menu__li
                a(href='#') О нас
            li.footer-menu__li
                a(href='#') Бренды
            li.footer-menu__li
                a(href='#') Новости
            li.footer-menu__li
                a(href='#') Блог
            li.footer-menu__li
                a(href='#') Контакты
        //.medialine-block
            span Разработка сайта
            | &#032;
            | -
            | &#032;
            a(href="https://www.medialine.by/" target="_blank") Медиа Лайн