header.header
    .header-top
        .header-top__container.container
            .header-top__phones
                .header-phones__front
                    .header-phones__front-text
                        +icon('headset')
                        .header-phones__front-content
                            .name
                                | КОНТАКТ-ЦЕНТР
                                +icon('ar-bot-line')
                    .header-phones__front-phone
                        a(href='tel:+375333093232') (17) 309-32-32
                        a(href='tel:+375333093232') (33) 309-32-32
                        a(href='tel:+375333093231') (29) 309-32-31
                .header-phones__back

                    .container
                        .close-mob
                            +icon('cross')
                        .header-phones__back-block
                            .header-phones__back-zag Контакт-центр:
                            ul.header-phones__back-list.with-ico
                                li
                                    a(href='tel:+375333093232' style='background-image: url(./img/phone-1.svg)') (33) 309-32-32
                                    br
                                    a(href='tel:+375333093232' style='background-image: url(./img/mtc.svg)') (33) 309-32-32
                                    br
                                    a(href='tel:+375333093232' style='background-image: url(./img/a1.png)') (33) 309-32-32
                                li
                                    a(href='mailto:uc@ecp.by' class='mail') uc@ecp.by

                        .header-phones__back-block
                            .header-phones__back-zag Время работы контакт-центра:
                            div
                                <span>пн. - чт.:</span> <span>с 9:00 до 18:00</span>
                                br
                                <span>пт.:</span> <span>с 9:00 до 16:45</span>
                                br
                                <span>обед:</span> <span>с 13:00 до 13:45</span>
                                br
                                <span>сб. - вс.:</span> <span>выходные</span>
                        .header-phones__back-block
                            .header-phones__back-zag Социальные сети
                            ul.list-social
                                li
                                    a(href='#')
                                        +icon('facebook')
                                        | фейсбук
                                li
                                    a(href='#')
                                        +icon('linkedin')
                                        | линкедин
                                li
                                    a(href='#')
                                        +icon('twitter')
                                        | твиттер
                                li
                                    a(href='#')
                                        +icon('youtube')
                                        | ютуб

                        .header-phones__back-block
                            img(src='./img/headerimg.png' class='header-phones__back-img')
            form.header-top__search

                input(type='submit')
                input(type='text' placeholder='Поиск по сайту')
            .header-top__btns
                .header-btns__item.header-btns__item--lang
                    a(href='#').active en
                    .other
                        a(href='#') Рус
                        a(href='#') Бел
                        a(href='#') Ch

                a(href='#').header-btns__item.header-btns__item--eye
                    +icon('eye')
                a(href='./registration-form.html' data-form='regisration').header-btns__item.header-btns__item--registration.ajax-popup
                    +icon('key')
                    span Регистрация
                a(href='./enter-form.html').header-btns__item.header-btns__item--enter.ajax-popup
                    +icon('locked')
                    span вход

    .header-bottom
        .header-bottom__container.container
            a(href='/').header-logo
                img(src='./img/logo.svg')
                //.text
                //    | Белорусская
                //    br
                //    | универсальная
                //    br
                //    | товарная биржа
            .header-bottom__menu
                ul
                    li
                        a(href='#') Биржевые торги
                        .ar
                            +icon('ar-right-short')
                        ul.double-drop.dropdown
                            li
                                ul
                                    li
                                        a(href='#') Металлопродукция
                                    li
                                        a(href='#') Лесопродукция
                                    li
                                        a(href='#') Сельхозпродукция
                                    li
                                        a(href='#') Перспективные биржевые товары
                                    li
                                        a(href='#') Промышленные и потребительские товары
                            li
                                ul
                                    li
                                        a(href='#') Сопровождение сделок
                                    li
                                        a(href='#') Использование счёта биржи
                                    li
                                        a(href='#') Биржевой задаток
                                    li
                                        a(href='#') Биржевой договор
                                    li
                                        a(href='#') Работа трейдеров
                                    li
                                        a(href='#') Биржевой сбор
                                    li
                                        a(href='#') Регистрация внебиржевых сделок
                                    li
                                        a(href='#') Брокерство
                    li
                        a(href='#') Госзакупки и торги имуществом
                        .ar
                            +icon('ar-right-short')
                        ul.dropdown
                            li
                                a(href='#') Металлопродукция
                            li
                                a(href='#') Лесопродукция
                            li
                                a(href='#') Сельхозпродукция
                            li
                                a(href='#') Перспективные биржевые товары
                            li
                                a(href='#') Промышленные и потребительские товары
                            li
                                a(href='#') Сопровождение сделок
                            li
                                a(href='#') Использование счёта биржи
                            li
                                a(href='#') Биржевой задаток
                    li
                        a(href='#') Цифры и аналитика
                    li
                        a(href='#') Правовые акты
                    li
                        a(href='#') Арбитраж
                    li
                        a(href='#') Обучение
                    li
                        a(href='./contact.html') Контакты
            .header-bottom__mobile
                +icon('mobile-menu')
                +icon('cross')
    .header-bottom__mobile-menu
        .container
    include ./../modules/badsee