.main-slider
    .main-slider__grand
        .main-slider__grand-item(style='background-image: url(./img/slide1.jpg)')
            .container
                .text
                    .h1 Белорусская универсальная товарная биржа
                    p редоставляет пользователю инструментальное и технологическое обеспечение процессов подготовки, проведения и оформления результатов.
                    .link
                        a(href='#' class='link-green-full') Читать подробнее
        .main-slider__grand-item(style='background-image: url(./img/slide2.jpg)')
            .container
                .text
                    .h1 Белорусская универсальная товарная биржа
                    p редоставляет пользователю инструментальное и технологическое обеспечение процессов подготовки, проведения и оформления результатов.
                    .link
                        a(href='#' class='link-green-full') Читать подробнее
        .main-slider__grand-item(style='background-image: url(./img/slide1.jpg)')
            .container
                .text
                    .h1 Белорусская универсальная товарная биржа
                    p редоставляет пользователю инструментальное и технологическое обеспечение процессов подготовки, проведения и оформления результатов.
                    .link
                        a(href='#' class='link-green-full') Читать подробнее
        .main-slider__grand-item(style='background-image: url(./img/slide2.jpg)')
            .container
                .text
                    .h1 Белорусская универсальная товарная биржа
                    p редоставляет пользователю инструментальное и технологическое обеспечение процессов подготовки, проведения и оформления результатов.
                    .link
                        a(href='#' class='link-green-full') Читать подробнее



    .main-slider__nav
        .main-slider__nav-container
            .main-slider__nav-item(style='background-image: url(./img/slide1.jpg)')
            .main-slider__nav-item(style='background-image: url(./img/slide2.jpg)')
            .main-slider__nav-item(style='background-image: url(./img/slide1.jpg)')
            .main-slider__nav-item(style='background-image: url(./img/slide2.jpg)')

    .main-slider__arr
        .container
            .main-slider__arr-prev
                +icon('ar-left')
            .main-slider__arr-next
                +icon('ar-right')



