.main-catalog
    .container
        .main-catalog__container
            a.main-catalog__item(style='background-image: url(./img/cat1.png)' href='#')
                .hover
                    +icon('ar-right-small')
                    span
                    span
                .text
                    .h3 БИРЖЕВЫЕ ТОРГИ
                    p предоставляет пользователю инструментальное и технологическое обеспечение процессов подготовки, проведения и оформления результатов
            a.main-catalog__item(style='background-image: url(./img/сat3.png)' href='#')
                .hover
                    +icon('ar-right-small')
                    span
                    span
                .text
                    .h3 Торги ППТ
                    p предоставляет пользователю инструментальное и технологическое обеспечение процессов подготовки, проведения и оформления результатов
            a.main-catalog__item(style='background-image: url(./img/cat1.png)' href='#')
                .hover
                    +icon('ar-right-small')
                    span
                    span
                .text
                    .h3 Торги
                    p предоставляет пользователю инструментальное и технологическое обеспечение процессов подготовки, проведения и оформления результатов
            a.main-catalog__item(style='background-image: url(./img/сat3.png)' href='#')
                .hover
                    +icon('ar-right-small')
                    span
                    span
                .text
                    .h3 Цифры и аналитика
                    p предоставляет пользователю инструментальное и технологическое обеспечение процессов подготовки, проведения и оформления результатов
            a.main-catalog__item(style='background-image: url(./img/cat1.png)' href='#')
                .hover
                    +icon('ar-right-small')
                    span
                    span
                .text
                    .h3 БИРЖЕВЫЕ ТОРГИ
                    p предоставляет пользователю инструментальное и технологическое обеспечение процессов подготовки, проведения и оформления результатов
            a.main-catalog__item(style='background-image: url(./img/сat3.png)' href='#')
                .hover
                    +icon('ar-right-small')
                    span
                    span
                .text
                    .h3 Торги ППТ
                    p предоставляет пользователю инструментальное и технологическое обеспечение процессов подготовки, проведения и оформления результатов
            a.main-catalog__item(style='background-image: url(./img/cat1.png)' href='#')
                .hover
                    +icon('ar-right-small')
                    span
                    span
                .text
                    .h3 Торги
                    p предоставляет пользователю инструментальное и технологическое обеспечение процессов подготовки, проведения и оформления результатов
            a.main-catalog__item(style='background-image: url(./img/сat3.png)' href='#')
                .hover
                    +icon('ar-right-small')
                    span
                    span
                .text
                    .h3 Цифры и аналитика
                    p предоставляет пользователю инструментальное и технологическое обеспечение процессов подготовки, проведения и оформления результатов
            a.main-catalog__item(style='background-image: url(./img/сat3.png)' href='#')
                .hover
                    +icon('ar-right-small')
                    span
                    span
                .text
                    .h3 Торги ППТ
                    p предоставляет пользователю инструментальное и технологическое обеспечение процессов подготовки, проведения и оформления результатов


