.news-list
    .container
        .news-list-item__col
            .news-list-item
                .news-list-img(style="background-image: url('./img/content/news.jpg');")
                    a.news-list-zag(href="#")
                        | Новости
                        .news-list-ar
                            +icon('ar-right')
                .news-list-lnk
                    ul
                        li
                            a(href="#")
                                .news-list-date 10.10.2019
                                .news-list-name Латвия заинтересована в развитии биржевой торговли с Беларусью.
                            +icon('ar-right')
                        li
                            a(href="#")
                                .news-list-date 05.10.2019
                                .news-list-name Круглый стол по вопросам реализации лесопродукции.
                            +icon('ar-right')
                        li
                            a(href="#")
                                .news-list-date 01.10.2019
                                .news-list-name БУТБ и Посольство Ирана намерены совместно содействовать развитию белорусско-иранской торговли.
                            +icon('ar-right')

        .news-list-item__col
            .news-list-item.news-list--bidding
                .news-list-img(style="background-image: url('./img/content/today-bidding.jpg');")
                    a.news-list-zag(href="#")
                        | Торги сегодня
                        .news-list-ar
                            +icon('ar-right')
                .news-list-lnk
                    ul
                        li
                            a(href="#")
                                .news-list-date 09:50
                                .news-list-name Торги пшеницей на бирже с Европой: Польшей и Литвой.
                        li
                            a(href="#")
                                .news-list-date 10:00
                                .news-list-name Торги металлом и черепицей в бирже с Россией.
                        li
                            a(href="#")
                                .news-list-date 12:00
                                .news-list-name Торги металлом и черепицей в бирже с Россией.
                        li
                            a(href="#")
                                .news-list-date 14:30
                                .news-list-name Торги пшеницей на бирже с Европой: Польшей и Литвой.
                        li
                            a(href="#")
                                .news-list-date 17:10
                                .news-list-name Торги металлом и черепицей в бирже с Россией.
        .news-list-item__col
            .news-list-item
                .news-list-img(style="background-image: url('./img/content/news.jpg');")
                    a.news-list-zag(href="#")
                        | Акции
                        .news-list-ar
                            +icon('ar-right')
                .news-list-lnk
                    ul
                        li
                            a(href="#")
                                .news-list-date 10.10.2019
                                .news-list-name Латвия заинтересована в развитии биржевой торговли с Беларусью.
                            +icon('ar-right')
                        li
                            a(href="#")
                                .news-list-date 05.10.2019
                                .news-list-name Круглый стол по вопросам реализации лесопродукции.
                            +icon('ar-right')
                        li
                            a(href="#")
                                .news-list-date 01.10.2019
                                .news-list-name БУТБ и Посольство Ирана намерены совместно содействовать развитию белорусско-иранской торговли.
                            +icon('ar-right')
                //.news-list-lnk
                //    ul
                //        li
                //            a(href="#")
                //                .news-list__zag Биржевые котировки
                //                .news-list-name Котировки по категориям: металлопродукция, лесопродукция, сельхозпродукция, перспективные товары
                //            +icon('ar-right')
                //        li
                //            a(href="#")
                //                .news-list__zag Биржевые котировки
                //                .news-list-name Котировки по категориям: металлопродукция, лесопродукция, сельхозпродукция, перспективные товары
                //            +icon('ar-right')
                //        li
                //            a(href="#")
                //                .news-list__zag Биржевые котировки
                //                .news-list-name Котировки по категориям: металлопродукция, лесопродукция, сельхозпродукция, перспективные товары
                //            +icon('ar-right')
                //
