.pagination.end
    a(href='#' class='pagination-btn') Назад
    ul
        li.active
            a(href='#') 1
        li
            a(href='#') 2
        li
            a(href='#') 3
        li
            a(href='#') 4
    a(href='#' class='pagination-btn') Вперед