.partners
    .container
        .partners-block.partners--gov
            .partners-zag Официальные ресурсы
            .partners-slider
                a(href="#").partners-item
                    .partners-item-img
                        img(src="./img/content/coa.png" alt="")
                    .partners-item-zag Президент Республики Беларусь
                    .partners-item-path www.president.gov.by
                a(href="#").partners-item
                    .partners-item-img
                        img(src="./img/content/coa.png" alt="")
                    .partners-item-zag Министерство антимонопольного регулирования и торговли
                    .partners-item-path www.president.gov.by
                a(href="#").partners-item
                    .partners-item-img
                        img(src="./img/content/coa.png" alt="")
                    .partners-item-zag Национальный правовой портал Республики Беларусь
                    .partners-item-path www.pravo.by
        .partners-block
            a.partners-zag(href="#") Наши партнеры
            .partners-slider
                a(href="#").partners-item
                    img(src="./img/content/bsb-bank.png" alt="")
                a(href="#").partners-item
                    img(src="./img/content/vigidas-pack.png" alt="")
                a(href="#").partners-item
                    img(src="./img/content/coremax-bs.png" alt="")
                a(href="#").partners-item
                    img(src="./img/content/coremax-bs.png" alt="")