.error-404 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 150px 0;
    @include xs-block() {
        margin: 90px 0;
    }
    &__item {
        &:first-child {
            margin-right: 120px;
            @include md-block() {
                margin-right: 50px;
                margin-left: 50px;
                
            }
            @include xs-block() {
                margin-right: 0px;
                margin-left: 0px;
            }
        }

        &:last-child {
            margin-left: 120px;
            @include md-block() {
                margin-left: 50px;
                margin-right: 50px;
            }
            @include xs-block() {
                margin-right: 0px;
                margin-left: 0px;
            }
        }

        @include md-block() {
            margin-top: 50px;
        }
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    &__text {
        margin-top: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        min-height: 120px;

        h5 {
            font-weight: bold;
            font-size: 48px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #23b236;
            text-align: center;
        }

        h6 {
            margin: 5px 0px;
            font-weight: bold;
            font-size: 16px;
            line-height: 1.185;
            color: #23b236;
            text-align: center;
        }

        span {
            font-family: Montserrat;
            font-style: italic;
            font-weight: normal;
            font-size: 14px;
            line-height: 1.426;
            color: #404040;
            text-align: center;
            @include xxs-block() {
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        a {
            text-decoration: none;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 1.375;
            color: #ffffff;
            padding: 12px 18px 10px 18px;
            border: 1px solid transparent;
            background: linear-gradient(225.41deg, #23b236 0%, #409145 100%);

            &:hover {
                background: white;
                color: #23b236;
                border: 1px solid #23b236;
                transition: 0.25s;
            }
        }

        .search {
            width: 100%;
            margin-top: 30px;
            align-self: stretch;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            form {
                @include md-block() {
                    margin: 0px 15px;
                }
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: row;

                input[type="submit"] {
                    cursor: pointer;
                    border: 0;
                    width: 30px;
                    height: 30px;
                    transition: 0.3s;
                    background: none;
                    font-size: 0;
                    border: none;
                    border-bottom: 1px solid #d1d3d4;
                }

                .styler {
                    border: none;
                    box-shadow: none;
                    width: 100%;
                    border-bottom: 1px solid #d1d3d4;
                    font-style: italic;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: #3e3e3e;
                    border-radius: 0px;
                    padding: 0;

                    &:focus,
                    &:hover {
                        box-shadow: none;
                    }
                }

                svg {
                    z-index: -1;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                }

                //place-holder
                ::-webkit-input-placeholder {
                    color: #3e3e3e;
                    font-style: italic;
                }

                ::-moz-placeholder {
                    color: #3e3e3e;
                    font-style: italic;
                }

                /* Firefox 19+ */
                :-moz-placeholder {
                    color: #3e3e3e;
                    font-style: italic;
                }

                /* Firefox 18- */
                :-ms-input-placeholder {
                    color: #3e3e3e;
                    font-style: italic;
                }
            }
        }
    }
}

.by_version {
    .error-404 {
        &__text {
            font-family: 'helvetica';
        }
    }
}