/*.breadcrumbs {
	padding: 70px 0 0;
	overflow-x: hidden;
	position: relative;

	@include sm-block() {
		padding-top: 30px;
	}

	@include xxs-block() {
		position: relative;
		overflow-x: hidden;
	}

	&::before {
		content: '';
		z-index: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 32px;
		background-image: linear-gradient(to right, rgba(255,255,255,0), #fff);
	}
}

.bx-breadcrumb {
	display: flex;

	&-item {
		&:not(:last-child) {
			position: relative;

			&:after {
				content: '';
				width: 14px;
				height: 1px;
				margin: 0 5px;
				position: absolute;
				right: 2px;
				top: 6px;
				background-color: #404040;
			}

			a {
				padding-right: 28px;
				span {
					color: #005939;
					text-decoration: underline;
					transition: 0.25s;
				}

				&:hover {
					span {
						text-decoration-color: transparent;
					}
				}
			}
		}

		.fa {
			display: none;
		}
	}

	.bx-breadcrumb-item {
		margin-right: 0 !important;

		span {
			white-space: nowrap !important;
			font-family: 'pragmatica', sans-serif !important;
			font-size: 16px !important;
		}
	}
}

.by_version {
	.bx-breadcrumb {
		.bx-breadcrumb-item {
			span {
				font-family: 'helvetica' sans-serif !important;
			}
		}
	}
}
*/
$blue: #4DAA59;
.breadcrumbs{
	font-size: 16px;
	line-height: 120%;
	background-color: #F1F4F5;
	border-bottom: 1px solid #F1F4F5;
	border-top: 1px solid #F1F4F5;
	padding: 18px 0;
	margin-top: 1px;
	@include xs-block(){
		padding: 14px 10px;
	}
	span{
		color: #2B2B2B;
		text-transform: lowercase;
		font-size: 15px;
		@include xs-block(){
			font-size: 13px;
		}
	}
	a{
		transition: .3s;
		text-decoration: underline;
		color: $blue;
		font-size: 15px;
		@include xs-block(){
			font-size: 13px;
		}
		span{
			font-size: 15px;
			line-height: 110%;
			color: $blue;
			position: relative;
			padding-right: 44px;
			@include xs-block(){
				padding-right: 30px;
				font-size: 13px;
			}
			&::before{
				content: '';
				width: 15px;
				height: 2px;
				background-color: $blue;
				position: absolute;
				top: calc(50% - 1px);
				right: 13px;
				box-sizing: border-box;
				@include xs-block(){
					width: 10px;
					right: 10px;
				}
			}
		}
		&:hover{
			text-decoration: none;
		}
	}
}
.bx-breadcrumb{
	display: flex;
	justify-content: center;
}