.footer {
	border-top: 1px solid #d1d3d4;

	.container {
		display: flex;
		flex-wrap: wrap;
	}

	&-w25 {
		width: 25%;
	}

	&-w50 {
		width: 50%;
	}

	&-item {
		padding-left: 30px;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&.accordion {
			margin: inherit;
		}

		&-zag {
			position: relative;
			margin-bottom: 10px;
			line-height: 116%;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				font-size: 18px;
				line-height: 116%;
				color: $green;
				text-decoration: underline;
				text-decoration-color: transparent;

				&:hover {
					text-decoration-color: #005939;
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: -27px;
				transform: translateY(-50%);
				width: 15px;
				height: 2px;
				background-color:  $green;
			}
		}

		ul {
			li {
				line-height: 128%;

				&:not(:last-child) {
					margin-bottom: 5px;
				}

				a {
					font-size: 14px;
					line-height: 128%;
					color: #575757;

					&:hover {
						color: $green;
					}
				}
			}
		}
	}

	&-top {
		background-color: #f9f9f9;
		padding: 60px 0;

		@include sm-block() {
			padding: 30px 0;
		}

		.footer-w25 {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-sizing: border-box;

			&:not(:last-child) {
				@include md-block() {
					padding-right: 20px;
				}

				@include xs-block() {
					padding-right: 0;
				}

				@include xxxs-block() {
					margin-bottom: 20px;
				}
			}

			&:nth-child(odd) {
				@include xs-block() {
					padding-right: 20px;
				}

				@include xxxs-block() {
					padding-right: 0;
				}
			}

			&:not(:nth-last-child(-n + 2)) {
				@include xs-block() {
					margin-bottom: 20px;
				}
			}

			@include xs-block() {
				width: 50%;
			}

			@include xxxs-block() {
				width: 100%;
			}
		}
	}

	&-bottom {
		line-height: 118%;
		padding: 40px 0;
		background-color: #f1f4f5;

		@include sm-block() {
			padding: 20px 0;
		}

		a {
			text-decoration: underline;
			text-decoration-color: transparent;
			color: $green;
			&:hover {
				color: #005939;
				text-decoration-color: #005939;
			}
		}

		.footer-w25 {
			padding-left: 30px;

			@include md-block() {
				width: 50%;
			}
			@include xs-block() {
				width: 40%;
			}

			@include xxs-block() {
				width: 100%;
			}

			&:not(:last-child) {
				@include xxs-block() {
					margin-bottom: 10px;
				}
				
			}
		}
		

		.footer-w50 {
			padding-left: 30px;

			@include md-block() {
				width: 100%;
				margin-bottom: 10px;
			}
		}

		.copyml {
			@include md-block() {
				text-align: right;
			}
			
			@include xs-block() {
				width: 60%;
			}
			@include xxs-block() {
				width: 100%;
				text-align: left;
			}
		}
	}
}