$drop: calc(-(100vw - 1440px) / 2);
$drop-md: calc((100vw - 1180px) / 2);

.header{
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.11);
	&-logo{
		display: flex;
		align-items: center;
		padding: 8px 0;
		img {
			margin-right: 11px;
			max-width: 177px;
			max-height: 62px;
			@include md-block(){
				width: 110px;
			}
		}
		.text{
				text-transform: uppercase;
				line-height: 1.2;
				font-weight: bold;
				font-size: 12.5px;
				color: #5c5c5c;
			@include md-block(){
				font-size: 10px;
			}
		}
	}
	&-top{
		background-color: #F1F4F5;
		border-bottom: 1px solid #DBDBDB;
		z-index: 985;
		&__container{
			display: flex;
			justify-content: flex-start;
			position: relative;
		}
		&__btns{
			display: flex;
			flex-wrap: wrap;
			order: 3;
			@include md-block() {
				justify-content: center;
				border: 1px solid #DBDBDB;
				border-top: 0;
			}
			@include xxs-block() {
				border: 0;
				border-bottom: 1px solid #DBDBDB;
			}
		}
		&__search{
			border-right: 1px solid #DBDBDB;
			display: flex;
			align-items: center;
			order: 2;
			@include md-block() {
				border: 1px solid #DBDBDB;
				border-top: 0;
			}
			input{
				&[type='text']{
					border: 0;
					background-color: transparent;
					height: 100%;
					width: calc(325px - 50px);
					font-style: italic;
					@include lg-block(){
						width: calc(285px - 50px);
					}
					@include md-block() {
						width: calc(100% - 50px);
						min-height: 50px;
						padding: 10px;
					}
					&::placeholder{
						font-style: italic;
						color: #D1D3D4;
					}
				}
				&[type='submit']{
					font-size: 0;
					border: 0;
					background: none;
					background-image: url(../img/svg/search.svg);
					background-position: center;
					background-repeat: no-repeat;
					width: 20px;
					background-size: 20px;
					height: 100%;
					min-width: 50px;
					transition: 0.3s;
					color: #D1D3D4;
					cursor: pointer;
					@include md-block() {
						min-height: 50px;
						border-right: 1px solid #DBDBDB;
					}
					&:hover{
						opacity: 0.7;
					}
				}
			}
		}
	}
	&-bottom{
		background-color: #fff;
		z-index: 983;
		position: relative;
		border-bottom: 1px solid #DBDBDB;
		&__container{
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			align-items: center;
			@include md-block(){
				display: flex;
				justify-content: space-between;
			}
		}
		&__menu{
			display: flex;
			flex-wrap: wrap;
			padding: 0 15px;
			z-index: 300;
			@include md-block() {
				padding: 0;
			}
			ul{
				display: flex;
				flex-wrap: wrap;
				@include md-block() {
					width: 100%;
				}
				li{
					position: relative;
					z-index: 99;
					@include md-block() {
						width: 100%;
						border-bottom: 1px solid #d1d3d4;
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-wrap: wrap;
						transition: 0.3s;
						transition-timing-function: linear;
					}
					.ar{
						display: none;
						align-items: center;
						justify-content: center;
						width: 50px;
						height: 50px;
						cursor: pointer;
						transition: .3s;
						outline: none;
						.icon{
							width: 8px;
							height: 14px;
							fill: #005939;
						}
						@include md-block() {
							display: flex;

						}
					}
					&.active{
						> a {
							color: #4DAA59 !important;
						}
					}
					&.open{
						> a{
							color: #4DAA59 !important;
						}
						.ar{
							transform: rotate(-90deg);
						}
					}
					&:hover{
						> a{
							color: #4DAA59;
							@include md-block() {
								color: initial;
							}
						}
						.dropdown{
							transition: .5s;
							top: 100%;
							visibility: visible;
							opacity: 1;
							@include md-block() {
								transition: .3s;
								top: auto;
							}
						}
					}
					a{
						padding: 29px 18.5px;
						font-size: 16px;
						line-height: 137%;
						color: #404040;
						transition: 0.3s;
						@include lg-block(){
							padding: 29px 14px;
							font-size: 15px;
						}
						@include md-block() {
							padding: 16px 10px;
							width: calc(100% - 50px);
						}
					}

				}
				.dropdown{
					position: absolute;
					z-index: 50;
					background-color: #fff;
					box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
					padding: 30px;
					visibility: hidden;
					opacity: 0;
					top: calc(100% + 100px);
					left: -10px;
					min-width: 300px;
					@include md-block() {
						position: initial;
						top: auto;
						box-shadow: none;
						visibility: visible;
						opacity: 1;
						padding: 0px 20px !important;
						left: auto !important;
						width: 100% !important;
						display: none;
						transition: 0.3s;
						transition-timing-function: linear;
					}
					li{
						display: block;
						width: 100%;
						border-bottom: 0;
					}
					a{
						margin-bottom: 7px;
						width: 100%;
						padding: 0;
					}
				}
				.double-drop{
					display: flex;
					width: 800px;
					padding: 32px 80px;
					left: -65px;
					@include md-block() {
						display: none;
					}

					> li{
						width: calc(50% - 40px);
						margin-right: 80px;
						@include md-block() {
							margin-right: 0;
							width: 100%;
						}
						&:last-child{
							margin-right: 0;
							@include md-block(){
								padding-top: 10px;
								margin-top: 10px;
								border-top: 1px solid #d1d3d4;
							}
						}
					}
				}

			}
		}
		&__mobile {
			display: none;
			@include md-block() {
				display: block;
			}
			.icon {
				cursor: pointer;
				padding: 16px;
				box-sizing: content-box;
				@include md-block() {
					display: block;
				}
			}
			&-menu {
				display: none;
				@include md-block() {
					width: 100%;
					z-index: 100;
					position: absolute;
					top: 56px;
					right: 0;
					background-color: #fff;
					padding: 0 20px 12px 20px;
					overflow-y: auto;
					overflow-x: hidden;
					box-shadow: -4px 0px 25px rgba(0, 0, 0, 0.06);
				}
				@include sm-block(){
					padding: 0 0 40px 0;
				}
				@include xxs-block() {
					top: 56px;
				}
			}
			.icon-cross {
				display: none;
			}
			&.open {
				.icon-cross {
					display: block;
				}
				.icon-mobile-menu {
					display: none;
				}
			}
		}
	}


	&-phones{
		&__front{
			position: relative;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			cursor: pointer;
			display: flex;

			&-text{
				background-color: #F9F9F9;
				display: flex;
				align-items: center;
				padding: 20px 14px;
				border-right: 1px solid #DBDBDB;
				border-left: 1px solid #DBDBDB;
				@include md-block(){
					padding: 17px 10px;
				}

				.icon{
					fill: #4DAA59;
					width: 30px;
					height: 30px;
					margin-right: 9px;
					@include md-block(){
						width: 20px;
						height: 20px;
						margin-right: 0;
					}
				}
			}
			&-phone{
				padding: 7px 19px;
				border-right: 1px solid #DBDBDB;
				@include lg-block(){
					padding: 7px 10px;
				}
				@include md-block(){
					display: none;
				}
				a{
					width: 100%;
					display: block;
					font-size: 15px;
					line-height: 17px;
					text-transform: uppercase;
					color: #4DAA59;
					margin-bottom: 3px;
					text-decoration: underline;
					text-decoration-color: transparent;
					transition: .3s;
					&:hover{
						text-decoration-color:  #4DAA59;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			&.open{
				.header-phones__front-content .name .icon {
					transform: rotate(180deg);
				}
			}
			.icon-phone-msg{
				fill: #fff;
				width: 25px;
				height: 25px;
				margin-right: 12px;
			}
			&-content{
				width: calc(100% - 37px);
				display: flex;
				justify-content: flex-start;
				flex-wrap: wrap;
				.name{
					position: relative;
					padding-right: 14px;
					font-size: 16px;
					line-height: 19px;
					@include lh(16, 19);
					text-transform: uppercase;
					color: #4DAA59;
					@include lg-block(){
						font-size: 14px;
					}
					@include md-block(){
						font-size: 0;
					}
					&:hover{
						.icon{
							transform: rotate(180deg);
						}
					}
					.icon{
						width: 7px;
						height: 5px;
						position: absolute;
						right: 0;
						top: calc(50% - 4px);
						transition: .4s;
						fill: #4DAA59;
						margin: 0;
					}
				}
				> a{
					color: #FFE89E;
					font-size: 10px;
					line-height: 120%;
					&:last-child{
						margin-left: 10px;
					}
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
		&__back{
			padding-left: 20px;
			padding-right: 20px;
			position: absolute;
			top: 130px;
			left: 50%;
			box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
			background-color: #fff;
			transform: rotateX(90deg) translateX(-50%);
			transform-origin: top;
			transition: 0.4s;
			opacity: 0;
			visibility: hidden;
			width: 100vw;

			@include md-block(){
				left: 0;
				overflow: auto;
				top: 56px;
				transform: rotateX(90deg);
				min-height: 100vh;
			}
			.close-mob{
				display: none;
				position: absolute;
				right: 0px;
				top: 10px;
				cursor: pointer;
			}
			&.open{
				transform: rotateX(0deg) translateX(-50%);
				width: 100vw;
				opacity: 1;
				left: $drop;
				visibility: visible;
				@include md-block(){
					left: 0;
					top: 56px;
					transform: rotateX(0deg);
				}
			}
			.container{
				display: flex;
				flex-wrap: wrap;
				@include md-block(){
					padding-top: 30px;
				}
			}
			&-block{
				width: 25%;
				padding: 40px 0;
				@include md-block(){
					width: 100%;
					padding: 20px 0;
				}
			}
			&-zag{
				font-size: 18px;
				@include lh(18,21);
				color: #4DAA59;
				margin-bottom: 13px;
			}
			.link-border {
				margin: 5px 0 30px;
				@include md-block(){
					margin-bottom: 0;
				}
			}
			&-img{
				margin-left: 50px;
				max-height: 100%;
				max-width: 100%;
				display: block;
				transform: translateY(40px);
				@include md-block(){
					display: none;
				}
			}
			&-mob{
				margin: 20px 0;
				display: flex;
				transition: .3s;
				&:hover{
					margin-left: 10px;
				}
			}
			&-address{
				margin-bottom: 17px;
				div:not(.header-phones__back-zag){
					font-weight: 300;
					font-size: 16px;
					@include lh(16,22);
					color: #404040;
					margin-top: 13px;
				}
			}
			&-list{
				li{
					margin-bottom: 20px;
				}
				a{
					font-size: 16px;
					@include lh(16,19);
					text-transform: uppercase;
					color: #404040;
					padding-left: 30px;
					&:hover{
						text-decoration: underline;
					}
					margin-right: 18px;
				}
				&.with-ico{
					a{
						background-position: left center;
						background-repeat: no-repeat;
						background-size: contain;
					}
				}
				.mail{
					font-weight: 300;
					font-size: 16px;
					line-height: 22px;
					text-decoration-line: underline;
					color: #4DAA59;
					text-transform: none;
					&:hover{
						text-decoration: none;
					}
				}
				br {
					@include md-block() {
						display: none;
					}
				}
			}
			&-menu{
				> li{
					margin-bottom: 20px;
					> a{
						font-size: 18px;
						@include lh(18,21);
						color: #4DAA59;
						padding-right: 10px;
						transition: .3s;
						&:hover{
							opacity: .7;
						}
					}
					ul{
						margin-top: 20px;
						@include md-block() {
							display: none;
						}
						a{
							font-weight: 300;
							font-size: 16px;
							@include lh(16,22);
							color: #404040;
							margin-bottom: 6px;
							padding-right: 10px;
							transition: .3s;
							&:hover{
								color: #4DAA59;
							}
						}
					}
				}
			}
		}
	}


	&-btns{
		&__item{
			background-color: #F1F4F5;
			border-right: 1px solid #DBDBDB;
			padding: 10px;
			min-width: 48px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			@include md-block() {
				background-color: transparent;
			}
			@include xxs-block() {
				width: calc(100% / 5);
			}
			.icon{
				fill: #3E3E3E;
				transition: .3s;
			}
			.icon + span{
				margin-left: 13px;
			}
			span{
				line-height: 1;
				transition: .2s;
				font-weight: 300;
			}
			&:hover{
				.icon{
					opacity: 0.7;
					transform: scale(0.95);
				}
				span{
					opacity: 0.7;
				}
			}


			&--lang{
				text-transform: uppercase;
				font-size: 16px;
				color: #3E3E3E;
				position: relative;
				padding: 0px;
				@include md-block() {
					border-left: 1px solid #DBDBDB;
				}
				.active{
					z-index: 10;
					position: relative;
					color: #4DAA59;
				}
				a{
					background-color: #F1F4F5;
					padding: 5px;
					@include md-block() {
						background-color: transparent;
					}
					&:hover{
						color: #4DAA59;
					}
				}
				.other {
					@include lg-block{
						padding: 0 9px;
						position: absolute;
						height: 100%;
						top: 0;
						left: 0%;
						width: 0;
						background-color: #F1F4F5;
						z-index: 5;
						display: flex;
						justify-content: space-between;
						align-items: center;
						opacity: 0;
						transition: .3s;
						visibility: hidden;
						border-right: 1px solid #DBDBDB;
						@include md-block() {
							background-color: #fff;
						}
					}

				}
				&.open .other {
					@include lg-block{
						width: 135px;
						opacity: 1;
						left: 100%;
						visibility: visible;
					}
				}
			}
			&--eye{
				.icon{
					width: 25px;
					height: 25px;
				}
			}
			&--registration, &--enter{
				padding-left: 26px;
				padding-right: 26px;
				text-transform: uppercase;
				font-size: 15px;
				@include lh(15, 19);
				@include lg-block(){
					padding-left: 10px;
					padding-right: 10px;
				}

				span{
					font-weight: bold;
					@include md-block() {
						display: none;
					}
				}
				.icon{
					fill: $green;
				}
				&:hover{
					.icon{
						opacity: 1;
						transform: none;
					}
					span{
						opacity: 1;
						color: $green;
					}
				}
			}
			&--calendar{
				text-transform: none;
				position: relative;
				padding-left: 25px;
				padding-right: 25px;
				@include lg-block(){
					padding-left: 15px;
					padding-right: 15px;
				}
				.icon{
					fill: $green;
				}
				span{
					@include xxs-block(){
						display: none;
					}
				}
				&:hover{
					> .icon, > span{
						opacity: 1;
						color: $green;
						transform: none;

					}
				}
				> .icon, > span{
					cursor: pointer;
				}

			}
			&--registration{
				border-right: 0;
				&::before{
					content: '';
					width: 1px;
					height: 20px;
					position: absolute;
					right: 0;
					top: calc(50% - 10px);
					background-color: #DBDBDB;
				}

			}
			&--enter{

			}
		}
	}
}

.header-top{
	.header-top__search{
		@include md-block(){
			display: none;
		}

	}
}
.header-bottom__mobile-menu{
	.container{
		display: flex;
		flex-wrap: wrap;
	}
	.header-top__btns{
		order: 1;
		width: 100%;
	}
	.header-top__search{
		order: 2;
		width: 100%;
	}
	.header-bottom__menu{
		order: 3;
		width: 100%;
	}

}