.badsee-config {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	display: none;
	flex-wrap: wrap;
	font-size: 16px;
	border: 1px solid #000;
	background-color: #fff;
	z-index: 1000;
}

.badsee-show {
	display: flex;
}

.badsee-config img {
	display: block;
}

.badsee-config button {
	display: block;
	border: none;
	background-color: transparent;
	font-size: 16px;
	cursor: pointer;
	border: 1px solid #000;
}

.badsee-zag {
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}

.badsee-w100 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid #000;
}

.badsee-w100 button {
	padding: 10px;
}

.badsee-w25 {
	width: 25%;
	padding: 10px;

	@include sm-block() {
		width: 50%;
	}

	@include xxs-block() {
		width: 100%;
	}
}

.badsee-w25:nth-child(2),
.badsee-w25:nth-child(3) {
	@include sm-block() {
		border-bottom: 1px solid;
	}

	@include xxs-block() {
		border-bottom: none;
	}
}

.badsee-w25:not(:last-of-type) {
	border-right: 1px solid #000;

	@include sm-block() {
		border-right: none;
	}
}

.badsee-w25 button {
	width: 100%;
	padding: 10px;
}

.badsee-w25 button:not(:last-child) {
	margin-bottom: 10px;
}

.badsee-w25 button.active {
	background-color: #000;
	color: #fff;
}

/* Общие стили */
.badsee {
	.error-404__item{
		img{
			filter: grayscale(1);
		}
	}
	&[class*="badsee-ls"],
	&[class*="badsee-fs"] {
		.trate {
			min-width: 1500px;
			max-height: 500px;
		}
	}

	.main-slider__grand-item .h1,
	.main-slider__grand-item h1,
	.main-slider__grand-item .h1 * {
		word-break: break-word;
	}

	.search-result__form {
		margin-top: 40px;
		padding-top: 10px;
	}

	.text-page p {
		margin: 30px 0;
	}

	.text-page ul>li {
		word-break: break-word;
	}

	.text-page .application.with-r-col>p {
		width: 100%;
	}

	.text-page .application.with-r-col>.r-col {
		width: 100%;
		align-items: flex-start;
		padding-left: 0;
	}

	.timetables-market__item.v2:not(:last-child) {
		border-bottom: 1px solid;
	}

	.timetables-market__item.v2 li:nth-child(1),
	.timetables-market_tabs__name.v2 li:nth-child(1),
	.timetables-market_tabs__name.v2 li:nth-child(2),
	.timetables-market__item.v2 li:nth-child(2) {
		@include sm-block {
			width: 50%;
		}
	}

	.timetables-market__item.v2 li:nth-child(3) {
		@include sm-block() {
			width: 100%;
		}
	}

	.timetables-market_tabs__list.with-filter .timetables-market__filter:before {
		display: none;
	}

	.timetables-market_tabs__list.with-filter {
		flex-wrap: wrap;
	}

	.timetables-market_tabs__list.with-filter>ul {
		width: 100%;
	}

	.timetables-market_tabs__list.with-filter .timetables-market__filter {
		width: 100%;
	}

	.timetables-market_tabs__list.with-filter .timetables-market__filter .slick-prev {
		left: 20px;
		z-index: 1000;
	}

	.timetables-market_tabs__list.with-filter .timetables-market__filter .slick-next {
		right: 20px;
		z-index: 1000;
	}

	.timetables-market_tabs__list.with-filter .timetables-market__filter .slick-arrow {
		font-size: 0;
	}

	.timetables-market_tabs__list.with-filter .timetables-market__filter .slick-slide:not(.slick-current) {
		opacity: 0;
	}

	.slick-next:before,
	.slick-prev:before {
		display: none;
	}

	.timetables-market {
		@include md-block() {
			overflow-y: auto;
		}

		.timetables-market_tabs__name,
		.timetables-market__items {
			@include md-block() {
				min-width: 1200px;
			}
		}
	}

	.cont-quest>li {
		border-bottom: 1px solid;

		@include xxs-block() {
			padding: 0;
		}
	}

	.header-phones__front-content .name {
		@include md-block() {
			display: none;
		}
	}

	.text-page.container-md .page-zag {
		word-break: break-word;
	}

	.timetables-market__item.v5 a {
		text-decoration: none;
	}

	.timetables-market__item.v5 li:nth-child(1) {
		display: none;
	}

	.timetables-market__item.v5 ul {
		@include md-block() {
			flex-direction: column;
		}
	}

	.timetables-market__item.v5 li:nth-child(2) {
		@include md-block() {
			width: 100%;
		}
	}

	.timetables-market__item.v5 li:nth-child(3) {
		width: 150px;

		@include md-block() {
			width: 100%;
			justify-content: flex-start;
		}
	}

	.accordion-body {
		@include xxs-block() {
			padding: 0;
		}
	}

	.marked-text {
		@include md-block() {
			padding-left: 20px;
		}

		@include xxs-block() {
			padding-left: 0;
		}
	}

	.page-zag--green :nth-child(1),
	.page-zag--green :nth-child(2) {
		@include md-block() {
			padding-left: 0;
		}
	}

	.accordion-head .page-zag--green :nth-child(1):after {
		@include md-block() {
			left: 0;
		}
	}

	.marked-text {
		border: none;
	}

	.jq-selectbox,
	.jq-selectbox__dropdown {
		border-radius: 0px;
	}

	.jq-selectbox__select {
		text-shadow: none;
	}

	.filter.absolute {
		position: relative;
		top: inherit;
		padding-bottom: 0;
	}

	.filter.open .filter__select {
		right: auto;
		left: 0;
	}

	.filter-broker__set {
		padding: 12px;
	}

	.table-cont {
		overflow-x: auto;
	}

	.broker-table {
		width: 1500px;
	}

	.broker-table__col:nth-child(1) {
		min-width: 300px;
	}

	.broker-table__col:nth-child(2) {
		min-width: 150px;
	}

	.broker-table__col:nth-child(3),
	.broker-table__col:nth-child(4),
	.broker-table__col:nth-child(5) {
		min-width: 350px;
	}

	.accordion-date {
		width: 200px;

		@include xxs-block() {
			width: 100%;
		}
	}

	.accordion.with-date .accordion-head {
		width: calc(100% - 200px);

		@include xxs-block() {
			width: 100%;
		}
	}

	.accordion.with-date .accordion-body {
		padding-left: 200px;

		@include xxs-block() {
			padding-left: 0;
		}
	}

	.header-phones__back {
		min-height: 90vh;
	}

	&.overflow-hidden {
		overflow: inherit;
		position: inherit;
		height: auto;
	}

	.main-slider__grand-item {
		height: auto;
		padding: 50px 0 150px 0;
	}

	.header-phones__back {
		width: 0;

		&.open {
			width: 100vw;
			z-index: 100;
		}
	}

	.header {
		position: static;
	}

	.header-phones__front-text {
		@include md-block() {
			display: none;
		}
	}

	.header-phones__front-text .icon,
	.header-btns__item--calendar .icon,
	.header-btns__item--registration .icon,
	.header-btns__item--enter .icon,
	.main-slider__nav,
	.news-list-ar,
	.partners-block:not(.partners--gov),
	.partners--gov .partners-item-img,
	.news-list-lnk ul li .icon-ar-right,
	.main-catalog__item::before,
	.news-list-lnk:before,
	.news-list-lnk:after,
	.news-list-lnk ul li:before,
	.main-catalog__item .hover,
	.footer-item-zag:before,
	.scrollTop__container::before,
	.list-social .icon,
	.header-phones__back-block:last-child,
	.main-slider__arr-next::before,
	.main-slider__arr-next::after,
	.popup-calendar__list .img,
	.text-page img,
	.page-zag .img:before,
	.page-zag .img,
	.page-zag:before,
	.page-zag--green :nth-child(1):before,
	.about:before,
	.about:after,
	.p-block--img,
	.filter-broker__set:hover::before,
	.bulleten-img,
	.marked-text img,
	.hum img,
	.ss,
	.news-list__item-img,
	.news::before,
	.news::after,
	.text-page .application .img,
	.text-page .notice:before,
	.videobroker-table {
		display: none;
	}

	.popup-calendar__list {
		flex-wrap: wrap;
	}

	.partners--gov .slick-slide:nth-of-type(1) .partners-item,
	.partners--gov .slick-slide:nth-of-type(2) .partners-item,
	.partners--gov .slick-slide:nth-of-type(3) .partners-item {
		border-top: 1px solid;
	}

	.main-slider__grand-item,
	.news-list-img,
	.main-catalog__item,
	.header-phones__back-list a {
		background-image: none !important;
	}

	.text-page ul>li:before,
	.pagination ul .active,
	.partners--gov .partners-item,
	.bulleten-zag {
		background-image: none;
	}

	.error-404__text a {
		background: none;
	}

	.header-phones__front-content,
	.main-slider__grand-item .text,
	.partners-block.partners--gov,
	.popup-calendar__list-block {
		width: 100%;
	}

	.main-catalog__item {
		height: auto;
	}

	.header-logo img,
	.header-phones__back-mob img,
	.timetables-market_tabs__list.with-filter .timetables-market__filter .slick-arrow,
	.trate-c {
		filter: grayscale(1);
	}

	.header-btns__item .icon+span {
		margin-left: 0;
	}

	.news-list__item-text {
		padding: 40px 20px;
		margin: 0;
	}

	.header-phones__front-content .name {
		padding-right: 0;
	}

	.partners-zag {
		padding-left: 30px;
		padding-right: 30px;
	}

	.news-list-img,
	.news-list-item {
		padding-bottom: 0;
	}

	.header-phones__back-list a,
	.text-page.container-md p,
	.text-page.container-md .double-links {
		padding-left: 0;
		margin-right: 0;
	}

	.partners-slider .slick-slide {
		margin: 5px 0;
		min-width: 100%;
	}

	.partners-item-zag {
		margin-left: 0;
		margin-bottom: 0;
		min-height: 0;
		font-size: 16px;
	}

	.partners-item-path {
		margin-left: 0;
		font-size: 16px;
	}

	.popup-calendar__list-block span {
		font-size: 16px;
	}

	.main-slider__arr-prev .icon,
	.main-slider__arr-next .icon {
		width: 32px;
		height: 32px;
		opacity: 1;
	}

	.news-list-zag {
		position: static;
	}

	.header,
	.header-bottom__menu ul .dropdown,
	.header-phones__back,
	.partners-item:hover,
	.popup-calendar,
	.scrollTop,
	.text-page table,
	.container--double .text-page__menu-btn,
	.header-bottom__mobile-menu,
	.filter__select,
	.jq-selectbox__dropdown {
		box-shadow: none;
	}

	.header-btns__item--lang .active {
		text-decoration: underline;
	}

	.header-phones__front-phone a,
	.header-phones__back-list a,
	.footer-item-zag a,
	.footer-bottom a {
		text-decoration: none;
	}

	.header-phones__front-text,
	.header-top,
	.header-btns__item,
	.header-btns__item--lang a,
	.link-green-full,
	.link-green,
	.jq-selectbox li.selected,
	.jq-selectbox li:hover {
		background-color: transparent;
	}

	.header-phones__back-menu>li>a:hover {
		opacity: 1;
	}

	.main-slider__arr-prev,
	.main-slider__arr-next {
		border: none;
	}

	.p-block-50,
	.p-block-text {
		width: 100%;
	}

	.p-block-text,
	.p-block-text>div,
	.bulleten-text,
	.hum-post,
	.hum-name {
		max-width: 100%;
	}

	.p-block {
		padding-bottom: 0;
	}

	.text-page.container-md .breadcrumbs,
	.text-page.container-md h2,
	.text-page.container-md h3,
	.text-page.container-md h4,
	.text-page.container-md ul,
	.text-page.container-md ol,
	.text-page.container-md .accordion,
	.text-page.container-md .notice,
	.text-page.container-md .attachment,
	.about .p-block-50:nth-child(1) .p-block-text {
		padding-left: 0;
		padding-right: 0;
	}

	.bulleten-text {
		padding-left: 0;
		padding-top: 0;
	}

	.text-page.container-md .page-zag {
		margin-left: 0;
	}

	.page-zag,
	.marked-text {
		margin: 20px 0;
	}

	.bulleten-zag {
		margin-bottom: 20px;
	}

	.about .p-block-50:nth-child(2) .p-block-text,
	.hum-post,
	.hum-name {
		padding-left: 0;
	}

	.partners-item {
		max-width: calc(100% - 2px);
	}

	.partners-block {
		@include md-block() {
			padding-left: 0;
		}
	}

	.partners-slider .slick-slide {
		@include sm-block() {
			min-width: inherit;
		}
	}

	.page-zag {
		padding-left: 0;
	}

	&[class*="badsee-fs"] {

		.header-phones__front-text,
		.header-phones__front-phone,
		.header-btns__item,
		.header-bottom__menu {
			padding-left: 5px;
			padding-right: 5px;

			@include lg-block() {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.header-btns__item--lang {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&[class*="badsee-fs"] {
		.header-bottom__menu ul li a {
			padding: 10px 20px;
		}
	}

	.news-list-item {
		width: calc(50% - 10px);
		margin-right: 0;
		margin-bottom: 20px;

		@include sm-block() {
			width: 100%;
		}

		&:nth-child(odd) {
			margin-right: 20px;

			@include sm-block() {
				margin-right: 0;
			}
		}
	}

	.main-catalog__item {
		width: calc(50% - 10px);
		margin: 0 0 20px;

		@include sm-block() {
			width: 100%;
		}

		&:nth-child(odd) {
			margin-right: 20px;

			@include sm-block() {
				margin-right: 0;
			}
		}
	}

	&>.header+article {
		margin-top: 0;
	}

	.page-zag div::first-letter {
		font-size: inherit;
		line-height: 100%;
	}

	.page-zag {
		text-indent: inherit;
	}

	.main-slider .slick-slide,
	.main-slider__grand .slick-current.slick-active .main-slider__grand-item .h1,
	.main-slider__grand .slick-current.slick-active .main-slider__grand-item h1,
	.main-slider__grand .slick-current.slick-active .main-slider__grand-item .h1 *,
	.main-slider__grand .slick-current.slick-active .main-slider__grand-item p,
	.main-slider__grand .slick-current.slick-active .main-slider__grand-item .link {
		transition: 1s !important;
	}

	.header-bottom__menu {
		width: calc(100% - 200px);

		@include md-block() {
			width: 100%;
		}
	}

	.partners-slider .slick-prev {
		@include xxxs-block() {
			left: 0;
		}
	}

	.partners-slider .slick-next {
		@include xs-block() {
			right: 0;
		}

		@include xxxs-block() {
			right: 0;
		}
	}

	.header-btns__item--registration .icon,
	.header-btns__item--enter .icon,
	.header-phones__front-text .icon,
	.header-phones__front-text,
	.header-btns__item--calendar .icon {
		@include md-block() {
			display: block;
		}
	}

	.header-bottom__mobile-menu {
		border-bottom: 1px solid;
	}

	.footer-w25 {
		width: 50%;

		@include sm-block() {
			width: 100%;
		}
	}

	.footer-item-zag {
		font-weight: bold;
	}

	&.badsee-ls-lg.badsee-fs-lg {
		.error-404__item:first-child {
			margin-left: 120px;
		}

		.error-404__item:last-child {
			margin-right: 120px;
		}

		.error-404__item {
			@include md-block() {
				width: 100%;
				margin: 0 !important;
			}
		}
	}

	.error-404 {
		@include xs-block() {
			margin: 0;
		}
	}
}

.badsee-cs-light {
	color: #000;

	.header-top__search input[type='text']::placeholder,
	.timetables-market_tabs__list.with-filter .timetables-market__filter .slick-current a:hover {
		color: #000;
	}

	.main-slider__arr-prev .icon,
	.main-slider__arr-next .icon,
	.header-btns__item .icon,
	.scrollTop .icon,
	.filter-broker__reset .icon,
	.container--double .text-page__menu-btn .icon,
	.header-bottom__menu ul li .ar .icon,
	.partners-slider .slick-arrow:hover,
	.header-phones__front-text .icon {
		fill: #000;
	}

	a,
	.header-phones__front-content .name,
	.header-phones__front-phone a,
	.header-btns__item--lang .active,
	.header-btns__item--lang a:hover,
	.header-btns__item--calendar:hover>span,
	.header-btns__item--registration:hover span,
	.header-btns__item--enter:hover span,
	.header-bottom__menu ul li:hover>a,
	.header-bottom__menu ul li a,
	.main-slider__grand-item .h1,
	.main-slider__grand-item h1,
	.main-slider__grand-item .h1 *,
	.main-slider__grand-item p,
	.link-green-full,
	.header-phones__back-zag,
	.header-phones__back-list a,
	.header-phones__back-menu>li>a,
	.link-border,
	.header-phones__back-address div:not(.header-phones__back-zag),
	.list-social li a:hover,
	.list-social li a,
	.news-list-zag,
	.news-list-date,
	.news-list-lnk .news-list__zag,
	.main-catalog__item .text,
	.partners-item-path,
	.popup-calendar__list-block:hover span,
	.footer-item ul li a,
	.footer-item ul li a:hover,
	.error-404__text h5,
	.error-404__text h6,
	.error-404__text span,
	.error-404__text a:hover,
	.bx-breadcrumb-item:not(:last-child) a span,
	.marked-text,
	.page-zag,
	.page-zag--green :nth-child(1),
	.text-page__menu ul li a,
	.accordion-date,
	.accordion-head:hover,
	.pagination-btn:hover,
	.pagination ul .active,
	.filter-broker label:hover span,
	.filter-broker__set:hover,
	.broker-table--head,
	.hum-post,
	.footer-bottom a:hover,
	.timetables-market_tabs__list>ul>li:hover,
	.news-list__item-text .date,
	.news-list__item-text p,
	.text-page .application a,
	.timetables-market_tabs__name li,
	.timetables-market__item li:nth-child(1),
	.timetables-market__item li:nth-child(2),
	.link-green:hover,
	.timetables-market_tabs__list.with-filter .timetables-market__filter-block,
	.timetables-market_tabs__list.with-filter .timetables-market__filter a,
	.text-page .application p,
	.text-page .application .link-green:hover,
	.text-page ol:not(.normal-ol)>li:before,
	.text--gradient,
	.subzag-with-link>div,
	.timetables-market_tabs__list>ul>li,
	.filter-broker__zag,
	.jq-selectbox li.selected,
	.jq-selectbox li:hover {
		color: #000;
	}

	.color-red {
		color: #000 !important;
	}

	.bulleten-zag,
	.download-btn,
	.start .accordion-head span,
	.attachment a {
		background-image: linear-gradient(0deg, #000, #000);
	}

	.filter-broker__reset,
	.header-bottom__menu ul li.open>a {
		color: #000 !important;
	}

	.header-bottom__menu ul .dropdown,
	.main-catalog__item,
	.popup-calendar,
	.error-404__text a,
	.partners--gov .partners-item,
	.text-page table,
	.container--double .text-page__menu-btn,
	.filter__select,
	.jq-selectbox__dropdown,
	.trate-h,
	.trate-c {
		border: 1px solid #000;
	}

	.jq-selectbox {
		border: 1px solid #000 !important;
	}

	.header-phones__back {
		border-bottom: 1px solid #000;
	}

	.header-top,
	.header-btns__item,
	.header-phones__front-phone,
	.header-phones__front-text,
	.header-btns__item,
	.header-top__search,
	.link-green-full,
	.header-bottom,
	.link-border,
	.main-slider__arr,
	.news-list-item,
	.footer,
	.scrollTop,
	.error-404__text .search form input[type="submit"],
	.error-404__text .search form .styler,
	.marked-text,
	.accordion-head,
	.pagination ul .active,
	.pagination ul li,
	.filter-broker label .jq-checkbox,
	.filter-broker label .jq-checkbox.checked .jq-checkbox__div,
	.filter-broker__set,
	.accordion-head .page-zag--green :nth-child(1):after,
	.tabled-head,
	.tabled,
	.page-zag--green :nth-child(2),
	.timetables-market_tabs__list>ul>li.active,
	.timetables-market__item.v5:not(:last-child),
	.timetables-market_tabs__name ul,
	.link-green,
	.timetables-market__items,
	.block-left-border,
	.search-result__form input[type="text"],
	.download-btn,
	.attachment span,
	.text-page__menu ul .has-drop>a,
	.header-top__btns,
	.header-bottom__menu ul li,
	.header-btns__item--lang .other,
	.tabled-r,
	.timetables-market.timetables--partners .timetables-market__items,
	.timetables-market__item.v2 {
		border-color: #000;
	}

	.header-btns__item--registration::before,
	.text-page ul>li:before,
	.timetables-market_tabs__list.with-filter .timetables-market__filter:before,
	.text-page table tr:not(:last-child) th:before,
	.text-page table tr:not(:last-child) td:before,
	.bx-breadcrumb-item:not(:last-child):after {
		background-color: #000;
	}

	.header,
	.header-bottom,
	.link-border:hover,
	.news-list-item,
	.news-list-lnk ul li:hover,
	.popup-calendar__top,
	.footer-top,
	.footer-bottom,
	.timetables-market_tabs__list>ul>li.active,
	.timetables-market_tabs__list>ul>li:hover,
	.timetables-market__item.v5:hover,
	.text-page table caption,
	.container--double .text-page__menu-btn,
	.header-bottom__menu ul .dropdown,
	.header-btns__item--lang .other,
	.search-result__form {
		background-color: #fff;
	}

	.single-link {
		a {
			color: black;
		}

		.icon {
			fill: black !important;
		}
	}

	.timetables-market__item .with-background {
		background: white;
	}

	.tm-tooltips__img div {
		background-color: black !important;

		.icon {
			fill: white;
		}
	}

	.links--dowload__name span {
		color: black;
		border-color: black;
	}

}

.badsee-cs-dark {
	color: #fff;
	background-color: #000;

	.header-top__search input[type='text']::placeholder,
	.error-404__text .search form .styler::placeholder,
	.error-404__text .search form .styler,
	.timetables-market_tabs__list.with-filter .timetables-market__filter .slick-current a:hover {
		color: #fff;
	}

	.main-slider__arr-prev .icon,
	.main-slider__arr-next .icon,
	.header-btns__item .icon,
	.scrollTop .icon,
	.filter-broker__reset .icon,
	.container--double .text-page__menu-btn .icon,
	.error-404__text .search form svg,
	.header-bottom__mobile .icon,
	.header-bottom__menu ul li .ar .icon,
	.partners-slider .slick-arrow:hover,
	.header-phones__front-text .icon {
		fill: #fff;
	}

	a,
	.header-phones__front-content .name,
	.header-phones__front-phone a,
	.header-btns__item--lang .active,
	.header-btns__item--lang a:hover,
	.header-btns__item--calendar:hover>span,
	.header-btns__item--registration:hover span,
	.header-btns__item--enter:hover span,
	.header-bottom__menu ul li:hover>a,
	.header-bottom__menu ul li a,
	.main-slider__grand-item .h1,
	.main-slider__grand-item h1,
	.main-slider__grand-item .h1 *,
	.main-slider__grand-item p,
	.link-green-full,
	.header-phones__back-zag,
	.header-phones__back-list a,
	.header-phones__back-menu>li>a,
	.link-border,
	.header-phones__back-address div:not(.header-phones__back-zag),
	.list-social li a:hover,
	.list-social li a,
	.news-list-zag,
	.news-list-date,
	.news-list-lnk .news-list__zag,
	.main-catalog__item .text,
	.partners-item-path,
	.popup-calendar__list-block:hover span,
	.footer-item ul li a,
	.footer-item ul li a:hover,
	.error-404__text h5,
	.error-404__text h6,
	.error-404__text span,
	.error-404__text a:hover,
	.bx-breadcrumb-item:not(:last-child) a span,
	.marked-text,
	.page-zag,
	.page-zag--green :nth-child(1),
	.text-page__menu ul li a,
	.accordion-date,
	.accordion-head:hover,
	.pagination-btn:hover,
	.pagination ul .active,
	.filter-broker label:hover span,
	.filter-broker__set:hover,
	.broker-table--head,
	.hum-post,
	.footer-bottom a:hover,
	.timetables-market_tabs__list>ul>li:hover,
	.news-list__item-text .date,
	.news-list__item-text p,
	.text-page .application a,
	.timetables-market_tabs__name li,
	.timetables-market__item li:nth-child(1),
	.timetables-market__item li:nth-child(2),
	.link-green:hover,
	.timetables-market_tabs__list.with-filter .timetables-market__filter-block,
	.timetables-market_tabs__list.with-filter .timetables-market__filter a,
	.text-page .application p,
	.text-page .application .link-green:hover,
	.text-page ol:not(.normal-ol)>li:before,
	.text--gradient,
	.subzag-with-link>div,
	.timetables-market_tabs__list>ul>li,
	input,
	textarea,
	button,
	.filter-broker__zag,
	.page-zag--green :nth-child(2),
	.hum-name,
	.text-page .subzag,
	.filter__name,
	.jq-selectbox li.selected,
	.jq-selectbox li,
	.jq-selectbox__select,
	.pagination ul .active a {
		color: #fff;
	}

	.color-red,
	.header-bottom__menu ul li.open>a {
		color: #fff !important;
	}

	.bulleten-zag,
	.download-btn,
	.start .accordion-head span,
	.attachment a {
		background-image: linear-gradient(0deg, #fff, #fff);
	}

	.filter-broker__reset {
		color: #fff !important;
	}

	.header-bottom__menu ul .dropdown,
	.main-catalog__item,
	.popup-calendar,
	.error-404__text a,
	.partners--gov .partners-item,
	.text-page table,
	.container--double .text-page__menu-btn,
	.filter__select {
		border: 1px solid #fff;
	}

	.header-phones__back {
		border-bottom: 1px solid #fff;
	}

	.jq-selectbox .jq-selectbox__trigger-arrow {
		border-top-color: #fff;
	}

	.header-top,
	.header-btns__item,
	.header-phones__front-phone,
	.header-phones__front-text,
	.header-btns__item,
	.header-top__search,
	.link-green-full,
	.header-bottom,
	.link-border,
	.main-slider__arr,
	.news-list-item,
	.footer,
	.scrollTop,
	.error-404__text .search form input[type="submit"],
	.error-404__text .search form .styler,
	.marked-text,
	.accordion-head,
	.pagination ul .active,
	.pagination ul li,
	.filter-broker label .jq-checkbox,
	.filter-broker label .jq-checkbox.checked .jq-checkbox__div,
	.filter-broker__set,
	.accordion-head .page-zag--green :nth-child(1):after,
	.tabled-head,
	.tabled,
	.page-zag--green :nth-child(2),
	.timetables-market_tabs__list>ul>li.active,
	.timetables-market__item.v5:not(:last-child),
	.timetables-market_tabs__name ul,
	.link-green,
	.timetables-market__items,
	.block-left-border,
	.search-result__form input[type="text"],
	.download-btn,
	.attachment span,
	.text-page__menu ul .has-drop>a,
	.header-top__btns,
	.header-bottom__menu ul li,
	.badsee-config button,
	.badsee-config,
	.badsee-w100,
	.header-btns__item--lang .other,
	.tabled-r,
	.timetables-market.timetables--partners .timetables-market__items,
	.timetables-market__item.v2 {
		border-color: #fff;
	}

	.badsee-w25 button.active,
	.pagination ul li a,
	.search-result__form input[type="text"] {
		color: #000;
	}

	.header-btns__item--registration::before,
	.text-page ul>li:before,
	.timetables-market_tabs__list.with-filter .timetables-market__filter:before,
	.text-page table tr:not(:last-child) th:before,
	.text-page table tr:not(:last-child) td:before,
	.header-logo,
	.header-top__search input[type='submit'],
	.bx-breadcrumb-item:not(:last-child):after,
	.badsee-w25 button.active,
	.search-result__form {
		background-color: #fff;
	}

	.header,
	.header-bottom,
	.link-border:hover,
	.news-list-item,
	.news-list-lnk ul li:hover,
	.popup-calendar__top,
	.footer-top,
	.footer-bottom,
	.timetables-market_tabs__list>ul>li.active,
	.timetables-market_tabs__list>ul>li:hover,
	.timetables-market__item.v5:hover,
	.text-page table caption,
	.container--double .text-page__menu-btn,
	.badsee-config,
	.error-404__text .search form .styler,
	.header-bottom__mobile-menu,
	.header-bottom__menu ul .dropdown,
	.scrollTop,
	.container--double .text-page__menu,
	.header-phones__back,
	.header-btns__item--lang .other,
	.filter__select,
	.jq-selectbox__dropdown,
	.jq-selectbox,
	.trate-h,
	.trate-r:nth-child(2) .trate-c:nth-child(1) {
		background-color: #000;
	}

	.breadcrumbs::before {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000);
	}

	.single-link {
		a {
			color: white;
		}

		.icon {
			fill: white !important;
		}
	}

	.timetables-market__item .with-background {
		background: black;
	}

	.tm-tooltips__img div {
		background-color: white !important;

		.icon {
			fill: black;
		}
	}

	.links--dowload__name span {
		color: white;
		border-color: white;
	}

}

.badsee-cs-blue {
	color: #002d56;
	background-color: #c8e5ff;

	.header-top__search input[type='text']::placeholder,
	.error-404__text .search form .styler::placeholder,
	.error-404__text .search form .styler,
	.timetables-market_tabs__list.with-filter .timetables-market__filter .slick-current a:hover {
		color: #002d56;
	}

	.main-slider__arr-prev .icon,
	.main-slider__arr-next .icon,
	.header-btns__item .icon,
	.scrollTop .icon,
	.filter-broker__reset .icon,
	.container--double .text-page__menu-btn .icon,
	.error-404__text .search form svg,
	.header-bottom__mobile .icon,
	.header-bottom__menu ul li .ar .icon,
	.partners-slider .slick-arrow:hover,
	.header-phones__front-text .icon {
		fill: #002d56;
	}

	a,
	.header-phones__front-content .name,
	.header-phones__front-phone a,
	.header-btns__item--lang .active,
	.header-btns__item--lang a:hover,
	.header-btns__item--calendar:hover>span,
	.header-btns__item--registration:hover span,
	.header-btns__item--enter:hover span,
	.header-bottom__menu ul li:hover>a,
	.header-bottom__menu ul li a,
	.main-slider__grand-item .h1,
	.main-slider__grand-item h1,
	.main-slider__grand-item .h1 *,
	.main-slider__grand-item p,
	.link-green-full,
	.header-phones__back-zag,
	.header-phones__back-list a,
	.header-phones__back-menu>li>a,
	.link-border,
	.header-phones__back-address div:not(.header-phones__back-zag),
	.list-social li a:hover,
	.list-social li a,
	.news-list-zag,
	.news-list-date,
	.news-list-lnk .news-list__zag,
	.main-catalog__item .text,
	.partners-item-path,
	.popup-calendar__list-block:hover span,
	.footer-item ul li a,
	.footer-item ul li a:hover,
	.error-404__text h5,
	.error-404__text h6,
	.error-404__text span,
	.error-404__text a:hover,
	.bx-breadcrumb-item:not(:last-child) a span,
	.marked-text,
	.page-zag,
	.page-zag--green :nth-child(1),
	.text-page__menu ul li a,
	.accordion-date,
	.accordion-head:hover,
	.pagination-btn:hover,
	.pagination ul .active,
	.filter-broker label:hover span,
	.filter-broker__set:hover,
	.broker-table--head,
	.hum-post,
	.footer-bottom a:hover,
	.timetables-market_tabs__list>ul>li:hover,
	.news-list__item-text .date,
	.news-list__item-text p,
	.text-page .application a,
	.timetables-market_tabs__name li,
	.timetables-market__item li:nth-child(1),
	.timetables-market__item li:nth-child(2),
	.link-green:hover,
	.timetables-market_tabs__list.with-filter .timetables-market__filter-block,
	.timetables-market_tabs__list.with-filter .timetables-market__filter a,
	.text-page .application p,
	.text-page .application .link-green:hover,
	.text-page ol:not(.normal-ol)>li:before,
	.text--gradient,
	.subzag-with-link>div,
	.timetables-market_tabs__list>ul>li,
	input,
	textarea,
	button,
	.filter-broker__zag,
	.page-zag--green :nth-child(2),
	.hum-name,
	.text-page .subzag,
	.filter__name,
	.jq-selectbox__select,
	.jq-selectbox li.selected,
	.jq-selectbox li:hover,
	.jq-selectbox li {
		color: #002d56;
	}

	.color-red,
	.header-bottom__menu ul li.open>a {
		color: #002d56 !important;
	}

	.bulleten-zag,
	.download-btn,
	.start .accordion-head span,
	.attachment a {
		background-image: linear-gradient(0deg, #002d56, #002d56);
	}

	.filter-broker__reset {
		color: #002d56 !important;
	}

	.header-bottom__menu ul .dropdown,
	.main-catalog__item,
	.popup-calendar,
	.error-404__text a,
	.partners--gov .partners-item,
	.text-page table,
	.container--double .text-page__menu-btn,
	.filter__select,
	.trate-h,
	.trate-c {
		border: 1px solid #002d56;
	}

	.header-phones__back {
		border-bottom: 1px solid #002d56;
	}

	.jq-selectbox {
		border: 1px solid #002d56 !important;
	}

	.header-top,
	.header-btns__item,
	.header-phones__front-phone,
	.header-phones__front-text,
	.header-btns__item,
	.header-top__search,
	.link-green-full,
	.header-bottom,
	.link-border,
	.main-slider__arr,
	.news-list-item,
	.footer,
	.scrollTop,
	.error-404__text .search form input[type="submit"],
	.error-404__text .search form .styler,
	.marked-text,
	.accordion-head,
	.pagination ul .active,
	.pagination ul li,
	.filter-broker label .jq-checkbox,
	.filter-broker label .jq-checkbox.checked .jq-checkbox__div,
	.filter-broker__set,
	.accordion-head .page-zag--green :nth-child(1):after,
	.tabled-head,
	.tabled,
	.page-zag--green :nth-child(2),
	.timetables-market_tabs__list>ul>li.active,
	.timetables-market__item.v5:not(:last-child),
	.timetables-market_tabs__name ul,
	.link-green,
	.timetables-market__items,
	.block-left-border,
	.search-result__form input[type="text"],
	.download-btn,
	.attachment span,
	.text-page__menu ul .has-drop>a,
	.header-top__btns,
	.header-bottom__menu ul li,
	.badsee-config button,
	.badsee-config,
	.badsee-w100,
	.header-btns__item--lang .other,
	.jq-selectbox__dropdown,
	.tabled-r,
	.timetables-market.timetables--partners .timetables-market__items {
		border-color: #002d56;
	}

	.badsee-w25 button.active {
		color: #c8e5ff;
	}

	.header-btns__item--registration::before,
	.text-page ul>li:before,
	.timetables-market_tabs__list.with-filter .timetables-market__filter:before,
	.text-page table tr:not(:last-child) th:before,
	.text-page table tr:not(:last-child) td:before,
	.bx-breadcrumb-item:not(:last-child):after,
	.badsee-w25 button.active {
		background-color: #002d56;
	}

	.header,
	.header-bottom,
	.link-border:hover,
	.news-list-item,
	.news-list-lnk ul li:hover,
	.popup-calendar__top,
	.footer-top,
	.footer-bottom,
	.timetables-market_tabs__list>ul>li.active,
	.timetables-market_tabs__list>ul>li:hover,
	.timetables-market__item.v5:hover,
	.text-page table caption,
	.container--double .text-page__menu-btn,
	.badsee-config,
	.error-404__text .search form .styler,
	.header-bottom__mobile-menu,
	.header-bottom__menu ul .dropdown,
	.scrollTop,
	.container--double .text-page__menu,
	.pagination ul li a,
	.search-result__form input[type="text"],
	.pagination ul li,
	.header-phones__back,
	.header-btns__item--lang .other,
	.filter__select,
	.jq-selectbox,
	.jq-selectbox__dropdown,
	.trate-h,
	.trate-r:nth-child(2) .trate-c {
		background-color: #c8e5ff;
	}

	.breadcrumbs::before {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #c8e5ff);
	}

	.single-link {
		a {
			color: #002d56;
		}

		.icon {
			fill: #002d56 !important;
		}
	}

	.timetables-market__item .with-background {
		background: #c8e5ff;
	}

	.tm-tooltips__img div {
		background-color: #002d56 !important;

		.icon {
			fill: #c8e5ff;
		}
	}

	.links--dowload__name span {
		color: #002d56;
		border-color: #002d56;
	}

	.timetables-market__item li {
		border-color: #002d56;
	}
}

/* Шрифты */
.badsee-ff-arial {
	font-family: 'Arial', sans-serif;

	input,
	button,
	textarea,
	input[type=email].styler,
	input[type=password].styler,
	input[type=search].styler,
	input[type=tel].styler,
	input[type=text].styler,
	input[type=url].styler,
	textarea.styler {
		font-family: 'Arial', sans-serif;
	}

	.bx-breadcrumb .bx-breadcrumb-item span {
		font-family: 'Arial', sans-serif !important;
	}
}

.badsee-ff-times {
	font-family: 'Times New Roman', serif;

	input,
	button,
	textarea,
	input[type=email].styler,
	input[type=password].styler,
	input[type=search].styler,
	input[type=tel].styler,
	input[type=text].styler,
	input[type=url].styler,
	textarea.styler {
		font-family: 'Times New Roman', serif;
	}

	.bx-breadcrumb .bx-breadcrumb-item span {
		font-family: 'Times New Roman', serif !important;
	}
}

/* Размер шрифта */
.badsee-fs-md {
	font-size: 20px;

	button,
	input,
	optgroup,
	select,
	textarea,
	.error-404__text span,
	.error-404__text .search form .styler,
	.footer-item ul li a,
	.pagination-btn,
	.pagination ul li a,
	.timetables-market__item.v3 li:nth-child(3) p,
	.timetables-market__item.v3 li:nth-child(4) p,
	.text-page .notice {
		font-size: 18px;
	}

	.header-phones__front-phone a,
	.header-btns__item--registration,
	.header-btns__item--enter,
	.filter-broker__zag,
	.main-catalog__item .text p {
		font-size: 19px;
	}

	.header-phones__front-content .name,
	.header-btns__item--lang,
	.header-bottom__menu ul li a,
	.error-404__text h6,
	.error-404__text a,
	.marked-text,
	.filter-broker__set,
	.filter-broker__reset,
	.broker-table--head,
	.broker-table__row:not(.broker-table--head) .broker-table__col,
	.main-slider__grand-item p,
	.link-green-full,
	.news-list-date,
	.news-list-name,
	.partners-item-zag,
	.partners-item-path,
	.timetables-market_tabs__list>ul>li,
	.timetables-market__item li:nth-child(2),
	.link--withIco,
	.filter__name,
	.text-page .application p,
	.link-green,
	.timetables-market__item li:nth-child(1),
	.timetables-market_tabs__list.with-filter .timetables-market__filter-block,
	.timetables-market_tabs__list.with-filter .timetables-market__filter a {
		font-size: 20px;
	}

	.bx-breadcrumb .bx-breadcrumb-item span {
		font-size: 20px !important;
	}

	.footer-item-zag a,
	.text-page__menu ul li a,
	.text-page__menu ul li span,
	.news-list__item-text .date,
	.news-list__item-text p,
	.text-page h3 {
		font-size: 22px;
	}

	.page-zag--green :nth-child(1) {
		font-size: 30px;
	}

	.page-zag,
	.news-list-zag,
	.main-catalog__item .text .h3,
	.main-catalog__item .text h3,
	.main-catalog__item .text .h3 *,
	.partners-zag {
		font-size: 32px;
	}

	.main-slider__grand-item .h1,
	.main-slider__grand-item h1,
	.main-slider__grand-item .h1 * {
		font-size: 44px;
	}

	.error-404__text h5 {
		font-size: 52px;
	}

	.page-zag div::first-letter {
		font-size: 68px;
	}

	.news-list-name {
		max-height: 52px;
	}

	.news-list-item:first-child li:last-child .news-list-name,
	.news-list-item:last-child li:last-child .news-list-name {
		max-height: 78px;
	}

	.single-link {
		a {
			font-size: 22px;
		}
	}
}

.badsee-fs-lg {
	font-size: 24px;

	button,
	input,
	optgroup,
	select,
	textarea,
	.error-404__text span,
	.error-404__text .search form .styler,
	.footer-item ul li a,
	.pagination-btn,
	.pagination ul li a,
	.timetables-market__item.v3 li:nth-child(3) p,
	.timetables-market__item.v3 li:nth-child(4) p,
	.text-page .notice {
		font-size: 20px;
	}

	.header-phones__front-phone a,
	.header-btns__item--registration,
	.header-btns__item--enter,
	.filter-broker__zag,
	.main-catalog__item .text p {
		font-size: 21px;
	}

	.header-phones__front-content .name,
	.header-btns__item--lang,
	.header-bottom__menu ul li a,
	.error-404__text h6,
	.error-404__text a,
	.marked-text,
	.filter-broker__set,
	.filter-broker__reset,
	.broker-table--head,
	.broker-table__row:not(.broker-table--head) .broker-table__col,
	.main-slider__grand-item p,
	.link-green-full,
	.news-list-date,
	.news-list-name,
	.partners-item-zag,
	.partners-item-path,
	.timetables-market_tabs__list>ul>li,
	.timetables-market__item li:nth-child(2),
	.link--withIco,
	.filter__name,
	.text-page .application p,
	.link-green,
	.timetables-market__item li:nth-child(1),
	.timetables-market_tabs__list.with-filter .timetables-market__filter-block,
	.timetables-market_tabs__list.with-filter .timetables-market__filter a {
		font-size: 22px;
	}

	.bx-breadcrumb .bx-breadcrumb-item span {
		font-size: 22px !important;
	}

	.footer-item-zag a,
	.text-page__menu ul li a,
	.text-page__menu ul li span,
	.news-list__item-text .date,
	.news-list__item-text p,
	.text-page h3 {
		font-size: 24px;
	}

	.page-zag--green :nth-child(1) {
		font-size: 34px;
	}

	.page-zag,
	.news-list-zag,
	.main-catalog__item .text .h3,
	.main-catalog__item .text h3,
	.main-catalog__item .text .h3 *,
	.partners-zag {
		font-size: 34px;
	}

	.main-slider__grand-item .h1,
	.main-slider__grand-item h1,
	.main-slider__grand-item .h1 * {
		font-size: 46px;
	}

	.error-404__text h5 {
		font-size: 54px;
	}

	.page-zag div::first-letter {
		font-size: 70px;
	}

	.news-list-name {
		max-height: 60px;
	}

	.news-list-item:first-child li:last-child .news-list-name,
	.news-list-item:last-child li:last-child .news-list-name {
		max-height: 90px;
	}

	.single-link {
		a {
			font-size: 24px;
		}
	}
}

/* Межбуквенный интервал */
.badsee-ls-md> :not(.header) {
	letter-spacing: 2px;
}

.badsee-ls-lg> :not(.header) {
	letter-spacing: 4px;
}