.filter-broker {
    margin: 27px 0;

    &__zag {
        font-size: 15px;
        @include lh(15, 17);
        text-transform: uppercase;
        color: #404040;
        margin-bottom: 9px;
    }

    &__el {
        margin-bottom: 24px;
    }

    label {
        white-space: nowrap;
        cursor: pointer;
        margin-right: 20px;

        @include xxxs-block() {
            display: block;
        }

        span {
            transition: 0.3s;
            white-space: normal;
        }

        &:hover {
            span {
                color: #23b236;
            }
        }

        .jq-checkbox {
            border: 1px solid #23b236;
            border-radius: 2px;
            background: transparent;
            margin-right: 9px;

            .jq-checkbox__div {
                transition: 0.3s;
                border-color: transparent;
                height: 5px;
            }

            &.checked {
                .jq-checkbox__div {
                    position: relative;
                    top: 3px;
                    left: 3px;
                    border-color: #23b236;
                    margin: 0;
                }
            }
        }
    }

    &__set {
        display: inline-block !important;
        position: relative;
        border: 1px solid #23b236;
        text-decoration: none !important;
        font-weight: 300;
        font-size: 16px;
        @include lh(16, 22);
        padding: 12px 54px;
        margin-right: 19px;

        &::before {
            opacity: 0;
            content: '';
            z-index: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-image: linear-gradient(225.41deg, #23B236 0%, #409145 100%);
            transition: 0.3s;
        }

        &:hover {
            color: #fff;

            &::before {
                opacity: 1;
            }
        }
    }

    &__reset {
        display: inline-block !important;
        padding: 15px;
        color: #e52630 !important;
        text-decoration: none !important;
        font-weight: 300px;
        font-size: 16px;
        @include lh(16, 22);

        .icon {
            width: 12px;
            height: 12px;
            fill: #e52630;
            vertical-align: middle;
        }
    }
}

.broker-table {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;

    @include md-block() {
        width: 830px;
    }

    &__row {
        display: flex;
        width: 100%;

        &:not(.broker-table--head) {
            .broker-table__col {
                font-size: 16px;
                @include lh(16, 22);
            }
        }

        &:not(:first-child):not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__col {
        padding: 16px 0;
        position: relative;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:nth-child(1) {
            width: 200px;
        }

        &:nth-child(2) {
            width: 80px;
        }

        &:nth-child(3) {
            width: 320px;
            padding-left: 10px;

            a {
                display: block;
            }
        }

        &:nth-child(4),
        &:nth-child(5) {
            width: 170px;

            img {
                margin: 0;

                &:not(:last-child) {
                    margin-right: 14px;
                }
            }
        }
    }

    &--head {
        margin-bottom: 16px;
        color: #404040;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        @include lh(16, 19);
        border-bottom: 1px solid #d1d3d4;
    }
}

.brocker-detail {
    // opacity: 0;
    // visibility: hidden;
    // position: absolute;
    // top: 40px;
    // left: 0;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
    padding: 45px 60px;
    background: white;
    box-shadow: 0px 0px 70px rgba(35, 57, 67, 0.07);
    border-radius: 7px;
    z-index: 1;
    transition: .5s;

    @include md-block() {
        padding: 15px;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &__top {
        padding: 0 25px 30px 0;
        position: relative;
        border-bottom: 1px solid #F1F4F5;

        @include md-block() {
            padding-bottom: 15px;
        }

        span {
            display: block;
            font-weight: normal;
            font-size: 28px;
            line-height: 117.86%;
            letter-spacing: 0.04em;
            color: #404040;
        }

        .icon {
            position: absolute;
            right: 0;
            top: 0;
            width: 25px;
            height: 25px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                opacity: .5;
            }
        }
    }

    &__middle {
        padding: 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        border-bottom: 1px solid #F1F4F5;

        @include md-block() {
            padding-bottom: 15px;
        }

        &-img {
            width: 25%;

            @include xs-block() {
                margin: 0 auto 15px;
                min-width: 160px;
            }

            img {
                width: 100%;
                max-width: calc(100% - 40px);
                margin: 0 40px 0 0;
            }
        }

        &-content {
            width: 75%;

            @include xs-block() {
                width: 100%;
            }
        }

        &-title {
            padding-bottom: 20px;
            border-bottom: 1px solid #F1F4F5;

            &-main {
                font-weight: normal;
                font-size: 40px;
                line-height: 130%;
                text-transform: uppercase;
                color: #265B42;

                @include xs-block() {
                    font-size: 30px;
                }

                @include xxxs-block() {
                    font-size: 22px;
                }
            }

            &-info {
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 160%;
                color: #404040;

                span {
                    &:first-child {
                        font-weight: bold;
                        color: #3E3E3E;
                        margin-right: 5px;
                    }
                }
            }
        }

        &-desc {
            padding-top: 20px;

            &-title {
                font-weight: normal;
                font-size: 16px;
                line-height: 160%;
                color: #3E3E3E;
                margin-bottom: 5px;
            }

            ul {
                padding-left: 0;
                margin-bottom: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;

                li {
                    margin-right: 20px;
                    padding-left: 15px;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 10px;
                        width: 3px;
                        height: 3px;
                        border-radius: 50%;
                        background: $green;
                    }
                }
            }
        }

    }

    &__bottom {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;

        @include md-block() {
            padding-top: 15px;
        }

        &-col {
            width: 33.33%;
            padding: 0 30px;

            @include md-block() {
                padding: 0 10px;
                font-size: 14px;
            }

            &:nth-child(1) {
                @include xs-block() {
                    width: 50%;
                    order: 2;
                }

                @include xxxs-block() {
                    width: 100%;
                }
            }

            &:nth-child(2) {
                @include xs-block() {
                    padding: 0;
                    width: 100%;
                    order: 1;
                    margin-bottom: 25px;
                }
            }


            &:nth-child(3) {
                @include xs-block() {
                    width: 50%;
                    order: 3;
                }

                @include xxxs-block() {
                    width: 100%;
                }
            }


            &:not(:last-child) {
                border-right: 1px solid #F1F4F5;
            }

            p {
                &:first-child {
                    margin-top: 0;

                    a {
                        margin-right: 5px;
                    }
                }
            }

            span {
                display: block;
                margin-bottom: 10px;
                font-weight: normal;
                font-size: 16px;
                line-height: 160%;
                color: #3E3E3E;
            }

            .links {
                padding-left: 0;
                margin-bottom: 0;

                li {
                    margin-bottom: 10px;
                    padding-left: 35px;
                    position: relative;

                    span {
                        margin-bottom: 0;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 160%;
                        color: #01001F;
                    }

                    a {
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 137%;
                        color: #404040;
                        text-decoration: none;

                        @include md-block() {
                            font-size: 14px;
                        }

                        &:hover {
                            color: #4DAA59;
                        }
                    }

                    .icon {
                        position: absolute;
                        left: 0;
                        top: 3px;
                        width: auto;
                        height: 17px;
                        margin: 0;
                    }

                    &:before {
                        display: none;
                    }
                }
            }

            .partners {
                padding-left: 0;

                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-left: 0;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    img {
                        margin: 0 10px 0 0;
                        max-height: 40px;
                    }

                    &::before {
                        display: none;
                    }
                }
            }

        }
    }
}