.filter {
	display: flex;
	padding-bottom: 20px;
	@include sm-block() {
		flex-wrap: wrap;
	}
	&-el {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-right: 35px;
		@include sm-block() {
			width: 100%;
			padding-right: 0;
			margin-bottom: 20px;
		}
		&:before {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 40px;
			background-color: #d1d3d4;
			@include sm-block() {
				display: none;
			}
		}

		&-item {
			display: block;
			text-decoration: none;
			padding: 10px 0;
			color: #3e3e3e;

			&:not(:last-child) {
				margin-right: 30px;
			}

			&.active {
				position: relative;
				border: 1px solid $green;
				border-top: none;
				padding: 10px 20px;
				background-color: #f9f9f9;

				&:before,
				&:after {
					content: '';
					background-color: $green;
					height: 1px;
					position: absolute;
					top: 0;
				}

				&:before {
					left: 0;
					width: 15px;
				}

				&:after {
					right: 0;
					width: 5px;
				}
			}
		}
	}

	&-pag {
		display: flex;
		align-items: center;
		padding-left: 20px;
		min-width: 250px;
		@include sm-block() {
			width: 100%;
			padding-left: 0;
			justify-content: center;
		}
		a, span {
			font-size: 16px;
			color: #d1d3d4;
			text-align: center;

			@include lh(16, 22);

			&.active {
				color: #404040;
			}
		}

		a {
			padding: 0 2px;
			text-decoration: underline;
			text-decoration-color: transparent;

			&:hover {
				color: $green;
				text-decoration-color: inherit;
			}

			.icon {
				width: 23px;
				height: 7px;
				stroke: $green;
			}
		}
	}
}