$blue:#4DAA59;
.ajaxForm{
	.mfp-content{
		margin: 0 auto;
		padding: 30px;
		@include xs-block(){
			padding: 15px;
		}

	}
	.mfp-close{
		background-image: url(../img/svg/close-b.svg);
		background-size: 25px;
		background-position: center;
		font-size: 0;
		background-repeat: no-repeat;
		transition: .4s;
		@include xs-block(){
			background-size: 15px;
		}
	}
}

.regForm {
	.mfp-content{
		max-width: 630px;
	}
}

.popup-form{
	background-color: #fff;
	position: relative;

	&__container{
		padding-top: 60px;
		padding-bottom: 10px;
		@include xs-block(){
			padding-top: 30px;
		}
		> .line{
			width: 36px;
			height: 36px;
			position: absolute;
			transition: .5s ease;
		}
		> .line-1{
			left: -30px;
			top: -30px;
			border-top: 1px solid $blue;
			border-left: 1px solid $blue;
			@include xs-block(){
				left: -10px;
				top: -10px;
			}
		}
		> .line-2{
			right: -30px;
			top: -30px;
			border-top: 1px solid $blue;
			border-right: 1px solid $blue;
			@include xs-block(){
				right: -10px;
				top: -10px;
			}
		}
		> .line-3{
			right: -30px;
			bottom: -30px;
			border-bottom: 1px solid $blue;
			border-right: 1px solid $blue;
			@include xs-block(){
				right: -10px;
				bottom: -10px;
			}
		}
		> .line-4{
			left: -30px;
			bottom: -30px;
			border-bottom: 1px solid $blue;
			border-left: 1px solid $blue;
			@include xs-block(){
				left: -10px;
				bottom: -10px;
			}
		}
	}
	&:hover{
		.popup-form__container{
			> .line{
				width: 70px;
				height: 70px;
			}
		}
	}
	&__zag{
		text-align: center;
		max-width: 90%;
		margin: 0 auto 35px;
		@include xs-block(){
			margin-bottom: 10px;
		}
		h1{
			font-weight: bold;
			font-size: 30px;
			line-height: 120%;
			color: #414141;
			margin-bottom: 8px;
			@include xs-block(){
				font-size: 25px;

			}
		}
		p{
			font-size: 15px;
			line-height: 120%;
			color: #2B2B2B;
			@include xs-block(){
				font-size: 14px;
			}
		}
	}
	.hr{
		width: 100%;
		height: 1px;
		background-color: #D8DFE2;
		margin-bottom: 30px;
		display: block;
		@include xs-block(){
			margin-bottom: 15px;
		}
	}
	&__block{
		padding: 0 45px 30px;
		@include xs-block(){
			padding: 0 20px 15px;
		}
		span{
			display: block;
			font-size: 15px;
			margin-bottom: 20px;
			@include xs-block(){
				margin-bottom: 8px;
				line-height: 120%;
			}
			b{
				color: $blue;
				margin-left: 5px;
			}
		}
		textarea {
			height: 162px;
		}
		textarea,
		input[type='text'],
		input[type='password']{
			border: 1px solid #dff8e4;
			padding: 17px 15px;
			width: 100%;
			transition: .3s;
			resize: none;
			@include xs-block(){
				padding: 10px;
				font-size: 15px;
			}
		}
		input[type='text'].error,
		input[type='text'].error-online,
		input[type='password'].error,
		input[type='password'].error-online{
			border-bottom: 1px solid red;
		}
		.social-ico {
			justify-content: center;
			li {
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&__block--check{
		label{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			cursor: pointer;
		}
		.styler{
			pointer-events: none;
		}
		span{
			margin-bottom: 0;
			@include xs-block(){
				font-size: 12px;
				width: calc(100% - 35px);
			}
		}
	}
	&__block--bottom{
		> div{
			margin-bottom: 20px;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			@include xs-block(){
				margin-bottom: 10px;
			}
			span{
				margin-bottom: 0;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
		.pw-changed{
			display: none;
			text-align: center;
		}
	}
	&_iframe {
		max-width: 75%;
		margin: 0 auto;
		@include sm-block() {
			max-width: 100%;
		}
		.popup-form__container {
			position: relative;
			padding-bottom: 50%;
		}
		iframe {
			position: absolute;
			top: 40px;
			left: 10px;
			width: calc(100% - 20px);
			height: calc(100% - 50px);
			display: block;
			border: none;
			margin: 0 auto;
		}
	}
	&_text {
		max-width: 500px;
		padding: 20px;
		margin: 0 auto;
		ol {
			padding-left: 20px;
		}
		li {
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 10px;
		}
	}
	&_apply {
		max-width: 990px;
		margin: 0 auto;
		padding: 0 12px;
		form {
			display: flex;
			flex-wrap: wrap;
		}
		.popup-form__block {
			width: calc(100% / 3);
			padding-left: 24px;
			padding-right: 24px;
			@include sm-block() {
				width: 100%;
			}
		}
		&--rezident{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			*{
				margin: 0 !important;
			}
			li{
				width: 50%;
			}
		}
		textarea {
			height: 72px;
		}
		.hr {
			max-width: calc(100% - 48px);
			margin-left: auto;
			margin-right: auto;
		}
		.popup-form__zag-2 {
			width: calc(100% - 90px);
			margin: 0 auto 40px;
			text-align: center;
			color: #333;
			font-size: 18px;
			font-weight: 600;
		}
		.btn-blue {
			height: 54px;
			margin-top: 45px;
			span {
				margin-bottom: 0;
			}
			.icon {
				width: 38px;
				padding-right: 13px;
				border-right: 1px solid;
			}
		}
		&-checkbox {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 1px;
				background-color: #d1e9fa;
				height: 65px;
			}
			label {
				display: flex;
				flex-wrap: wrap;
			}
			input {
				display: none;
			}
			div {
				width: calc(100% - 92px);
				padding-left: 18px;
			}
			span {
				margin: 0;
				line-height: 114%;
			}
			b {
				display: block;
				color: #333;
				margin-bottom: 5px;
			}
			.btn-blue {
				width: 92px;
				height: 65px;
				margin: 0;
				.icon {
					width: 36px;
					height: 36px;
					margin: 0 auto;
					padding: 0;
					border: none;
				}
			}
		}
		& &-half {
			width: calc(100% / 2);
			@include sm-block() {
				width: 100%;
			}
			ol {
				margin-top: 30px;
				counter-reset: item;
				li {
					position: relative;
					list-style: none;
					padding: 20px 20px 20px 95px;
					@include sm-block() {
						padding-left: 60px;
					}
					&:nth-child(odd) {
						background-color: #f4fafe;
					}
					&:before {
						display: flex;
						justify-content: center;
						align-items: center;
						position: absolute;
						top: 0;
						left: 0;
						width: 95px;
						height: 100%;
						content: counters(item, ".");
					    counter-increment: item;
					    font-size: 80px;
					    font-weight: 600;
					    color: #d1e9fa;
					    @include sm-block() {
					    	width: 60px;
					    	font-size: 60px;
					    }
					}
				}
			}
			.popup-form__container {
				position: relative;
				margin: 12px;
				padding: 24px;
				background-color: #f4fafe;
				b {
					color: #2b2b2b;
				}
				p {
					margin-bottom: 10px;
					@include sm-block() {
						word-break: break-all;
					}
				}
				.line {
					width: 24px;
					height: 24px;
					&-1 {
						top: -12px;
						left: -12px;
					}
					&-2 {
						top: -12px;
						right: -12px;
					}
					&-3 {
						right: -12px;
						bottom: -12px;
					}
					&-4 {
						bottom: -12px;
						left: -12px;
					}
				}
				.hr {
					max-width: 100%;
					margin-bottom: 10px;
				}
			}
			.btn-blue {
				max-width: 330px;
				height: auto;
				margin-left: auto;
				margin-right: auto;
				.icon {
					border-right: none;
					border-left: 1px solid #fff;
				}
			}
		}
		& &-full {
			display: flex;
			justify-content: center;
			width: 100%;

			@include sm-block() {
				flex-direction: column;
				align-items: center;
			}

			.jq-checkbox {
				display: inline-block;

				&+span {
					vertical-align: top;
					display: inline-block;
					max-width: calc(100% - 25px);
				}
			}

			input[type="file"] {
				display: none;
			}

			.btn-blue {
				width: 100%;
				cursor: pointer;
				max-width: 340px;
				margin: 0;
				padding: 8px;
				margin-right: 10px;

				@include sm-block() {
					margin-right: 0;
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				@include xs-block() {
					padding: 8px;
				}

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					.icon {
						border-color: #4DAA59;
					}
				}

				span {
					line-height: 100%;
					text-align: left;
					padding: 0;

					@include xs-block() {
						font-size: 12px;
					}
				}

				.icon {
					width: 45px;
					height: 32px;
					margin: 0 8px 0 0;
					padding: 0 8px 0 0;

					@include xs-block() {
						width: 30px;
						margin: 0 8px 0 0;
						padding: 0 8px 0 0;
					}
				}
			}
		}
		.tooltip__text {
			@include sm-block() {
				width: 200px;
			}
		}
	}

	& &__print {
		.btn-blue {
			padding: 8px;
			max-width: 270px;

			.icon {
				width: 45px;
				padding-right: 8px;
				margin-right: 8px;
			}
		}
	}

	.jq-checkbox.styler {
		margin-right: 10px;
	}
}


body .help--popup{
	background: white;
	text-align: left;
	max-width: 550px;
	margin: 40px auto;
	position: relative;
	@include xs-block(){
		max-width: 280px;
	}
	.mfp-close{
		background-image: url(../img/svg/close-b.svg);
		background-size: 25px;
		background-position: center;
		font-size: 0;
		background-repeat: no-repeat;
		transition: .4s;
		@include xs-block(){
			background-size: 15px;
		}
	}
	> .line{
		width: 36px;
		height: 36px;
		position: absolute;
		transition: .5s ease;
	}
	> .line-1{
		left: -30px;
		top: -30px;
		border-top: 1px solid $blue;
		border-left: 1px solid $blue;
		@include xs-block(){
			left: -10px;
			top: -10px;
		}
	}
	> .line-2{
		right: -30px;
		top: -30px;
		border-top: 1px solid $blue;
		border-right: 1px solid $blue;
		@include xs-block(){
			right: -10px;
			top: -10px;
		}
	}
	> .line-3{
		right: -30px;
		bottom: -30px;
		border-bottom: 1px solid $blue;
		border-right: 1px solid $blue;
		@include xs-block(){
			right: -10px;
			bottom: -10px;
		}
	}
	> .line-4{
		left: -30px;
		bottom: -30px;
		border-bottom: 1px solid $blue;
		border-left: 1px solid $blue;
		@include xs-block(){
			left: -10px;
			bottom: -10px;
		}
	}
	&:hover{
		> .line{
			width: 70px;
			height: 70px;
		}
	}
	.zag{
		text-align: center;
		max-width: 90%;
		margin: 0 auto 30px;
		font-weight: bold;
		font-size: 30px;
		line-height: 120%;
		color: #414141;
		@include xs-block(){
			font-size: 25px;

		}
	}
	&__container{
		padding: 20px;
		@include xs-block(){
			padding: 20px 10px;
		}

	}
	ol{
		margin: 0;
		li{
			&::before{
				top: 20px;
				left: 10px;
			}
		}
	}
	ul{
		margin: 0;
		li{
			&::before{
				top: 32px;
				left: 10px;
				@include xs-block(){
					left: 5px;
				}
			}
		}
	}
	li{
		padding: 20px 0;
		border-top: 1px solid #D1E9FA;
		position: absolute;
	}
	&.reset {
		ol {
			li {
				padding: 0;
				border: none;
				position: static;
			}
		}
		.popup-form__container {
			padding-top: 40px;
		}
	}
}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;



	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.popup-form,
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.mfp-ready .popup-form,
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.mfp-removing .popup-form,
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-bg,
.mfp-wrap {
	z-index: 2000;
}

.reset-pw__link {
	color: $blue;
	text-decoration: underline;
	background-color: transparent;
	cursor: pointer;
	border: none;

	&:hover {
		text-decoration: none;
	}
}

.reset-pw__form {
	display: none;
}
.required--sbmt {
    padding: 16px 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    background-color: $blue;
    border: 1px solid $blue;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: $blue;
    }
}
.btn-anim{
    margin-bottom: 13px;
    @include md-block(){
        font-size: 11px;
        margin-bottom: 5px;
        line-height: 1.5;
        padding: 8px;
    }
    @include sm-block(){
        border: 0;
        background: none;
        margin: 0;
        padding: 0;

    }
    .line{
        @include sm-block(){
            display: none;
        }
    }
    span{
        padding: 0;
    }
    .icon{
        @include md-block(){
            margin-right: 5px;
            width: 20px;
            height: 20px;
        }
    }
    span{
        @include sm-block(){
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
        }
        @include xxs-block(){
            font-size: 10px;
        }
    }
}
.btn-anim {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 257%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    padding: 8px 22px;
    background: rgba(34,154,237,0.05);
    border: 1px solid $blue;
    transition: .4s;
}
.btn-blue {
    color:#4DAA59;
    cursor: pointer;
}
.btn-anim .icon{
    width: 25px;
    height: 25px;
    fill: #4DAA59;
    margin-right: 13px;
}
.mfp-content{
    max-width: 630px;
}
.btn-anim {
    @media screen and (max-width: 1500px){
        padding: 8px 15px;
    }
}
