
.grafic {
	width: 100%;
	//margin: 40px auto;
	//border: 1px solid #DBDBDB;
	@include xxs-block() {
		border: 0;
	}
	&__name {
		text-align: center;
		font-size: 24px;
		padding: 10px 15px;
		border-bottom: 1px solid #DBDBDB;
		color: #4daa59;
		background-color: #f1f4f5;
		letter-spacing: 0.04em;
		line-height: 1.28571;
	}

	&-tab {
		&__list {
			display: flex;

			li {
				width: 33.33%;
				text-align: center;
				border-right: 1px solid #DBDBDB;
				border-bottom: 1px solid #DBDBDB;
				font-size: 18px;
				padding: 10px 5px;
				cursor: pointer;
				transition: .3s;

				&:last-child {
					border-right: 0;
				}

				&:hover:not(.active) {
					color: #4DAA59;
				}

				&.active {
					background-color: #4DAA59;
					color: #fff;
				}
			}
		}
	}

	&-js {
		display: none;
		&__opener{
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px;
			background-color: #4DAA59;
			color: #fff;
			cursor: pointer;
			//border-top: 1px solid #4DAA59;
			//border-bottom: 1px solid #4DAA59;
			.icon{
				margin-left: 10px;
				width: 10px;
				height: 10px;
				fill:  #fff;
				transition: .3s;
			}
			&.open{
				.icon{
					transform: 180deg;
				}
			}
		}
		&__inner {
			canvas {
				width: 100%;
				height: 300px;
			}
		}

		&__temp {
			padding: 10px 15px;
			display: flex;
			justify-content: space-around;
			border-bottom: 1px solid #DBDBDB;
			border-top: 1px solid #DBDBDB;
			background-color: #4DAA59;
			color: #fff;
			flex-wrap: wrap;
			@include xxs-block() {
				justify-content: flex-start;
			}

			label {
				cursor: pointer;
				display: flex;
				align-items: center;
				@include xxs-block() {
					width: 50%;
					margin-bottom: 5px;
				}
			}

			.jq-radio {
				box-shadow: none;
				background: #fff;
				border: 0;
				margin-right: 5px;

				&__div {

				}

				&.checked .jq-radio__div {
					box-shadow: none;
					background: #4DAA59;
				}
			}
		}
	}

	&-list {
		@include xxs-block() {
			padding: 7px 0 0;
			max-height: 200px;
			overflow: auto;
		}
		&__ul {
			&-head {
				border-bottom: 1px solid #DBDBDB;
				@include xxs-block() {
					display: none !important;
				}
				span {
					border-right: 1px solid #DBDBDB;
					font-weight: 600;

					&:last-child {
						border-right: 0;
					}
				}
			}

			li {
				padding: 10px 5px;
				display: flex;
				position: relative;
				@include xxs-block() {
					flex-wrap: wrap;
					border: 1px solid rgb(219, 219, 219);
					margin-bottom: 5px;
					padding: 0;
				}

				&:not(.grafic-list__ul-head) {
					cursor: pointer;
					&:hover {
						background-color: #f7f7f7;
					}
				}

				> span {
					display: flex;
					align-items: center;
					padding: 0 10px;
					line-height: 1.2;
					@include xxs-block() {
						justify-content: center;
						padding: 5px;

					}
					&:nth-child(1) {
						width: 50%;
						padding-right: 10px;
						@include xxs-block() {
							width: 100%;
							padding: 5px;
							border-bottom: 1px solid #DBDBDB;
						}
					}

					&:nth-child(2) {

						width: 25%;
						padding-right: 10px;
						@include xxs-block() {
							width: 50%;
						}
					}

					&:nth-child(3) {
						width: 25%;
						@include xxs-block() {
							width: 50%;
						}
					}

					&.up {
						color: green;

						.ar {
							margin-right: 5px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 4px 8px 4px;
							border-color: transparent transparent green transparent;
						}
					}

					&.down {
						color: red;

						.ar {
							margin-right: 5px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 8px 4px 0 4px;
							border-color: red transparent transparent transparent;
						}
					}

				}

				&.active {
					background-color: #f7f7f7;
				}

				&:hover {
					@media screen and (min-width: 990px){
						.grafic-list__tooltip {
							display: block;
						}
					}

				}


			}
		}

		&__tooltip {
			position: absolute;
			width: 48%;
			border-radius: 5px;
			top: 100%;
			left: 50%;
			background-color: #fff;
			z-index: 50;
			display: none;
			padding: 5px;
			border: 1px solid rgba(0, 0, 0, 0.15);
			box-shadow: 2px 1px 5px 2px rgba(0, 0, 0, 0.15);
			font-size: 12px;
			&.show{
				display: block;
				line-height: 1.4;
				font-size: 10px;
			}
		}
	}

}


[data-highcharts-chart] {
	width: 100%;
	height: 300px;
}


.highcharts-credits {
	display: none !important;
}


.highcharts-figure,
.highcharts-data-table table {
	margin: 20px;
	@include xxs-block() {
		margin: 10px 0;
	}
}


.highcharts-data-table table {
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}


.highcharts-data-table caption {
	padding: 1em 0;
	font-size: 1.2em;
	color: #555;
}


.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}


.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
	padding: 0.5em;
}


.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
	background: #f8f8f8;
}


.highcharts-data-table tr:hover {
	background: #f1f7ff;
}