.main-catalog{
	padding: 60px 0 0;
	.container{

	}
	&__container{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: calc(100% + 36px);
		@include lg-block(){
			width: calc(100% + 25px);
		}
		@include md-block() {
			width: 100%;
		}
	}
	&__item{
		width: calc(33.33% - 36px);
		height: 430px;
		background-size: cover;
		margin-bottom: 34px;
		position: relative;
		display: flex;
		align-items: flex-end;
		margin-right: 36px;
		overflow: hidden;
		@include lg-block(){
			height: 390px;
			width: calc(33.33% - 25px);
			margin-bottom: 25px;
			margin-right: 25px;
		}
		@include md-block(){
			width: calc(50% - 25px / 2);
			margin-right: 0;
			order: 1;
		}
		@include xxs-block(){
			width: 100%;
			margin-right: 0;
		}
		&::before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: linear-gradient(180deg, rgba(0, 28, 18, 0) 12.22%, rgba(0, 28, 18, 0.75) 81.56%);
			left: 0;
			top: 0;
			z-index: 1;
		}
		&:hover{
			.hover{
				top: 0;
				@include sm-block() {
					display: none;
				}
				.icon{
					opacity: 1;
					transform: translateX(0);
					transition-delay: 1s !important;
					transition: 1s;

				}
				span{
					transition-delay: 0.5s !important;
					transition: 0.5s;
					&:nth-child(2){
						width: 100%;
						&::before{
							height: 20px;
							transition-delay: 1s !important;
							transition: 0.5s;
						}

					}
					&:nth-child(3){
						height: calc(100% - 80px);
						&::before{
							width: 80px;
							transition-delay: 1s !important;
							transition: 0.5s;
						}
					}
				}
			}
			.text {
				@include sm-block() {
					color: $green;
				}
			}
		}
		.hover{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 100%;
			left: 0;
			background-color: rgba(77, 170, 89, 0.7);
			z-index: 2;
			padding: 39px 22px;
			display: flex;
			align-items: flex-start;
			justify-content: flex-end;
			transition: 0.5s;
			.icon{
				fill: #fff;
				transform: translateX(-80px);
				opacity: 0;
			}
			span{

				position: absolute;
				z-index: 10;
				&::before{
					content: '';
					position: absolute;
					background-color: rgba(255, 255, 255, 0.25);

				}
				&:nth-child(2){
					//width: 100%;
					width: 0;
					left: 0;
					top: 0;
					height: 20px;
					border-bottom: 1px solid rgba(255, 255, 255, 0.25);
					&::before{
						width: 1px;
						//height: 20px;
						height: 0;
						bottom: 0;
						right: 20px;
					}
				}
				&:nth-child(3){
					width: 20px;
					right: 0;
					bottom: 0;
					//height: calc(100% - 80px);
					height: 0;
					border-left: 1px solid rgba(255, 255, 255, 0.25);
					&::before{
						//width: 80px;
						width: 0;
						height: 1px;
						right: 0;
						top: 0px;
					}
				}


			}
		}
		.text{
			padding: 42px 30px;
			color: #FFFFFF;
			position: relative;
			z-index: 3;
			width: 100%;
			transition: 0.3s;
			.h3, h3, .h3 *{
				font-size: 28px;
				@include lh(28, 33);
				margin-bottom: 6px;
				text-transform: uppercase;
			}
			p{
				font-size: 15px;
				@include lh(15, 21);
			}
		}
		&--double{
			width: calc(66.66% - 36px);
			@include lg-block(){
				width: calc(66.66% - 25px);
			}
			@include md-block(){
				width: 100%;
				order: 2;
			}
		}
	}
}