.main-slider{
	position: relative;
	z-index: 51;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin-bottom: 40px;
	@include md-block() {
		overflow-x: hidden;
	}
	&__grand{
		position: relative;
		z-index: 5;
		width: 100%;
		&-item{
			height: 430px;
			display: flex !important;
			align-items: center;
			background-position: rigth;
			background-size: cover;
			position: relative;

			@include sm-block(){
				height: 670px;
			}
			@include xxs-block() {
				height: 400px;
			}
			.container{
				width: 100%;
				position: relative;
				z-index: 5;
				//top: -50px;
				@include xxs-block(){
					//top: -20px;
				}
			}
			.text{
				width: 50%;
				color: #FFFFFF;
				@include lg-block(){
					width: 70%;
					
				}
				@include xxs-block(){
					width: 100%;
					
				}
			}

			.h1, h1, .h1 *{
				font-size: 40px;
				@include lh(40, 52);
				letter-spacing: 0.02em;
				text-transform: uppercase;
				margin-bottom: 16px;
				transform: translateX(150px);
				opacity: 0;
				transition: 0s;
				color: #4DAA59;
				@include xxs-block(){
					font-size: 20px;
					margin-bottom: 10px;
				}
			}
			p{
				font-size: 16px;
				@include lh(16, 21);
				margin-bottom: 28px;
				transform: translateX(200px);
				opacity: 0;
				transition: 0s;
				font-weight: 300;
				color: #3E3E3E;
				@include lg-block(){
					margin-bottom: 15px;
				}
				@include xxs-block() {
					margin-bottom: 10px;
				}
			}
			.link{
				transform: translateX(250px);
				opacity: 0;
				transition: 0s;
				a{
					@include xxs-block(){
						padding: 6px 10px;
					}
				}
			}
		}
		.slick-current.slick-active{
			.main-slider__grand-item .h1,
			.main-slider__grand-item h1,
			.main-slider__grand-item .h1 *{
				opacity: 1;
				transform: translateX(0);
				transition-delay: 1s;transition: 2.5s;


			}
			.main-slider__grand-item p{
				opacity: 1;
				transform: translateX(0);
				transition-delay: 1.5s;transition: 2.5s;


			}
			.main-slider__grand-item .link{
				opacity: 1;
				transform: translateX(0);
				transition-delay: 2.5s;transition: 2.5s;


			}
		}
	}

	&__nav{
		display: flex;
		justify-content: flex-end;
		margin-top: -90px;
		margin-right: -35px;
		z-index: 20;
		position: relative;
		width: calc(1440px /2);
		@include sm-block(){
			width: calc(1240px /2);
		}
		@include xs-block(){
			width: calc(1150px /2 - 100px);
		}
		@include xxs-block(){
			width: calc(900px /2 - 100px);
		}
		@include xxxs-block(){
			display: none;
		}
		&-container{
			width: 100%;
		}
		.slick-slide{
			padding-right: 35px;
			transition: 1s;
			&.slick-current.slick-active{
				.main-slider__nav-item::before{
					opacity: 0.2;
				}
				.main-slider__nav-item::after{
					opacity: 1;
				}
			}
		}
		&-item{
			height: 110px;
			position: relative;
			background-size: cover;
			cursor: pointer;
			@include xxs-block(){
				height: 80px;
			}
			&:hover{
				&:before{
					opacity: 0.5;
				}
			}
			&::before{
				content: '';
				background: linear-gradient(0deg, rgba(32, 32, 32, 0.85), rgba(32, 32, 32, 0.85));
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				transition: 0.5s;
			}
			&:after{
				content: '';
				position: absolute;
				left: 4px;
				top: 4px;
				width: calc(100% - 10px);
				height: calc(100% - 10px);
				opacity: 0.25;
				border: 1px solid #FFFFFF;
				transition: 1s;
			}
		}
	}
	&__arr{
		position: absolute;
		bottom: 50px;
		width: 100%;
		border-bottom: 1px solid rgba(77, 170, 89, 0.25);
		z-index: 10;

		@include xs-block() {
			bottom: 40px;
		}
		@include xxs-block() {
			bottom: 20px;
		}
		.container{
			display: flex;
			justify-content: flex-start;
		}
		&-prev{
			fill: #fff;
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-top: 1px solid rgba(77, 170, 89, 0.25);
			cursor: pointer;
			@include xxxs-block(){
				margin-left: auto;
			}
			.icon{
				fill: $green;
				opacity: 0.5;
				transition: 0.3s;
				@include xs-block() {
					fill: $green;
				}
				@include xxxs-block() {
					fill: $green;
				}
			}
			&:hover{
				.icon{
					opacity: 1;
				}
			}
		}
		&-next{
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-top: 1px solid rgba(77, 170, 89, 0.25);
			position: relative;
			cursor: pointer;
			@include xxxs-block(){
				margin-right: auto;
			}
			&::before{
				content: '';
				width: 1px;
				background-color: rgba(77, 170, 89, 0.25);
				height: 80%;
				position: absolute;
				left: 0;
				top: 10%;
			}
			&::after{
				content: '';
				width: 1px;
				background-color: rgba(77, 170, 89, 0.25);
				height: 22px;
				position: absolute;
				left: 0px;
				bottom: -23px;
				@include xs-block() {
					display: none;
				}
			}
			.icon{
				fill:  $green;
				opacity: 0.5;
				transition: 0.3s;
			}
			&:hover{
				.icon{
					opacity: 1;
				}
			}
		}
	}
}
