.news-list {
	.container {
		display: flex;
		flex-wrap: wrap;
	}


	&-item {
		position: relative;

		box-sizing: border-box;
		border: 1px solid #d1d3d4;
		background-color: #f1f4f5;
		padding-bottom: 20px;

		&__col{
			width: calc((100% - 76px) / 3);
			@include lg-block(){
				width: calc((100% - 50px) / 3);
			}
			@include md-block(){
				width: 100% ;
				margin-bottom: 25px;
			}
			&:not(:last-child) {
				margin-right: 38px;
				@include lg-block(){
					margin-right: 25px;
				}
				@include sm-block(){
					margin-right: 0px;
					margin-bottom: 25px;
				}
			}
			&:first-child,
			&:last-child {
				li:last-child {
					.news-list-name {
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						max-height: 63px;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
					}
				}
			}

		}

		.single-link{
			padding: 25px 35px;
			a{
				color: #4DAA59;
				word-break: break-word;
				transition: .3s;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				font-size: 20px;
				.icon{
					fill: $green;
					transition: .5s;
					margin-left: 15px;
				}
				&:hover{
					.icon{
						transform: translateX(10px);
					}
				}
			}
		}

		&__tabs{
			&-list{
				margin:10px 0;
				ul{
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
				}
				li{
					padding: 10px;
					border-bottom: 1px solid #DBDBDB;
					transition: .3s;
					font-size: 18px;
					&:hover{
						color: #4DAA59;
					}
					&.active{
						color: #4DAA59;
						border-color: #4DAA59;
					}
				}
			}
			&-container{
				display: none;
				&.active{
					display: block;
				}
			}
		}
	}


	&-img {
		position: relative;
		width: 100%;
		padding-bottom: 50%;
		background-size: cover;
	}


	&-zag {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 20px 60px 20px 35px;
		font-size: 28px;
		color: #fff;
		letter-spacing: 0.04em;
		overflow-x: hidden;
		@include lh(28, 36);
		@include xxxs-block(){
			padding: 20px 60px 20px 15px;
		}

		&:hover {
			.news-list-ar {
				background-color: rgba(255, 255, 255, 0.56);
				right: 0px;
				.icon {
					fill: $green;
				}
				&:after, &:before{
					right: -40px;
				}
			}
		}
	}


	&-ar {
		position: absolute;
		top: 21px;
		right: 21px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 39px;
		height: 39px;
		background-color: $green;
		transition: 0.3s;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: -21px;
			top: -21px;
			bottom: 100%;
			background-color: rgba(255, 255, 255, 0.4);
			transition: 0.3s;
		}

		&:after {
			content: '';
			position: absolute;
			left: 100%;
			right: -21px;
			top: -21px;
			bottom: 0;
			background-color: rgba(255, 255, 255, 0.4);
			transition: 0.3s;
		}

		.icon {
			width: 16px;
			height: 12px;
			fill: #fff;
			transition: 0.3s;
		}
	}

	&-lnk {
		.news-list__zag{
			font-size: 18px;
			@include lh(18, 21);
			margin-bottom: 9px;
			color: $green;
		}
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 32px;
			height: 32px;
			background-color: #f8f9fa;
		}

		&:after {
			content: '';
			position: absolute;
			width: 11px;
			height: 11px;
			left: 21px;
			bottom: 21px;
			background-color: #e1e7e9;
		}

		ul {
			li {
				position: relative;
				transition: 0.25s;

				&:before {
					content: '';
					position: absolute;
					top: 100%;
					transform: translate(35px, -20px);
					width: 80px;
					height: 1px;
					background-color: #d1d3d4;
					pointer-events: none;
					transition: 0.3s;
				}

				&:hover {
					background-color: #f7f9fa;

					&:before {
						width: calc(100% - 106px);
					}

					.icon-ar-right {
						opacity: 1;
						transform: translateX(0px);
					}
				}

				a {
					display: block;
					padding: 20px 35px 40px;
					@include lg-block(){
						padding: 20px 20px 40px;
					}
				}

				.icon-ar-right {
					opacity: 0;
					width: 28px;
					height: 16px;
					position: absolute;
					bottom: 12px;
					right: 35px;
					transform: translateX(-8px);
					fill: $green;
					transition: 0.3s;
				}
			}
		}
	}


	&-date {
		color: #9B9B9B;
		font-size: 16px;
		margin-bottom: 8px;

		@include lh(16, 21);

		&:last-child {
			margin-bottom: 0;
		}
	}


	&-name {
		font-size: 16px;
		margin-bottom: 8px;
		overflow: hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    max-height: 42px;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;

		@include lh(16, 21);

		&:last-child {
			margin-bottom: 0;
		}
	}


	&--bidding {
		.news-list-lnk {
			ul {
				li {
					&:before {
						width: calc(100% - 70px);
						transform: translate(35px, -1px);
					}

					a {
						display: flex;
						padding: 18px 35px;

						@include md-block() {
							display: block;
						}
					}
				}
			}
		}

		.news-list-date {
			margin-right: 28px;
			color: $green;
			font-size: 24px;

			@include lh(24, 28);
		}
	}


}