.pagination{
	display: flex;
	align-items: center;
	padding: 40px 0;
	justify-content: center;
	@include xxs-block() {
		flex-wrap: wrap;
	}
	&.end{
		justify-content: flex-end;
	}
	&.start{
		justify-content: flex-start;
	}
	&-btn{
		font-size: 13px;
		line-height: 15px;
		text-align: center;
		text-transform: uppercase;
		color: #9A9A9A;
		text-decoration: none !important;
		&:hover{
			color: #409145;
		}
	}
	ul{
		display: flex;
		align-items: center;
		margin: 0 30px;
		padding: 0;
		@include xxs-block() {
			width: 100%;
			margin: 10px 0;
			justify-content: center;
		}
		li{
			padding: 0;
			width: 33px;
			height: 32px;
			border: 0.5px solid #D1D3D4;
			background-color: #fff;
			color: #3E3E3E;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 14px;
			transition: .3s;
			@include xxs-block() {
				width: 26px;
				height: 26px;
				margin-right: 5px;
			}
			a{
				width: 100%;
				height: 100%;
				position: relative;
				margin: 0;
				z-index: 1;
				font-size: 13px;
				@include lh(16,15);
				text-align: center;
				text-transform: uppercase;
				display: flex;
				align-items: center;
				justify-content: center;

				cursor: pointer;

				padding: 0;
				text-decoration: none;

			}
			&:hover{
				border-color: #409145;
			}
			&::before{
				content: none;
			}
			&:last-child{
				margin-right: 0;
			}

		}


		.active{
			border-color: #409145;
			background: linear-gradient(256.46deg, #23B236 0%, #409145 100%);
			color: #fff;

		}
	}
}