.partners {
    padding: 30px 0 70px;

    .container {
        display: flex;
        justify-content: space-between;

        @include md-block() {
            flex-direction: column;
        }
    }

    img {
        display: block;
        max-height: 45px;
        margin: 0 auto;
    }

    &-block {
        display: flex;
        flex-wrap: wrap;
        width: calc(50% - 20px);
        &:last-child{
            margin-right: -30px;
            position: relative;
            &::before{
                content: '';
                width: 1px;
                height: 20px;
                background-color: #DBDBDB;
                position: absolute;
                left: -47px;
                bottom: 25px;
                @include lg-block(){
                    left: -28px;
                }
            }
        }
        &:not(:last-child) {
            @include md-block() {
                margin-bottom: 30px;
            }
        }

        @include lg-block() {
            width: 50%;
        }

        @include md-block() {
            width: 100%;
            padding-left: 30px;
        }
    }

    &-zag {
        width: 100%;
        font-size: 28px;
        line-height: 128%;
        margin-bottom: 25px;
        text-align: center;
        padding-right: 30px;
        &[href] {
            &:hover {
                color: $green;
            }
        }
        @include xxs-block(){
			font-size: 26px;
            padding-left: 14px;
            padding-right: 43px;
		}
    }

    &-item {
        min-height: 73px;
        position: relative;
        width: calc((100% - 60px) / 3);
        padding: 10px;
        border: 1px solid #d1d3d4;
        box-sizing: border-box;
        overflow-x: hidden;

        &:hover {
            box-shadow: inset 0px 0px 20px 0px rgba(0, 89, 57, 0.2);
        }

        &:not(:last-child) {
            margin-right: 30px;
        }

        &-zag {
            min-height: 30px;
            font-size: 9px;
            line-height: 109%;
            margin-left: 55px;
            margin-bottom: 5px;
            letter-spacing: -0.03em;
        }

        &-path {
            font-size: 9px;
            line-height: 109%;
            color: #005939;
            margin-left: 55px;
        }
    }

    &--gov {
        .partners-item {
            position: relative;
            background-image: url('./../img/content/ornament.png');
            background-repeat: repeat-x;
            background-position: bottom;
        }

        .partners-item-img {
            position: absolute;
            width: 45px;
            height: 45px;
        }

        .slick-slide:nth-of-type(1) .partners-item {
            border-top: 2px solid #98db43;
        }

        .slick-slide:nth-of-type(2) .partners-item {
            border-top: 2px solid #f8a426;
        }

        .slick-slide:nth-of-type(3) .partners-item {
            border-top: 2px solid #2999ec;
        }
    }

    &-slider {
        width: 100%;

        .slick-slide {
            line-height: 0;
            margin-right: 30px;
        }

        .slick-arrow {
            top: inherit;
            bottom: 100%;
            transform: translateY(-30px);
            transition: 0.3s;
            

            &:hover {
                fill: #005939;
            }

            @include lg-block() {
                transform: translateY(-35px);
            }

            @include md-block() {
                transform: translateY(-30px);
            }

            @include xxs-block() {
                bottom: 100%;
            }
        }

        .slick-prev {
            left: 26%;

            @include lg-block() {
                left: 24%;
            }

            @include md-block() {
                left: 33%;
            }
            @include xs-block() {
                left: 0;
            }
            @include xxs-block() {
                left: 1%;
            }
            @include xxxs-block() {
                left: -5%;
            }
        }

        .slick-next {
            right: calc(26% + 30px);

            @include lg-block() {
                right: calc(24% + 30px);
            }

            @include md-block() {
                right: calc(33% + 30px);
            }
            @include xs-block() {
                right: 30px;
            }
            @include xxs-block() {
                right: calc(1% + 30px);
            }
            @include xxxs-block() {
                right: calc(-5% + 30px);
            }
        }
    }
}