.popup-calendar {
	display: none;
	position: absolute;
	z-index: 999;
	width: 300px;
	background-color: #fff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	@include sm-block(){
		left: calc(50% - 22.5px);
	}
	@include xxs-block() {
		position: fixed;
		top: 149px;
		left: 50%;
	}

	&.show {
		display: block;

	}

	&__zag {
		font-size: 16px;
		@include lh(16, 19);
		color: #404040;
		text-transform: uppercase;
		margin-bottom: 12px;
		text-align: center;
	}

	&__top {
		padding: 20px;
		background-color: #F9F9F9;
	}

	&__list {
		display: flex;
		justify-content: space-between;

		&-block {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			&:hover {
				span {
					color: #005939;
				}
			}

			span {
				font-size: 10px;
				display: block;
				text-align: center;
				margin-top: 5px;
				line-height: 120%;
				opacity: 1 !important;
			}
		}

		.img {
			width: 42px;
			height: 42px;
			border: 1px solid $green;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;

			.icon {
				width: 29px;
				height: 17.4px;
				fill: $green;
				opacity: 1 !important;
				transform: none !important;
			}
		}

	}

	&__center {
		padding: 0 45px 15px;
	}

	.zabuto_calendar {
		width: 100% !important;

		.legend {
			display: none;
		}

		table {
			display: table;
			border-collapse: collapse;
			border: 0 !important;

			tr:last-child {
				border-bottom: 0px solid #ddd;
			}
			span{
				opacity: 1 !important;
			}
			.calendar-month-header {
				span {
					font-size: 16px;
					line-height: 19px;
					text-transform: uppercase;
					color: #404040;
					font-weight: 500;
					padding-bottom: 0 !important;
				}
			}

			div.day {
				padding: 2px 0 !important;
				color: #404040;
			}

			tr.calendar-month-header td {
				background-color: transparent !important;
			}

			td {
				font-weight: 300;
				font-size: 14px;
				line-height: 18px;

				&:hover {
					color: #005939;
				}

				&.event {
					div {
						border-radius: 50%;
						background-color: #005939 !important;
						color: #fff;
						width: 25px;
						height: 25px;
						padding: 0px;
						display: flex;
						align-items: center;
						justify-content: center;
					}

					&[data-active="false"] {
						pointer-events: none;

						div {
							opacity: 0.4;
						}
					}
				}

				.badge-today {
					color: #005939;
					background: none;
					position: relative;
					display: inherit;

					&::before {
						content: '';
						background-color: #005939;
						width: 100%;
						height: 1px;
						position: absolute;
						left: 0;
						bottom: -2px;
					}
				}

				.calendar-dow {
					td {
						&:nth-child(6), &:nth-child(7) {
							color: #E52630;
						}
					}
				}
			}


			.table tr td.event div.day,
			ul.legend li.event {
				background: none;
			}

			#date_nav-prev {
				position: absolute;
				left: 20px;
				top: 63%;
			}

			#date_nav-next {
				position: absolute;
				right: 20px;
				top: 63%;
			}


		}

	}
}