extends ../layout/main

block variables
	- var title = '404 Страница не найдена';

block content
	include ../modules/header
	article
		section
			.container-md.text-page
				.error-404
					.error-404__item
						img(src="./img/laptop.png", alt="" style)
						.error-404__text
							h5 404
							h6 Страница не найдена
							span вы попали на внебиржевой сегмент товарного рынка
					.error-404__item
						img(src="./img/search.png", alt="")
						.error-404__text
							a(href="") Перейти на главную
							.search
								form(action="")
									+icon('search')
									input(type="submit")
									input(type="text" placeholder="или воспользоваться поиском").styler
	include ../modules/footer