extends ../layout/main

block variables
    - var title = 'О нас';

block content
    include ../modules/header
    article
        section
            .container-md.text-page
                include ../modules/breadcrumbs
                    block text
                        | О нас
                .page-zag
                    .img
                        +icon('man')
                    div О нас
                .marked-text
                    img(src="./img/svg/megaphone.svg" alt="")
                    | Общее собрание акционеров — высший орган управления биржей.
                .p-block.about
                    .p-block-50
                        .p-block-text
                            .page-zag--green
                                p Основная информация
                            div
                                p
                                    b Дата основания:
                                    br
                                    | 25 мая 2004 г.
                                p
                                    b Среднегодовой товарооборот:
                                    br
                                    | 2,5 млрд USD
                                p
                                    b Клиенты:
                                    br
                                    | 23 000 компаний
                            div
                                p
                                    b Первые торги:
                                    br
                                    | 2 июня 2005 г.
                                p
                                    b Количество сделок в год:
                                    br
                                    | 400 000
                                p
                                    b География:
                                    br
                                    | 63 страны
                    .p-block-50.p-block--img
                        img(src="./img/content/about1.jpg" alt="")
                .p-block
                    .p-block-50.p-block--img
                        img(src="./img/content/about2.jpg" alt="")
                    .p-block-50
                        .p-block-text
                            .page-zag--green
                                p Что мы предлагаем
                            ul
                                li Возможность купить или продать любой товар или услугу
                                li Свободное ценообразование на основе спроса и предложения
                                li Торги реальным товаром с гарантированной оплатой и поставкой
                                li Миллионы заявок на покупку и продажу ежедневно
                                li Две специализированные электронные площадки — по закупкам в электронном формате и реализации имущества и имущественных прав.
                .p-block
                    .p-block-50
                        .p-block-text
                            .page-zag--green
                                p Преимущества биржи
                            ul
                                li Тысячи продавцов и покупателей со всего мира
                                li Широкая номенклатура товаров
                                li Торги через Интернет
                                li Электронный документооборот
                                li Участие в торгах самостоятельно или через брокера
                                li Проверка контрагентов
                                li Расчеты через счета биржи (бесплатный аккредитив)
                                li Собственная арбитражная комиссия
                    .p-block-50
                        .p-block-text
                            .page-zag--green
                                p Что получают наши клиенты
                            ul
                                li Возможность дешевле купить сырье и дороже продать готовую продукцию
                                li Расширение рынков сбыта
                                li Полное сопровождение сделок
                                li Услуги профессиональных брокеров
                                li Оперативная аналитика по биржевому и внебиржевому рынку товаров
                                li Бесплатное обучение, программное обеспечение и электронная подпись
                .p-block
                    .p-block-100.p-block--img
                        img(src="./img/content/about3.jpg" alt="")

    include ../modules/footer