extends ../layout/main

block variables
	- var title = 'Объявления';

block content
	include ../modules/header

	article
		section
			.container
				.container--double
					a.text-page__menu-btn.js-tpmenu(href="#")
							+icon('ar-right-short')
					.text-page__menu
						ul
							li
								span Все
							li
								a(href="#") По секции металлопродукции
							li
								a(href="#") По секции лесопродукции
							li
								a(href="#") По секции сельхозпродукции
							li
								a(href="#") По секции перспективных биржевых торгов
							li
								a(href="#") По секции торгов ППТ
							li
								a(href="#") По государственным закупкам
							li
								a(href="#") По реализации имущества
							li
								a(href="#") Для биржевых брокеров
							li
								a(href="#") Общие вопросы
					.container-sm.text-page
						include ../modules/breadcrumbs
							block text
								| Все
						.page-zag
							.img
								+icon('libra')
							div Объявления
						.accordion.with-date
							.accordion-date 28.11.2019
							.accordion-head
								span Вниманию участников торгов по секции металлопродукции. Время начала торгов по ЧМ 28 ноября 2019 г.переносится с 10:00 на 11:00
							.accordion-body
								p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00.
								p Приносим свои извинения за причиненные неудобства.
						.accordion.with-date
							.accordion-date 27.11.2019
							.accordion-head
								span С 27 ноября вносятся изменения в параметры торгового ценового коридора с фиксированной нижней границей на отдельные виды молочной продукции, реализуемой на биржевых торгах.
							.accordion-body
								p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.
						.accordion.with-date
							.accordion-date 25.11.2019
							.accordion-head
								span О применении санкций.
							.accordion-body
								p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.
						.accordion.with-date
							.accordion-date 21.11.2019
							.accordion-head
								span Вниманию участников торгов по секции лесопродукции (27 ноября 2019 г.).
							.accordion-body
								p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.
						.accordion.with-date
							.accordion-date 21.11.2019
							.accordion-head
								span 28 ноября 2019 года на БУТБ состояться экспортные биржевые торги продукцией ОАО «БМЗ».
							.accordion-body
								p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.
						.accordion.with-date
							.accordion-date 20.11.2019
							.accordion-head
								span Вниманию участников биржевых торгов! Технические работы на серверном оборудовании 23.11.2019 г.
							.accordion-body
								p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.
						.accordion.with-date
							.accordion-date 20.11.2019
							.accordion-head
								span С 20 ноября вносятся изменения в параметры ценового коридора на отдельные виды молочной продукции
							.accordion-body
								p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.
						.accordion.with-date
							.accordion-date 19.11.2019
							.accordion-head
								span 5 и 6 декабря состояться квартальные биржевые торги древесиной в заготовленном виде ресурса I квартала 2020 года.
							.accordion-body
								p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.
						.accordion.with-date
							.accordion-date 18.11.2019
							.accordion-head
								span Изменены график проведения и порядок допуска к участию в годовых биржевых торгах древесиной в заготовленном виде на 2020 год.
							.accordion-body
								p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.
						.accordion.with-date
							.accordion-date 06.11.2019
							.accordion-head
								span 12 ноября вступают в силу изменения в Регламенте биржевых торгов по секции промышленных и потребительских товаров.
							.accordion-body
								p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.
						.pagination.center
							a(href='#' class='pagination-btn') Назад
							ul
								li.active  1
								li
									a(href='#') 2
								li
									a(href='#') 3
								li
									a(href='#') 4
							a(href='#' class='pagination-btn') Вперед

	include ../modules/footer