extends ../layout/main

block variables
	- var title = 'Список биржевых брокеров';

block content
	include ../modules/header
	article
		section
			.container
				.container--double
					a.text-page__menu-btn.js-tpmenu(href="#")
							+icon('ar-right-short')
					.text-page__menu
						ul
							li
								a(href="#") Биржевые брокеры
							li
								a(href="#") Как стать биржевым брокером
							li
								a(href="#") Аккредитация биржевого брокера
							li
								a(href="#") Аттестация трейдеров биржевого брокера
							li
								a(href="#") Как стать клиентом биржевого брокера
							li
								a(href="#") Регистрация клиента биржевого брокера
							li
								span Список биржевых брокеров
							li
								a(href="#") Рейтинги деловой активности
					.container-sm.text-page
						include ../modules/breadcrumbs
							block text
								| Список биржевых брокеров
						.page-zag
							.img
								+icon('suitcase')
							div Список биржевых брокеров
						.marked-text.nb
							img(src="./img/svg/megaphone.svg" alt="")
							| Приведенный ниже список биржевых брокеров является алфавитным и не связан с рейтингами и иными сравнительными оценками
						include ../modules/filter-broker
						.table-cont
							.broker-table
								.broker-table__row.broker-table--head
									.broker-table__col Брокер
									.broker-table__col Страна
									.broker-table__col Телефон
									.broker-table__col E-mail
									.broker-table__col Секции
								.broker-table__row
									.broker-table__col
										//- <b class="show-detail"> А групп Запад
										//- </b>
										<b>
											a(href="popup-broker-detail.html").ajax-popup-link-broker А групп Запад
										</b>
										<br> Общество с ограниченной ответственностью
										//- .brocker-detail
										//- 	.brocker-detail__top
										//- 		span Биржевой брокер
										//- 		+icon('cross-bold')
										//- 	.brocker-detail__middle
										//- 		.brocker-detail__middle-img
										//- 			img(src="img/content/brocker-logo.png", alt="") 
										//- 		.brocker-detail__middle-content
										//- 			.brocker-detail__middle-title
										//- 				.brocker-detail__middle-title-main Белстройматериалы
										//- 				.brocker-detail__middle-title-info
										//- 					span Cтрана и дата регистрации:
										//- 					span  Беларусь,01.02.2020
										//- 				.brocker-detail__middle-title-info
										//- 					span Дата аккредитации в качестве брокера:
										//- 					span 01.02.2020
										//- 				.brocker-detail__middle-title-info
										//- 					span Языки коммуникации:
										//- 					span Латынь, Суахили, Эсперанто, Трасянка
										//- 			.brocker-detail__middle-desc
										//- 				.brocker-detail__middle-desc-title Брокер торгует в секциях:
										//- 				ul
										//- 					li Металлопродукция
										//- 					li Лесопродукция
										//- 					li Промышленных и потребительских товаров
										//- 					li Строительных материалов
										//- 	.brocker-detail__bottom
										//- 		.brocker-detail__bottom-col
										//- 			ul.links
										//- 				li
										//- 					img(src="img/svg/phone.svg", alt="").icon
										//- 					span Иванов Иван Иванович
										//- 					a(href="tel:375172951594") +375 (17) 295 - 15 - 94
										//- 				li
										//- 					span Иванов Иван Иванович
										//- 					a(href="tel:375172951553") +375 (17) 295 - 15 - 53 ф.
										//- 				li
										//- 					span Иванов Иван Иванович
										//- 					a(href="tel:375171666622") +375 (17) 166 - 66 - 22
										//- 				li
										//- 					span Иванов Иван Иванович
										//- 					a(href="tel:375171666623") +375 (17) 166 - 66 - 23
										//- 				li
										//- 					img(src="img/svg/mail.svg", alt="").icon
										//- 					a(href="mailto:bsmbutb@bk.ru") bsmbutb@bk.ru
										//- 				li
										//- 					img(src="img/svg/planet.svg", alt="").icon
										//- 					a(href="www.belstroimat.com") www.belstroimat.com
										//- 		.brocker-detail__bottom-col
										//- 			p
										//- 				a(href="#") ОАО «Белстройматериалы» 
										//- 				| успешно работает в сфере снабжения государственных и коммерческих предприятий строительными материалами.
										//- 			p 2018 году наша компания отмечает 61- летие со дня основания.
										//- 		.brocker-detail__bottom-col
										//- 			span С нами работают:
										//- 			ul.partners
										//- 				li
										//- 					img(src="img/content/ru.png", alt="")
										//- 					| - Россия
										//- 				li
										//- 					img(src="img/content/uah.png", alt="")
										//- 					| - Украина
										//- 				li
										//- 					img(src="img/content/usd.png", alt="")
										//- 					| - США
										//- 				li
										//- 					img(src="img/content/czk.png", alt="")
										//- 					| - Чехия

									.broker-table__col Беларусь
									.broker-table__col
										a(href="tel:+375296470267") +375 (29) 647-02-67 <br>
										a(href="tel:+375293775702") +375 (29) 377-57-02 <br>
										a(href="tel:+375296553413") +375 (29) 655-34-13 <br>
										a(href="tel:+375172150125") +375 (17) 215-01-25 <br>
										a(href="tel:+375296175257") +375 (29) 617-52-57
									.broker-table__col
										a(href="mailto:ksm@a-grupp.com") ksm@a-grupp.com <br>
										a(href="mailto:vko@a-grupp.com") vko@a-grupp.com <br>
										a(href="mailto:k.klimovich@mail.ru") k.klimovich@mail.ru
									.broker-table__col
										img(src="./img/svg/metal.svg" alt="")
								.broker-table__row
									.broker-table__col
										<b>Аваби</b>
										<br> Общество с ограниченной ответственностью
									.broker-table__col Беларусь
									.broker-table__col
										a(href="+375296502320") +375 (29) 650-23-20 <br>
										a(href="+375173882021") +375 (17) 388-20-21 <br>
										a(href="+375173882022") +375 (17) 388-20-22 <br>
										a(href="+375173882023") +375 (17) 388-20-23 <br>
										a(href="+375296599074") +375 (29) 659-90-74
									.broker-table__col
										a(href="mailto:tsymbalov@avabi.by") tsymbalov@avabi.by <br>
										a(href="mailto:director@avabi.by") director@avabi.by
									.broker-table__col
										img(src="./img/svg/metal.svg" alt="")
								.broker-table__row
									.broker-table__col
										<b>Анискевич Николай Петрович</b>
										<br> Индивидуальный предприниматель
									.broker-table__col Беларусь
									.broker-table__col
										a(href="tel:+375 (17) 755-00-64") +375 (17) 755-00-64 <br>
										a(href="tel:+375 (29) 907-83-78") +375 (29) 907-83-78
									.broker-table__col
										a(href="mailto:aniskevich3@gmail.com") aniskevich3@gmail.com
									.broker-table__col
										img(src="./img/svg/metal.svg" alt="")
										img(src="./img/svg/wood.svg" alt="")
										img(src="./img/svg/plant.svg" alt="")
										img(src="./img/svg/future.svg" alt="")
								.broker-table__row
									.broker-table__col
										<b>Беларусьторг</b>
										<br> Республиканское производственно- торговое унитарное предприятие Управления делами Президента РБ
									.broker-table__col Беларусь
									.broker-table__col
										a(href="tel:+375172156321") +375 (17) 215-63-21 <br>
										a(href="tel:+375333001222") +375 (33) 300-12-22
									.broker-table__col
										a(href="mailto:forest.brt@gmail.com") forest.brt@gmail.com <br>
										a(href="mailto:forest03@brt.by") forest03@brt.by
									.broker-table__col
										img(src="./img/svg/wood.svg" alt="")
								.broker-table__row
									.broker-table__col
										<b>БелВнешБрок</b>
										<br> Частное торговое унитарное предприятие
									.broker-table__col Беларусь
									.broker-table__col
										a(href="tel:+375296231779") +375 (29) 623-17-79 <br>
										a(href="tel:+375296430393") +375 (29) 643-03-93
									.broker-table__col
										a(href="mailto:vovchiq@gmail.com") vovchiq@gmail.com <br>
										a(href="mailto:dimid2542@gmail.com") dimid2542@gmail.com <br>
										a(href="mailto:resource-allians@mail.ru") resource-allians@mail.ru
									.broker-table__col
										img(src="./img/svg/metal.svg" alt="")
										img(src="./img/svg/wood.svg" alt="")
										img(src="./img/svg/plant.svg" alt="")
										img(src="./img/svg/future.svg" alt="")
								.broker-table__row
									.broker-table__col
										<b>Беллесэкспорт</b>
										<br> Экспортно- производственное республиканское унитарное предприятие
									.broker-table__col Беларусь
									.broker-table__col
										a(href="tel:+375172591834") +375 (17) 259-18-34 <br>
										a(href="tel:+375172591706") +375 (17) 259-17-06 <br>
										a(href="tel:+375296878527") +375 (29) 687-85-27 <br>
										a(href="tel:+375291266556") +375 (29) 126-65-56 <br>
										a(href="tel:+375172591842") +375 (17) 259-18-42 <br>
										a(href="tel:+375296966612") +375 (29) 696-66-12
									.broker-table__col
										a(href="mailto:lesexport@solo.by") lesexport@solo.by <br>
										a(href="mailto:v.borisov@bellesexport.b") v.borisov@ bellesexport.by <br>
										a(href="mailto:krynko@bellesexport.by") krynko@bellesexport.by
									.broker-table__col
										img(src="./img/svg/wood.svg" alt="")
								.broker-table__row
									.broker-table__col
										<b>Белметалл</b>
										<br> Открытое акционерное общество
									.broker-table__col Беларусь
									.broker-table__col
										a(href="tel:+375173445442") +375 (17) 344-54-42 <br>
										a(href="tel:+375296488558") +375 (29) 648-85-58
									.broker-table__col
										a(href="mailto:chernushevich@belmetall.com") chernushevich@ belmetall.com
									.broker-table__col
										img(src="./img/svg/metal.svg" alt="")
										img(src="./img/svg/wood.svg" alt="")
										img(src="./img/svg/plant.svg" alt="")
										img(src="./img/svg/future.svg" alt="")
								.broker-table__row
									.broker-table__col
										<b>Белоруская лесная компания</b>
										<br> Открытое акционерное общество
									.broker-table__col Беларусь
									.broker-table__col
										a(href="tel:+375296622458") +375 (29) 662-24-58 <br>
										a(href="tel:+375173283782") +375 (17) 328-37-82 <br>
										a(href="tel:+375297676240") +375 (29) 767-62-40 <br>
										a(href="tel:+375173285149") +375 (17) 328-51-49 <br>
										a(href="tel:+375296575215") +375 (29) 657-52-15 <br>
									.broker-table__col
										a(href="mailto:alekseenko.i@bellesprom.com") alekseenko.i@ bellesprom.com <br>
										a(href="mailto:natalia@bellesprom.com") natalia@bellesprom.com <br>
										a(href="mailto:kandybovich.d@bellesprom.com") kandybovich.d@ bellesprom.com
									.broker-table__col
										img(src="./img/svg/metal.svg" alt="")
										img(src="./img/svg/wood.svg" alt="")
								.broker-table__row
									.broker-table__col
										<b>Белорусское государственное объединение по заготовке, переработке и поставке лома и отходов черных и цветных металлов</b>
																			.broker-table__col Беларусь
									.broker-table__col
										a(href="tel:+375175033620") +375 (17) 503-36-20 <br>
										a(href="tel:+375296595619") +375 (29) 659-56-19 <br>
										a(href="tel:+375175033868") +375 (17) 503-38-68 <br>
										a(href="tel:+375296834268") +375 (29) 683-42-68
									.broker-table__col
										a(href="mailto:ops@bvm.by") ops@bvm.by
									.broker-table__col
										img(src="./img/svg/metal.svg" alt="")
										img(src="./img/svg/wood.svg" alt="")
										img(src="./img/svg/plant.svg" alt="")
										img(src="./img/svg/future.svg" alt="")
		.scrollTop__container
			a(href='#' class='scrollTop')
				span.line
				+icon('ar-top')

	include ../modules/footer