extends ../layout/main

block variables
	- var title = 'Биржевой бюллетень';

block content
	include ../modules/header
	article
		section
			.container
				.container--double
					a.text-page__menu-btn.js-tpmenu(href="#")
							+icon('ar-right-short')
					.text-page__menu
						ul
							li
								a(href="#") Биржевые котировки
							li
								a(href="#") Биржевые индексы
							li
								a(href="#") Ценовой коридор
							li
								a(href="#") Обзор биржевого товарного рынка
							li
								span Биржевой бюллетень
							li
								a(href="#") Рейтинги деловой активности
							li
								a(href="#") Информационные услуги

					.container-sm.text-page
						include ../modules/breadcrumbs
							block text
								| Биржевой бюллетень
						.page-zag
							.img
								+icon('magazine')
							div Биржевой бюллетень
						.filter.absolute
							.filter__name Архив
							.filter__select
								select.styler
									option 2019
									option 2018
									option 2017
									option 2016
						p С мая 2007 года Белорусская универсальная товарная биржа выпускает информационно-аналитический журнал «Биржевой бюллетень».
						p Это периодическое издание знакомит читателей с деятельностью биржи, информирует о новых услугах и технологиях, внедряемых в практику биржевой торговли, публикует рейтинги участников биржевых торгов и биржевых брокеров, представляет биржевые котировки и сведения о конъюнктуре мировых цен на торгуемые на бирже товарные позиции.
						p На этой странице размещены номера «Биржевого бюллетеня», дающие представление не только о характере его информационного содержания, но и о фактической эволюции журнала как средства массовой информации.
						.bulleten
							a.bulleten-img.ajax-popup-link(href="bulleten-book-1.html")
								img(src="./img/content/j1.jpg" alt="")
							.bulleten-text
								.bulleten-zag Биржевой бюллетень №4 (59)
								p Результаты биржевой торговли в январе-сентябре 2019 г.
								ul
									li Модуль «Госзакупки из одного источника»;
									li Круглый стол по торгам сырым молоком;
									li Новый биржевой брокер из Германии.
						.bulleten
							a.bulleten-img.ajax-popup-link(href="bulleten-book-1.html")
								img(src="./img/content/j2.jpg" alt="")
							.bulleten-text
								.bulleten-zag Биржевой бюллетень №3 (58)
								p Результаты биржевой торговли в I полугодии 2019 г.
								ul
									li Изменения в системе госзакупок;
									li Новые позиции на биржевых торгах – сырое молоко на внутреннем рынке и щебень на экспорт;
									li Круглый стол по ветроэнергетике.
						.bulleten
							a.bulleten-img.ajax-popup-link(href="bulleten-book-1.html")
								img(src="./img/content/j3.jpg" alt="")
							.bulleten-text
								.bulleten-zag Биржевой бюллетень №2 (57)
								p Результаты биржевой торговли в I квартале 2019 г.
								ul
									li Биржевой семинар в Прибалтике;
									li Итоги торгов цементом;
									li Биржевой консультант.
						.bulleten
							a.bulleten-img.ajax-popup-link(href="bulleten-book-1.html")
								img(src="./img/content/j4.jpg" alt="")
							.bulleten-text
								.bulleten-zag Биржевой бюллетень №1 (56)
								p Результаты биржевой торговли за 2018 г.
								ul
									li Открытие на БУТБ торговой площадки УзРТСБ;
									li Ценовые рекорды ЭТП «БУТБ-Имущество»;
									li Мобильное приложение БУТБ;
									li Рейтинги участников биржевой торговли.

		.scrollTop__container
			a(href='#' class='scrollTop')
				span.line
				+icon('ar-top')
	include ../modules/footer