<div class="flipbook-wrapper">
    <div id="flipbook">
        <div> <img src="./img/content/j1.jpg" alt=""> </div>
        <div> <img src="./img/content/j1.jpg" alt=""> </div>
        <div> <img src="./img/content/j2.jpg" alt=""> </div>
        <div> <img src="./img/content/j3.jpg" alt=""> </div>
        <div> <img src="./img/content/j4.jpg" alt=""> </div>
        <div> <img src="./img/content/j1.jpg" alt=""> </div>
        <div> <img src="./img/content/j2.jpg" alt=""> </div>
        <div> <img src="./img/content/j3.jpg" alt=""> </div>
        <div> <img src="./img/content/j4.jpg" alt=""> </div>
        <div> <img src="./img/content/j1.jpg" alt=""> </div>
        <div> <img src="./img/content/j2.jpg" alt=""> </div>
        <div> <img src="./img/content/j3.jpg" alt=""> </div>
        <div> <img src="./img/content/j4.jpg" alt=""> </div>
        <div> <img src="./img/content/j1.jpg" alt=""> </div>
    </div>
    <div class="flip-control">
        <a href="#" id="prev">
            <svg class="icon icon-ar-right-short ">
                <use xlink:href="./img/svg/symbol/sprite.svg#ar-right-short"></use>
            </svg>
        </a>
        <a href="#" id="next">
            <svg class="icon icon-ar-right-short ">
                <use xlink:href="./img/svg/symbol/sprite.svg#ar-right-short"></use>
            </svg>
        </a>
    </div>
</div>