extends ../layout/main

block variables
	- var title = 'Контакты'
	- var parentPage = 'Пункт'
block libs-js
	script(src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript")
	script(src="./js/mp-contact__map.js")

block content
	include ../modules/header
	article
		section
			include ../modules/breadcrumbs
		section
			.contact
				.container
					.contact__info
						h1 Контакты
						p
							| Мы любим помогать нашим клиентам и партнёрам. Если у вас есть проблема или вопрос — не стесняйтесь:
							b Звоните и пишите нам!
						ul.contact__info__list
							li
								a(href='tel:+3750172802133' class='btn-blue btn-line') +375 (017) 280-21-33
								a(href='tel:+3750172802133' class='btn-blue btn-line') +375 (017) 280-21-33
								br
								a(href='tel:+3750172802133' class='btn-blue btn-line') +375 (017) 280-21-33
								a(href='tel:+3750172802133' class='btn-blue btn-line') +375 (017) 280-21-33
							li
								a(href='mailto:auction@ipmconsult.by' class='btn-blue btn-line') auction@ipmconsult.by
							li
								a(href='mailto:auction@ipmconsult.by' class='btn-blue btn-line') auction@ipmconsult.by
					.contact-form
						.contact-form__zag Есть вопросы?
						p
							| Для получения оперативной обратной связи воспользуйтесь
							br
							| контактной формой
						form
							.contact-form__container
								div.left
									.block.required--input
										input(type='text' class='required-input' placeholder='Ваше имя *')
									.block.required--email
										input(type='text' placeholder='Email *')
									.block.num--inset
										input(type='text' data-mask="+375 (99) 999-99-99" placeholder='Телефон')
								div.right
									textarea(placeholder='Ваш вопрос')
							input(type='submit' class='required--sbmt')
				#mp-contact__map
	include ../modules/footer
		