.popup-form
  .popup-form__container
    .line.line-1
    .line.line-2
    .line.line-3
    .line.line-4
    .popup-form__zag
      h1 Вход
      p Чтобы пользоваться всеми возможностями портала
    .popup-form__form
      form
        .popup-form__block.required--input
          label
            span
              | Логин
              b *
            input(type='text')
        .popup-form__block.required--input
          label
            span
              | Пароль
              b *
            input(type='text')
        .popup-form__block.popup-form__block--check
          label
            input.styler.required--check(type='checkbox')
            span  Я ознакомлен (-а) с регламентом ЭТП и согласен (-на) с ним
        .popup-form__block
          img(src='./img/captcha.png')
        .hr
        .popup-form__block.popup-form__block--bottom
          div
            input.required--sbmt(type='submit', value='Вход')
          div
            button.reset-pw__link(type='button') Забыли пароль?
      form.reset-pw__form
        .hr
        .popup-form__block.required--email
          label
            span
              | Электронная почта
              b *
            input(type='text', placeholder='name@mail.ru')
        .popup-form__block.popup-form__block--bottom
          div
            input.required--sbmt(type='submit', value='Отправить')