extends ../layout/main

block variables
	- var title = 'Цели и задачи';

block content
	include ../modules/header
	article
		section
			.container-sm.text-page
				include ../modules/breadcrumbs
					block text
						| Цели и задачи
				.page-zag
					.img
						+icon('libra')
					div Мэты і задачы
				.about.text-page
					.p-block
						.p-block-50
							.p-block-text
								.page-zag--green
									p Мэты
								ul
									li Развіццё электроннага біржавога гандлю таварамі.
									li Ўмацаванне эканамічнага патэнцыялу Рэспублікі Беларусь.
									li Рэалізацыя інтэграцыйных працэсаў на таварных рынках.
						.p-block-50.p-block--img
							img(src="./img/content/about1.jpg" alt="")
					.p-block
						.p-block-50.p-block--img
							img(src="./img/content/about2.jpg" alt="")
						.p-block-50
							.p-block-text
								.page-zag--green
									p Задачы
								ul
									li Забеспячэнне празрыстага гандлёвага механізму, заснаванага на прынцыпах свабоднага цэнаўтварэння і канкурэнцыі.
									li Спрашчэнне пошуку дзелавых партнёраў, аптымізацыя дакументазвароту і ўзаемаразлікаў.
									li Садзейнічанне экспарту беларускіх тавараў і дыверсіфікацыі рынкаў збыту.
									li Фарміраванне рэальных цэн на стратэгічна значныя тавары і маніторынг цэнаўтваральных фактараў.
									li Збор, аналіз і распаўсюджванне інфармацыі аб біржавым і пазабіржавым таварным рынку.
									li Пашырэнне пераліку біржавых тавараў і ўкараненне новых біржавых інструментаў.
									li Усталяванне ўзаемавыгадных сувязяў з міжнароднай біржавой супольнасцю.
	include ../modules/footer