extends ../layout/main

block variables
	- var title = 'График';

block libs-js
	//script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js')
	script(src='./libs/highcharts.js')
	script(src='./js/grafic2.js')

block content
	include ../modules/header
	article
		section.container
			.grafic
				.grafic__name Название графика
				.grafic-js
					.grafic-js__inner
						figure.highcharts-figure
							#myChart
					form.grafic-js__temp
						label
							input(type='radio' class='styler' name='temp' value='week1' checked)
							span Неделя
						label
							input(type='radio' class='styler' name='temp' value='month' )
							span 1 Месяц
						label
							input(type='radio' class='styler' name='temp' value='month3' )
							span 3 Месяц
				.grafic-list
					ul.grafic-list__ul
						li.grafic-list__ul-head
							span Дата
							span Last
							span Stock

						li.active(data-prod='prod1' data-href='to-link-1')
							span Наименования товара 1
							span.down
								i.ar
								span 2455.555

							span 88888888
							.grafic-list__tooltip Наименование товара, типоразмер, сорт, условия поставки/оплаты, валюта

						li(data-prod='prod2' data-href='to-link-2')
							span Наименования товара 2
							span.up
								i.ar
								span 2455.555

							span 88888888
							.grafic-list__tooltip наименование товара, типоразмер, сорт, условия поставки/оплаты, валюта
						li(data-prod='prod3' data-href='to-link-3')
							span Наименования товара 3
							span.down
								i.ar
								span 2455.555

							span 88888888
							.grafic-list__tooltip наименование товара, типоразмер, сорт, условия поставки/оплаты, валюта
						li(data-prod='prod1' data-href='to-link-1')
							span Наименования товара 1
							span.up
								i.ar
								span 2455.555

							span 88888888







							.grafic-list__tooltip наименование товара, типоразмер, сорт, условия поставки/оплаты, валюта
	include ../modules/footer