extends ../layout/main

block variables
	- var title = 'Главная';

block libs-js
	script(src='./libs/highcharts.js')
	script(src='./js/grafic2.js')

block content
	include ../modules/header
	article
		section
			include ../modules/main-slider
		section
			include ../modules/news-list
		section
			include ../modules/main-catalog

		section
			include ../modules/partners
		.scrollTop__container
			a(href='#' class='scrollTop')
				span.line
				+icon('ar-top')
	include ../modules/footer