extends ../layout/main

block variables
    - var title = 'Органы управления';

block content
    include ../modules/header
    article
        section
            .container-sm.with-select
                include ../modules/breadcrumbs
                    block text
                        | Новости
                .page-zag
                    .img
                        +icon('man')
                    div Органы управления
        section
            .container-md
                .marked-text
                    img(src="./img/svg/megaphone.svg" alt="")
                    | Общее собрание акционеров — высший орган управления биржей.
                .accordion
                    .accordion-head
                        .page-zag--green
                            p Наблюдательный совет
                            p Руководит деятельностью биржи в период между Общими собраниями акционеров
                    .accordion-body
                        .tabled
                            .tabled-head
                                .tabled-r
                                    .tabled-c Должность
                                    .tabled-c ФИО
                            .tabled-body
                                .tabled-r
                                    .tabled-c Министр антимонопольного регулирования и торговли Республики Беларусь (председатель Наблюдательного совета)
                                    .tabled-c Колтович Владимир Васильевич
                                .tabled-r
                                    .tabled-c Начальник юридического управления ОАО «Белорусская универсальная товарная биржа» (секретарь Наблюдательного совета)
                                    .tabled-c Тарасов Николай Борисович
                                .tabled-r
                                    .tabled-c Генеральный директор Белорусского республиканского унитарного предприятия экспортно-импортного страхования «Белэксимгарант»
                                    .tabled-c Мицкевич Геннадий Антонович


                .accordion
                    .accordion-head
                        .page-zag--green
                            p Координационный совет по биржевой торговле
                            p Обеспечивает взаимодействия между органами государственного управления и ОАО «Белорусская универсальная товарная биржа». Совет создан Советом Министров Республики Беларусь и отвечает за организацию биржевой торговли
                    .accordion-body
                        .tabled
                            .tabled-head
                                .tabled-r
                                    .tabled-c Должность
                                    .tabled-c ФИО
                            .tabled-body
                                .tabled-r
                                    .tabled-c Заместитель Премьер-министра Республики Беларусь (председатель координационного совета)
                                    .tabled-c Ляшенко Игорь Васильевич
                                .tabled-r
                                    .tabled-c Заместитель Министра сельского хозяйства и продовольствия Республики Беларусь
                                    .tabled-c Брыло Игорь Вячеславович
                                .tabled-r
                                    .tabled-c Министр лесного хозяйства Республики Беларусь
                                    .tabled-c Дрожжа Виталий Александрович
                                .tabled-r
                                    .tabled-c Заместитель Министра финансов Республики Беларусь
                                    .tabled-c Кийко Дмитрий Николаевич
                                .tabled-r
                                    .tabled-c Председатель Белорусского производственно-торгового концерна лесной, деревообрабатывающей и целлюлозно-бумажной промышленности
                                    .tabled-c Назаров Юрий Викторович
                                .tabled-r
                                    .tabled-c Заместитель председателя Белорусского государственного концерна по нефти и химии
                                    .tabled-c Сизов Владимир Васильевич
                                .tabled-r
                                    .tabled-c Заместитель Управляющего делами Президента Республики Беларусь
                                    .tabled-c Стрелецкий Андрей Валериевич
                                .tabled-r
                                    .tabled-c Заместитель Министра экономики Республики Беларусь
                                    .tabled-c Чеботарь Юрий Адамович
                .accordion
                    .accordion-head
                        .page-zag--green
                            p Руководство биржи
                            p Исполнительный орган биржи
                    .accordion-body
                        .hum
                            .hum-item
                                img(src="./img/content/osmol-ag.jpg" alt="")
                                .hum-post Председатель правления
                                .hum-name Осмоловский Александр Григорьевич
                            .hum-item
                                img(src="./img/content/novik-ap.jpg" alt="")
                                .hum-post Первый заместитель председателя правления
                                .hum-name Новиков Андрей Петрович
                            .hum-item
                                img(src="./img/content/nark-iv.jpg" alt="")
                                .hum-post Заместитель председателя правления
                                .hum-name Наркевич Ирина Владимировна

    include ../modules/footer