extends ../layout/main

block variables
	- var title = 'Текстовая';

block content
	include ../modules/header
	article
		section
			.container
				.container--double
					a.text-page__menu-btn.js-tpmenu(href="#")
							+icon('ar-right-short')
					.text-page__menu
						ul
							li
								a(href="#") Арбитраж
							li
								span Регламент Арбитражной комиссии
							li
								a(href="#") Исковое заявление
							li
								a(href="#") Принудительное исполнение решения
							li
								a(href="#") Обзор практики рассмотрения споров

					.container-sm.text-page
						include ../modules/breadcrumbs
							block text
								| Мультимедиа
						.page-zag
							.img
								+icon('multimedia')
							div Мультимедиа
						.timetables-market(data-tab-on="on")
							.timetables-market_tabs__list
								ul
									li.active(data-li="1") Мультимедиа
									li(data-li="2") Видеословарь
							.timetables-market__items.v5.active(data-tab='1')
								.timetables-market__item.v5
									ul
										li 
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li 
											a(href="/media/1.html").ajax-popup-link 5 шагов к успеху
										li 46,6 мб
								.timetables-market__item.v5
									ul
										li 
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li 
											a(href="/media/1.html").ajax-popup-link Биржевая логистика
										li 81,5 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link БУТБ на ладони
										li 86,8 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link БУТБ развивает безбумажную торговлю
										li 23,7 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link Координаты успеха
										li 68,4 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link История БУТБ
										li 49,7 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link Основные виды деятельности
										li 47,7 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link Облако тегов
										li 32,9 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link БУТБ разрушает стереотипы
										li 47,1 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link Возможности БУТБ в сфере электронной торговли
										li 48,1 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link Презентация БУТБ в сфере закупок
										li 30,1 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link Толкование аббревиатуры БУТБ
										li 53,2 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link Что такое БУТБ
										li 40,0 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link Возможности для бизнеса
										li 36,0 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link Постройте бизнес на бирже
										li 26,0 мб
								.timetables-market__item.v5
									ul
										li
											a(href="/media/1.html").ajax-popup-link
												img(src="./img/svg/mp4.svg" alt="")
										li
											a(href="/media/1.html").ajax-popup-link Презентационный ролик биржи
										li 58,1 мб
		.scrollTop__container
			a(href='#' class='scrollTop')
				span.line
				+icon('ar-top')
	include ../modules/footer