extends ../layout/main

block variables
    - var title = 'Польские деревообработчики готовы инвестировать в пеллетные';

block content
    include ../modules/header
    article
        section
            .container-md.text-page
                include ../modules/breadcrumbs
                    block text
                        | Польские деревообработчики готовы инвестировать в пеллетные
                .page-zag
                    .img
                        +icon('newspaper')
                    div Польские деревообработчики готовы инвестировать в пеллетные
                p Перспективы расширения сотрудничества Беларуси и Польши в сфере деревообработки и закупок древесного сырья для производства пеллетной продукции подробно обсуждены в ходе «круглого стола», состоявшегося 26 ноября 2019 г. на базе Национального агентства инвестиций и приватизации Республики Беларусь.
                p В мероприятии приняли участие представители польских деревообрабатывающих предприятий, Польского национального агентства по сохранению энергии (KAPE), Польского совета по пеллетам, Посольства Республики Польша в Республике Беларусь, Министерства лесного хозяйства Республики Беларусь, концерна «Беллесбумпром», РУП «Беллесэкспорт», ОАО «Белорусская универсальная товарная биржа» и Белорусской торгово-промышленной палаты.
                img(src='./img/news-card.png' style='width: 100%;')
                p Выступая на «круглом столе», руководители ряда польских компаний выразили заинтересованность в реализации совместных проектов по производству древесных гранул и брикетов, которые считаются одним из самых экологически чистых видов топлива и пользуются значительным спросом в странах Европейского союза. При этом предполагается, что сырье в рамках таких проектов будет закупаться через БУТБ, где уже на протяжении нескольких лет регулярно проводятся биржевые торги щепой и древесными отходами. За 10 месяцев текущего года иностранные компании приобрели на биржевых торгах БУТБ более 3,3 млн куб. м данной продукции на общую сумму 65 млн долл. США (51% от этого объема реализовано в Польшу). Экспорт топливных брикетов и гранул, по мнению участников «круглого стола», также может быть организован с использованием биржевого механизма, поскольку пул потенциальных покупателей уже сформирован и большинство из них аккредитованы на бирже.
                img(src='./img/news-card.png' style='width: 100%;')
                p Помимо участия в «круглом столе», представители польского бизнеса также посетили ГОЛХУ «Борисовский опытный лесхоз», где имели возможность познакомиться с технологией производства и качественными характеристиками белорусских пиломатериалов и щепы.
                .double-links
                    a(href='javascript:(print());' class='link--withIco')
                        img(src='./img/printer.png' class='icon')
                        span Версия для печати
                    .ss
                        .ss-zag Поделиться в
                        a(href='#')
                            +icon('fb')
                        a(href='#')
                            +icon('tw')

        .scrollTop__container
            a(href='#' class='scrollTop')
                span.line
                +icon('ar-top')
    include ../modules/footer