extends ../layout/main

block variables
	- var title = 'Главная';

block content
	include ../modules/header
	article

		section
			.container-sm.with-select
				include ../modules/breadcrumbs
					block text
						| Новости
				.page-zag
					.img
						+icon('newspaper')
					div Новости
				.filter.absolute
					.filter__name Архив
					.filter__select
						select.styler
							option 2019
							option 2018
							option 2017
							option 2016

			.container-md
				.news
					.news-list
						a.news-list__item(href='#')
							.news-list__item-img(style='background-image: url(./img/news1.png)')
							.news-list__item-text
								.date 18.11.2019
								p Международная конференция «Развитие конкуренции на отраслевых рынках: теоретические и практические аспекты»
						a.news-list__item(href='#')
							.news-list__item-img(style='background-image: url(./img/news2.png)')
							.news-list__item-text
								.date 18.11.2019
								p Международная конференция «Развитие конкуренции на отраслевых рынках: теоретические и практические аспекты»
						a.news-list__item(href='#')
							.news-list__item-img(style='background-image: url(./img/news2.png)')
							.news-list__item-text
								.date 18.11.2019
								p Международная конференция «Развитие конкуренции на отраслевых рынках: теоретические и практические аспекты»
						a.news-list__item(href='#')
							.news-list__item-img(style='background-image: url(./img/news1.png)')
							.news-list__item-text
								.date 18.11.2019
								p Международная конференция «Развитие конкуренции на отраслевых рынках: теоретические и практические аспекты»
						a.news-list__item(href='#')
							.news-list__item-img(style='background-image: url(./img/news1.png)')
							.news-list__item-text
								.date 18.11.2019
								p Международная конференция «Развитие конкуренции на отраслевых рынках: теоретические и практические аспекты»
						a.news-list__item(href='#')
							.news-list__item-img(style='background-image: url(./img/news1.png)')
							.news-list__item-text
								.date 18.11.2019
								p Международная конференция «Развитие конкуренции на отраслевых рынках: теоретические и практические аспекты»

					include ../modules/pagination
		.scrollTop__container
			a(href='#' class='scrollTop')
				span.line
				+icon('ar-top')
	include ../modules/footer