extends ../layout/main

block variables
	- var title = 'Партнёры';

block content
	include ../modules/header

	article
		section
			.container-md.text-page
				include ../modules/breadcrumbs
					block text
						| Партнёры
				.page-zag
					.img
						+icon('handshake')
					div Партнёры
				.timetables-market.timetables--partners(data-tab-on="on")
					.timetables-market_tabs__list
						ul
							li(data-li="1") Все
							li.active(data-li="2") Журналы
							li(data-li="3") Биржи
							li(data-li="4") Интернет-порталы
							li(data-li="5") Государственные органы
							li(data-li="6") Торгово-промышленные палаты
							li(data-li="7") Ассоциации
							li(data-li="8") Предприятия и организации
					.timetables-market__items(data-tab="1") Содержимое таба "Все"
					.timetables-market__items.active(data-tab="2")
						ul
							li
								span Журнал «Дело»
								a(href="https://delo.by" target="_blank") delo.by
							li
								span Журнал «Знак качества»
								a(href="http://znk.by" target="_blank") znk.by
							li
								span Информационно-аналитический журнал «Сибирский репортер»
								a(href="https://sibreporter.info" target="_blank") sibreporter.info
							li
								span Биржевой вестник «Киевагропромбиржа»
								a(href="http://visnik.kiev.ua" target="_blank") visnik.kiev.ua
					.timetables-market__items(data-tab="4") Содержимое таба "Биржи"
					.timetables-market__items(data-tab="3") Содержимое таба "Интернет-порталы"
					.timetables-market__items(data-tab="5") Содержимое таба "Государственные органы"
					.timetables-market__items(data-tab="6") Содержимое таба "Торгово-промышленные палаты"
					.timetables-market__items(data-tab="7") Содержимое таба "Ассоциации"
					.timetables-market__items(data-tab="8") Содержимое таба "Предприятия и организации"

	include ../modules/footer