include ../mixins	

.brocker-detail
	.brocker-detail__top
		span Биржевой брокер
		+icon('cross-bold')
	.brocker-detail__middle
		.brocker-detail__middle-img
			img(src="img/content/brocker-logo.png" alt="") 
		.brocker-detail__middle-content
			.brocker-detail__middle-title
				.brocker-detail__middle-title-main Белстройматериалы
				.brocker-detail__middle-title-info
					span Cтрана и дата регистрации:
					span  Беларусь,01.02.2020
				.brocker-detail__middle-title-info
					span Дата аккредитации в качестве брокера:
					span 01.02.2020
				.brocker-detail__middle-title-info
					span Языки коммуникации:
					span Латынь, Суахили, Эсперанто, Трасянка
			.brocker-detail__middle-desc
				.brocker-detail__middle-desc-title Брокер торгует в секциях:
				ul
					li Металлопродукция
					li Лесопродукция
					li Промышленных и потребительских товаров
					li Строительных материалов
	.brocker-detail__bottom
		.brocker-detail__bottom-col
			ul.links
				li
					img(src="img/svg/phone.svg" alt="").icon
					span Иванов Иван Иванович
					a(href="tel:375172951594") +375 (17) 295 - 15 - 94
				li
					span Иванов Иван Иванович
					a(href="tel:375172951553") +375 (17) 295 - 15 - 53 ф.
				li
					span Иванов Иван Иванович
					a(href="tel:375171666622") +375 (17) 166 - 66 - 22
				li
					span Иванов Иван Иванович
					a(href="tel:375171666623") +375 (17) 166 - 66 - 23
				li
					img(src="img/svg/mail.svg" alt="").icon
					a(href="mailto:bsmbutb@bk.ru") bsmbutb@bk.ru
				li
					img(src="img/svg/planet.svg" alt="").icon
					a(href="www.belstroimat.com") www.belstroimat.com
		.brocker-detail__bottom-col
			p
				a(href="#") ОАО «Белстройматериалы» 
				| успешно работает в сфере снабжения государственных и коммерческих предприятий строительными материалами.
			p 2018 году наша компания отмечает 61- летие со дня основания.
		.brocker-detail__bottom-col
			span С нами работают:
			ul.partners
				li
					img(src="img/content/ru.png" alt="")
					| - Россия
				li
					img(src="img/content/uah.png" alt="")
					| - Украина
				li
					img(src="img/content/usd.png" alt="")
					| - США
				li
					img(src="img/content/czk.png" alt="")
					| - Чехия