extends ../layout/main

block variables
	- var title = 'Вопрос-ответ';

block content
	include ../modules/header

	article
		section
			.container
				.container--double
					a.text-page__menu-btn.js-tpmenu(href="#")
							+icon('ar-right-short')
					.text-page__menu
						ul
							li
								span Все
							li
								a(href="#") По металлопродукции
							li
								a(href="#") По лесопродукции
							li
								a(href="#") По сельхозпродукции
							li
								a(href="#") По перспективных биржевых торгов
							li
								a(href="#") По торгов ППТ
							li
								a(href="#") По государственным закупкам
							li
								a(href="#") По реализации имущества
							li
								a(href="#") Для биржевых брокеров
							li
								a(href="#") Общие вопросы
					.container-sm
						include ../modules/breadcrumbs
							block text
								| Все
						.page-zag
							.img
								+icon('libra')
							div Вопрос-ответ
						<p style="font-size: 18px;"> ВОПРОСЫ ПЕРЕД ТОРГАМИ</p>	
						ol.cont-quest 
							li
								.accordion
									.accordion-head
										span Вниманию участников торгов по секции металлопродукции. Время начала торгов по ЧМ 28 ноября 2019 г.переносится с 10:00 на 11:00
									.accordion-body
										p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00.
										p Приносим свои извинения за причиненные неудобства.
							li
								.accordion
									.accordion-head
										span С 27 ноября вносятся изменения в параметры торгового ценового коридора с фиксированной нижней границей на отдельные виды молочной продукции, реализуемой на биржевых торгах.
									.accordion-body
										p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.      
							li
								.accordion
									.accordion-head
										span О применении санкций.
									.accordion-body
										p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.
						<p style="font-size: 18px;" > ВОПРОСЫ ПЕРЕД ТОРГАМИ</p>	
						ol.cont-quest 
							li
								.accordion
									.accordion-head
										span Вниманию участников торгов по секции металлопродукции. Время начала торгов по ЧМ 28 ноября 2019 г.переносится с 10:00 на 11:00
									.accordion-body
										p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00.
										p Приносим свои извинения за причиненные неудобства.
							li
								.accordion
									.accordion-head
										span С 27 ноября вносятся изменения в параметры торгового ценового коридора с фиксированной нижней границей на отдельные виды молочной продукции, реализуемой на биржевых торгах.
									.accordion-body
										p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.      
							li
								.accordion
									.accordion-head
										span О применении санкций.
									.accordion-body
										p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.
						<p style="font-size: 18px;"> ВОПРОСЫ ПЕРЕД ТОРГАМИ</p>
						ol.cont-quest 
							li
								.accordion
									.accordion-head
										span Вниманию участников торгов по секции металлопродукции. Время начала торгов по ЧМ 28 ноября 2019 г.переносится с 10:00 на 11:00
									.accordion-body
										p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00.
										p Приносим свои извинения за причиненные неудобства.
							li
								.accordion
									.accordion-head
										span С 27 ноября вносятся изменения в параметры торгового ценового коридора с фиксированной нижней границей на отдельные виды молочной продукции, реализуемой на биржевых торгах.
									.accordion-body
										p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.      
							li
								.accordion
									.accordion-head
										span О применении санкций.
									.accordion-body
										p По техническим причинам время начала торговой сессии по реализации черных металлов и изделий из них на внутренний рынок 28 ноября 2019 г. переносится с 10-00 на 11-00. Приносим свои извинения за причиненные неудобства.
						
						
	include ../modules/footer