extends ../layout/main

block variables
	- var title = 'Лесопродукция';

block content
	include ../modules/header
	article
		section
			.container
				.container--double
					a.text-page__menu-btn.js-tpmenu(href="#")
							+icon('ar-right-short')
					.text-page__menu
						ul
							li
								a(href="#") Металлопродукция
							li
								span Лесопродукция
							li
								a(href="#") Сельхозпродукция
							li
								a(href="#") Перспективные товары

					.container-sm.text-page
						include ../modules/breadcrumbs
							block text
								| Лесопродукция
						.page-zag
							.img
								+icon('lec')
							div Лесопродукция
						.application
							.img
								+icon('megaphone')
							p
								| 20 ноября 2019 г. состоятся биржевые торги по реализации лесоматериалов круглых (сырья древесного технологического) на экспорт.&#32;
								a(href='#')  Подробнее
						.application
							.img
								+icon('megaphone')
							p
								| 20 ноября 2019 г. состоятся биржевые торги по реализации лесоматериалов круглых (сырья древесного технологического) на экспорт.&#32;
								a(href='#')  Подробнее
						.application
							.img
								+icon('megaphone')
							p
								| 5 и 6 декабря состоятся квартальные биржевые торги древесиной в заготовленном виде ресурса I квартала 2020 года.&#32;
								a(href='#')  Подробнее

						.timetables-market(data-tab-on='on')
							.timetables-market_tabs__list
								ul
									li.active(data-li='1') Внутренний рынок
									li(data-li='2') Внешний рынок
									li(data-li='3') Внешний рынок
							.timetables-market__items.active(data-tab='1')
								.table-wrap.v6
									.timetables-market_tabs__name
										ul
											li Совмещенная торговая сессия
											li Еженедельно, по вт в 10:00
									.timetables-market__item
										.tm-tooltips
											.tm-tooltips__img
												div(style='background-color: #54D816')
													div(style='background-color: #23B236')
														+icon('tm-tooltips')
											.tm-tooltips__text
												p
													b  На торгах пиломатериалами хвойных и лиственных пород (на внутренний рынок) реализуются:
												p 	пиломатериалы хвойных и лиственных пород, • шпалы деревянные хвойных и лиственных пород, деревянные для метрополитена, полушпалы деревянные пропитанные, • брусья деревянные для стрелочных переводов, мостовые деревянные, охранные деревянные, • щепа топливная, технологическая, брикеты древесные топливные, гранулы древесные топливные, отходы древесные (обрезки, горбыль, опилки и т.д.), • доски для покрытия пола, бруски для покрытия пола, блочный и модульный паркет, доски паркетные, палубные, подоконные, • обшивка, наличник, плинтус, поручни, имитация бруса, блок-хаус, • двери деревянные, блоки дверные из древесины.

										ul.with-background
											li Древесина в заготовленном виде для собственного производства и (или) потребления (по ресурсам лесофондодержателей Республики Беларусь)
											li
												a(href='#' class='link-green') Реестр заявок
									.timetables-market__item
										ul
											li Древесина в заготовленном виде для собственного производства и (или) потребления (торги на понижение)
											li
												a(href='#' class='link-green') Реестр заявок
									.timetables-market__item
										ul
											li Древесина в заготовленном виде без целевого назначения для собственного производства и (или) потребления (торги на понижение)
											li
												a(href='#' class='link-green') Реестр заявок
								.table-wrap
									.timetables-market_tabs__name
										ul
											li Товарная группа
											li периодичность торгов
											li
									.timetables-market__item
										.tm-tooltips
											.tm-tooltips__img
												div(style='background-color: #54D816')
													div(style='background-color: #23B236')
														+icon('tm-tooltips')
											.tm-tooltips__text
												p
													b  На торгах пиломатериалами хвойных и лиственных пород (на внутренний рынок) реализуются:
												p 	пиломатериалы хвойных и лиственных пород, • шпалы деревянные хвойных и лиственных пород, деревянные для метрополитена, полушпалы деревянные пропитанные, • брусья деревянные для стрелочных переводов, мостовые деревянные, охранные деревянные, • щепа топливная, технологическая, брикеты древесные топливные, гранулы древесные топливные, отходы древесные (обрезки, горбыль, опилки и т.д.), • доски для покрытия пола, бруски для покрытия пола, блочный и модульный паркет, доски паркетные, палубные, подоконные, • обшивка, наличник, плинтус, поручни, имитация бруса, блок-хаус, • двери деревянные, блоки дверные из древесины.

										ul.with-background
											li
												| Древесина в заготовленном виде для собственного производства и (или) потребления (по ресурсам лесофондодержателей Республики Беларусь)
												div.links--dowload
													.links--dowload__name
														span Товарная номенклатура
													ul
														li
															a(href='#')
																img(src='./img/eye-1.png')
																| Смотреть
														li
															a(href='#' download)
																img(src='./img/pdf-8.png')
																| Скачать

												//a(href='fdsf.fds' class='link--withIco' download)
												//	img(src='./img/pdf.svg' class='icon')
												//	span Товарная номенклатура
											li Еженедельно, по четвергам в 10.00
											li
												a(href='#' class='link-green') Подробнее
									.timetables-market__item
										ul
											li
												| Древесина в заготовленном виде для собственного производства и (или) потребления (торги на понижение)
												a(href='fdsf.fds' class='link--withIco' download)
													img(src='./img/pdf.svg' class='icon')
													span Товарная номенклатура
											li Еженедельно, по четвергам в 10.00
											li
												a(href='#' class='link-green') Подробнее
									.timetables-market__item
										ul
											li
												| Древесина в заготовленном виде без целевого назначения для собственного производства и (или) потребления (торги на понижение)
												a(href='fdsf.fds' class='link--withIco' download)
													img(src='./img/pdf.svg' class='icon')
													span Товарная номенклатура
											li Еженедельно, по четвергам в 10.00
											li
												a(href='#' class='link-green') Подробнее










						p
							i *На торгах пиломатериалами хвойных и лиственных пород (на внутренний рынок) реализуются:
						ul
							li знакомиться с материалами дела, делать выписки из них, снимать за свой счет копии с разрешения арбитра (председательствующего), рассматривающего спор, или председателя Арбитражной комиссии;
							li заявлять ходатайства, возражать против ходатайств другой стороны;
							li представлять доказательства, участвовать в исследовании доказательств;
							li заявлять отводы арбитрам;
							li задавать вопросы лицам, участвующим в арбитражном разбирательстве;
							li давать устные и письменные объяснения;
							li представлять свои доводы по возникающим в ходе арбитражного разбирательства вопросам, возражать против доводов другой стороны;
							li обжаловать решение Арбитражной комиссии в случаях, предусмотренных законодательством Республики Беларусь;
							li пользоваться юридической помощью адвокатов и иных представителей в целях защиты своих нарушенных или оспариваемых прав и законных интересов;
							li осуществлять иные права, предусмотренные настоящим Регламентом.
						p Истец вправе до принятия Арбитражной комиссией решения, путем подачи письменного заявления, изменить основание или предмет иска, увеличить или уменьшить размер исковых требований, отказаться от иска.
						p Стороны до вынесения Арбитражной комиссией постановления, которым завершается рассмотрение спора, имеют право заключить мировое соглашение.
			//- .tm-tooltips
			//- 	.tm-tooltips__img
			//- 		div(style="background-color: #54D816")
			//- 			div(style="background-color: #23B236")
			//- 				+icon('tm-tooltips')
			//- 	.tm-tooltips__text
			//- 		b На торгах пиломатериалами хвойных и лиственных пород (на внутренний рынок) реализуются:
			//- 		|• пиломатериалы хвойных и лиственных пород, • шпалы деревянные хвойных и  лиственных пород, деревянные для метрополитена, полушпалы деревянные  пропитанные, • брусья деревянные для стрелочных переводов, мостовые  деревянные, охранные деревянные, • щепа топливная, технологическая,  брикеты древесные топливные, гранулы древесные топливные, отходы  древесные (обрезки, горбыль, опилки и т.д.), •  доски для покрытия пола, бруски для покрытия пола, блочный и модульный  паркет, доски паркетные, палубные, подоконные, • обшивка, наличник,  плинтус, поручни, имитация бруса, блок-хаус, • двери деревянные, блоки  дверные из древесины или древесных материалов, балконные дверные блоки  деревянные, оконные блоки деревянные, • штакетник горбыльный, дощатый,  строганный, • балки деревянные двутавровые клееные для опалубки, • посадочный материал (сеянцы, саженцы) лесных и декоративных деревьев и кустарников, семена (желуди), деревья новогодние

		.scrollTop__container
			a(href='#' class='scrollTop')
				span.line
				+icon('ar-top')
	include ../modules/footer