extends ../layout/main

block variables
    - var title = 'Расписание торгов на 20 ноября';

block content
    include ../modules/header
    article
        section
            .container-md.text-page
                include ../modules/breadcrumbs
                    block text
                        | Расписание торгов на 20 ноября
                .page-zag
                    .img
                        +icon('calendar')
                    div Расписание торгов на 20 ноября

                .timetables-market(data-tab-on='on')
                    .timetables-market_tabs__list.with-filter
                        ul
                            li.active(data-li='1') Все торги
                            li(data-li='2') Металлопродукция
                            li(data-li='3') Лесопродукция
                            li(data-li='4') Сельхозпродукция
                            li(data-li='5') Перспективные товары
                        .timetables-market__filter
                            .timetables-market__filter-block
                                a(href="#") 18 ноября
                            .timetables-market__filter-block
                                a(href="#") 19 ноября
                            .timetables-market__filter-block
                                a(href="#") 20 ноября
                            .timetables-market__filter-block
                                a(href="#") 21 ноября
                            .timetables-market__filter-block
                                a(href="#") 22 ноября
                    .timetables-market_tabs__name.v2
                        ul
                            li время торгов
                            li товарная группа
                            li
                    .timetables-market__items.active(data-tab='1')
                        .timetables-market__item.v2
                            ul.with-background
                                li 9:30
                                li Зерно (импорт, внутренний рынок)
                                li
                                    a(href='fdsf.fds' class='link--withIco' download)
                                        img(src='./img/clipboard.svg' class='icon')
                                        span Реестр заявок
                        .timetables-market__item.v2
                            ul.with-background
                                li 9:30
                                li Молоко сухое, масло сливочное, сыры, сыворотка сухая, казеин технический (на экспорт)
                                li
                                    a(href='fdsf.fds' class='link--withIco' download)
                                        img(src='./img/clipboard.svg' class='icon')
                                        span Реестр заявок
                        .timetables-market__item.v2
                            ul
                                li 9:30
                                li Годовые биржевые торги по продаже фансырья и пиловочника твердолиственных пород ресурса 2020 года
                                li
                                    a(href='fdsf.fds' class='link--withIco' download)
                                        img(src='./img/clipboard.svg' class='icon')
                                        span Реестр заявок
                        .timetables-market__item.v2
                            ul
                                li 9:30
                                li Поврежденная древесина в заготовленном виде для собственного производства и (или) потребления (внутренний рынок, торги на понижение)
                                li
                                    a(href='fdsf.fds' class='link--withIco' download)
                                        img(src='./img/clipboard.svg' class='icon')
                                        span Реестр заявок
                    .timetables-market__items(data-tab='2')
                        .timetables-market__item.v2
                            ul
                                li 9:30
                                li Зерно (импорт, внутренний рынок)
                                li
                                    a(href='fdsf.fds' class='link--withIco' download)
                                        img(src='./img/clipboard.svg' class='icon')
                                        span Реестр заявок
                        .timetables-market__item.v2
                            ul
                                li 9:30
                                li Зерно (импорт, внутренний рынок)
                                li
                                    a(href='fdsf.fds' class='link--withIco' download)
                                        img(src='./img/clipboard.svg' class='icon')
                                        span Реестр заявок
        .scrollTop__container
            a(href='#' class='scrollTop')
                span.line
                +icon('ar-top')
    include ../modules/footer