extends ../layout/main

block variables
    - var title = 'Лесопродукция';

block content
    include ../modules/header

    article
        section
        .container
            .container--double
                a.text-page__menu-btn.js-tpmenu(href="#")
                        +icon('ar-right-short')
                .text-page__menu
                    ul
                        li
                            a(href="#") Металлопродукция
                        li
                            span Лесопродукция
                        li
                            a(href="#") Сельхозпродукция
                        li
                            a(href="#") Перспективные товары
                .container-sm.text-page
                    include ../modules/breadcrumbs
                        block text
                            | Бумажная и картон...
                    .page-zag
                        .img
                            +icon('lec')
                        div Бумажная и картонная продукция
                    .application.green.with-r-col
                        .img
                            +icon('megaphone')
                        p
                            | Заявки на продажу и покупку бумаги и картона подаются с помощью предварительно установленного программного обеспечения WoodBidLoader с использованием
                            a(href="#") электронной цифровой подписи.
                        .r-col
                            a.link-green(href="#") К установке
                    .application.green.with-r-col
                        .img
                            +icon('megaphone')
                        p Для проведения биржевых торгов бумагой и картоном используется программный модуль WoodTrader.
                        .r-col
                            a.link-green(href="#") К установке
                    .application.green.with-r-col
                        .img
                            +icon('clipboard')
                        p
                            | Ближайшие торги пройдут 25 ноября в 14:30. Вы можете подать заявку на участие в них до 18:00 20 ноября.
                            br
                            a(href="#") Порядок подачи заявок
                        .r-col
                            a(href="#") Заявка на покупку
                            a.color-red(href="#") Заявка на продажу
                    p Принимать участие в торгах (продать или купить бумагу и картон) можно через интернет, в торговых залах биржи (Минск, Гомель, Могилев, Витебск, Гродно, Брест), посредством биржевых брокеров.
                    p На биржевых торговых сессиях бумажной и картонной продукцией при наличии заявок реализуются:
                    ul
                        li бумага офсетная, типографская, мелованная глянцевая/матовая, газетная, книжно-журнальная, переплетная, бумага для многокрасочной печати, для гофрирования;
                        li бумага для офисной техники А4 и А3, офисная бумага, писчая, для инженерных работ, бумага перфорированная, рулонная для принтеров и плоттеров, чертежная, цветная, самокопирующая, этикеточная;
                        li бумага упаковочная, оберточная, мешочная, крафт-бумага, парафинированная;
                        li лента чековая термочувствительная, факсовая, лента для банкоматов, для электронной очереди, для контрольно-кассовых машин;
                        li конверты почтовые, этикетки самоклеящиеся, ярлыки, лента малярная;
                        li картон мелованный, полиграфический, переплетный, для жестких книжных переплетов;
                        li картон гофрированный, коробочный, упаковочный;
                        li лотки и ящики (штамп) из гофрированного картона, гофроупаковка, гофротара, мешки и пакеты бумажные, картонные защитные уголки и т. д.
                    p Сроки подачи заявок
                    .block-left-border
                        p <b>На покупку бумаги и картона</b> — до 18.00 за 2 рабочих дня до даты проведения торгов,
                        p <b>На продажу бумаги и картона</b> — до 18.00 за 1 рабочий день до даты проведения торгов.
                    .subzag Приём заявок (на покупку и продажу)
                    p Куратор: Сыса Дмитрий Александрович, тел. <a href="tel:+375173093707">+375 (17) 309 37 07</a>, факс <a href="tel:3093796">309 37 96</a>, E-mail: <a href="mailto:d.sysa@butb.by">d.sysa@butb.by</a>.
                    p Продать или купить бумагу и картон (реализовать или осуществить закупку) можно на еженедельно проводимых биржевых торгах в соответствии с графиком:
                    .timetables-market_tabs__name.v3
                        ul
                            li Дата торгов
                            li Время торгов
                    .timetables-market__items.active
                        .timetables-market__item.v3
                            ul
                                li 25.11.2019
                                li 14:30
                                li
                                    a(href="#") Заявка на покупку
                                    p До конца приёма заявок:
                                        br
                                        span(data-apply="1-1")
                                li 
                                    a(href="#") Заявка на продажу
                                    p До конца приёма заявок:
                                        br
                                        span(data-apply="1-2")
                        .timetables-market__item.v3
                            ul.with-background
                                li 02.12.2019
                                li 14:30
                                li
                                    a(href="#") Заявка на покупку
                                    p До конца приёма заявок:
                                        br
                                        span(data-apply="2-1")
                                li 
                                    a(href="#") Заявка на продажу
                                    p До конца приёма заявок:
                                        br
                                        span(data-apply="2-2")
                        .timetables-market__item.v3
                            ul
                                li 09.12.2019
                                li 14:30
                                li
                                    a(href="#") Заявка на покупку
                                    p До конца приёма заявок:
                                        br
                                        span(data-apply="3-1")
                                li 
                                    a(href="#") Заявка на продажу
                                    p До конца приёма заявок:
                                        br
                                        span(data-apply="3-2")
                        .timetables-market__item.v3
                            ul
                                li 16.12.2019
                                li 14:30
                                li
                                li
                        .timetables-market__item.v3
                            ul
                                li 23.12.2019
                                li 14:30
                                li
                                li
                        .timetables-market__item.v3
                            ul
                                li 30.12.2019
                                li 14:30
                                li
                                li
        .scrollTop__container
            a(href='#' class='scrollTop')
                span.line
                +icon('ar-top')
    include ../modules/footer