extends ../layout/main

block variables
	- var title = 'Лесопродукция';

block content
	include ../modules/header
	article
		section
			.container
				.container--double
					a.text-page__menu-btn.js-tpmenu(href="#")
							+icon('ar-right-short')
					.text-page__menu
						ul
							li
								a(href="#") Металлопродукция
							li
								span Лесопродукция
							li
								a(href="#") Сельхозпродукция
							li
								a(href="#") Перспективные товары

					.container-sm.text-page
						include ../modules/breadcrumbs
							block text
								| Лесопродукция
						.page-zag
							.img
								+icon('lec')
							div Лесопродукция
						.application
							.img
								+icon('megaphone')
							p
								| 20 ноября 2019 г. состоятся биржевые торги по реализации лесоматериалов круглых (сырья древесного технологического) на экспорт.&#32;
								a(href='#')  Подробнее
						.application
							.img
								+icon('megaphone')
							p
								| 20 ноября 2019 г. состоятся биржевые торги по реализации лесоматериалов круглых (сырья древесного технологического) на экспорт.&#32;
								a(href='#')  Подробнее
						.application
							.img
								+icon('megaphone')
							p
								| 5 и 6 декабря состоятся квартальные биржевые торги древесиной в заготовленном виде ресурса I квартала 2020 года.&#32;
								a(href='#')  Подробнее




						.timetables-market(data-tab-on='on')
							.timetables-market_tabs__list
								ul
									li.active(data-li='1') Внутренний рынок
									li(data-li='2') Внешний рынок
									li(data-li='3') Внешний рынок
							.timetables-market_tabs__name
								ul
									li Товарная группа
									li периодичность торгов
									li
							.timetables-market__items.active(data-tab='1')
								.timetables-market__item
									.tm-tooltips
										.tm-tooltips__img
											div(style='background-color: #54D816')
												div(style='background-color: #23B236')
													+icon('tm-tooltips')
										.tm-tooltips__text
											p
												b  На торгах пиломатериалами хвойных и лиственных пород (на внутренний рынок) реализуются:
											p 	пиломатериалы хвойных и лиственных пород, • шпалы деревянные хвойных и лиственных пород, деревянные для метрополитена, полушпалы деревянные пропитанные, • брусья деревянные для стрелочных переводов, мостовые деревянные, охранные деревянные, • щепа топливная, технологическая, брикеты древесные топливные, гранулы древесные топливные, отходы древесные (обрезки, горбыль, опилки и т.д.), • доски для покрытия пола, бруски для покрытия пола, блочный и модульный паркет, доски паркетные, палубные, подоконные, • обшивка, наличник, плинтус, поручни, имитация бруса, блок-хаус, • двери деревянные, блоки дверные из древесины.

									ul.with-background
										li
											| Древесина в заготовленном виде для собственного производства и (или) потребления (по ресурсам лесофондодержателей Республики Беларусь)
											div.links--dowload
												.links--dowload__name
													span Товарная номенклатура
												ul
													li
														a(href='#')
															img(src='./img/eye-1.png')
															| Смотреть
													li
														a(href='#' download)
															img(src='./img/pdf-8.png')
															| Скачать

											//a(href='fdsf.fds' class='link--withIco' download)
											//	img(src='./img/pdf.svg' class='icon')
											//	span Товарная номенклатура
										li Еженедельно, по четвергам в 10.00
										li
											a(href='#' class='link-green') Подробнее
								.timetables-market__item
									ul
										li
											| Древесина в заготовленном виде для собственного производства и (или) потребления (торги на понижение)
											a(href='fdsf.fds' class='link--withIco' download)
												img(src='./img/pdf.svg' class='icon')
												span Товарная номенклатура
										li Еженедельно, по четвергам в 10.00
										li
											a(href='#' class='link-green') Подробнее
								.timetables-market__item
									ul
										li
											| Древесина в заготовленном виде без целевого назначения для собственного производства и (или) потребления (торги на понижение)
											a(href='fdsf.fds' class='link--withIco' download)
												img(src='./img/pdf.svg' class='icon')
												span Товарная номенклатура
										li Еженедельно, по четвергам в 10.00
										li
											a(href='#' class='link-green') Подробнее
								.timetables-market__item
									ul
										li
											| Бумажная и картонная продукция
											a(href='fdsf.fds' class='link--withIco' download)
												img(src='./img/pdf.svg' class='icon')
												span Товарная номенклатура
										li Еженедельно, по четвергам в 10.00
										li
											a(href='#' class='link-green') Подробнее
								.timetables-market__item
									ul.inner-group
										li
											ul.inner-group__name
												li
													| Бумажная и картонная продукция
													a(href='fdsf.fds' class='link--withIco' download)
														img(src='./img/pdf.svg' class='icon')
														span Товарная номенклатура
												li.with-background
													| Древесина в заготовленном виде без целевого назначения для собственного производства и (или) потребления (торги на понижение)
													a(href='fdsf.fds' class='link--withIco' download)
														img(src='./img/pdf.svg' class='icon')
														span Товарная номенклатура
												li
													| Бумажная и картонная продукция
													a(href='fdsf.fds' class='link--withIco' download)
														img(src='./img/pdf.svg' class='icon')
														span Товарная номенклатура
												li
													| Древесина в заготовленном виде без целевого назначения для собственного производства и (или) потребления (торги на понижение)
													a(href='fdsf.fds' class='link--withIco' download)
														img(src='./img/pdf.svg' class='icon')
														span Товарная номенклатура
										li.inner-group__time Еженедельно, по четвергам в 10.00
										li
											ul.inner-group__button
												li
													a(href='#' class='link-green') Подробнее
												li
													a(href='#' class='link-green') Подробнее
												li
													a(href='#' class='link-green') Подробнее
												li
													a(href='#' class='link-green') Подробнее













							.timetables-market__items(data-tab='2')
								.table-full-scroll
									.tabled(data-scroll)
										.tabled-head
											.tabled-r
												.tabled-c Должность
												.tabled-c ФИО
												.tabled-c Должность
												.tabled-c ФИО
												.tabled-c Должность
												.tabled-c ФИО
												.tabled-c Должность
												.tabled-c ФИО
										.tabled-body
											.tabled-r
												.tabled-c Министр антимонопольного регулирования и торговли Республики Беларусь (председатель Наблюдательного совета)
												.tabled-c Колтович Владимир Васильевич
												.tabled-c Министр антимонопольного регулирования и торговли Республики Беларусь (председатель Наблюдательного совета)
												.tabled-c Колтович Владимир Васильевич
												.tabled-c Министр антимонопольного регулирования и торговли Республики Беларусь (председатель Наблюдательного совета)
												.tabled-c Колтович Владимир Васильевич
												.tabled-c Министр антимонопольного регулирования и торговли Республики Беларусь (председатель Наблюдательного совета)
												.tabled-c Колтович Владимир Васильевич
											.tabled-r
												.tabled-c Министр антимонопольного регулирования и торговли Республики Беларусь (председатель Наблюдательного совета)
												.tabled-c Колтович Владимир Васильевич
												.tabled-c Министр антимонопольного регулирования и торговли Республики Беларусь (председатель Наблюдательного совета)
												.tabled-c Колтович Владимир Васильевич
												.tabled-c Министр антимонопольного регулирования и торговли Республики Беларусь (председатель Наблюдательного совета)
												.tabled-c Колтович Владимир Васильевич
												.tabled-c Министр антимонопольного регулирования и торговли Республики Беларусь (председатель Наблюдательного совета)
												.tabled-c Колтович Владимир Васильевич
											.tabled-r
												.tabled-c Министр антимонопольного регулирования и торговли Республики Беларусь (председатель Наблюдательного совета)
												.tabled-c Колтович Владимир Васильевич
												.tabled-c Министр антимонопольного регулирования и торговли Республики Беларусь (председатель Наблюдательного совета)
												.tabled-c Колтович Владимир Васильевич
												.tabled-c Министр антимонопольного регулирования и торговли Республики Беларусь (председатель Наблюдательного совета)
												.tabled-c Колтович Владимир Васильевич
												.tabled-c Министр антимонопольного регулирования и торговли Республики Беларусь (председатель Наблюдательного совета)
												.tabled-c Колтович Владимир Васильевич




							.timetables-market__items(data-tab='3')
								.table-full-scroll
									.tabled(data-table)
										table
											thead
												tr
													th Должность
													th Должность
													th Должность
											tbody
												tr
													td(rowspan='3') Должность
													td Древесина в заготовленном виде для собственного производства и (или) потребления (по ресурсам лесофондодержателей Республики Беларусь)
													td Должность
												tr

													td Древесина в заготовленном виде для собственного производства и (или) потребления (по ресурсам лесофондодержателей Республики Беларусь)
													td Должность
												tr

													td Древесина в заготовленном виде для собственного производства и (или) потребления (по ресурсам лесофондодержателей Республики Беларусь)
													td Должность
												tr

													td Должность
													td Древесина в заготовленном виде для собственного производства и (или) потребления (по ресурсам лесофондодержателей Республики Беларусь)
													td Должность
								.table-full-scroll
									.tabled(data-table data-scroll)
										table
											thead
												tr
													th Должность
													th Должность
													th Должность
													th Должность
													th Должность
													th Должность
													th Должность
													th Должност
											tbody
												tr
													td(rowspan='3') Должность
													td Должность
													td Должность
													td Должность
													td Должность
													td Должность
													td Должность
													td Должность
												tr
													td Должность
													td Должность
													td Должность
													td Должность
													td Должность
													td Должность
													td Должность
												tr

													td Должность
													td Должность
													td Должность
													td Должность
													td Должность
													td Должность
													td Должность
												tr

													td Должность
													td Должность
													td Должность
													td Должность
													td Должность
													td Должность
													td Должность
													td Должность
								.table-full-scroll
									.tabled(data-table data-scroll)
										table
											thead
												tr
													th(style='width:40px;') Дата торгов
													th(style='width:50px;') Время торгов
													th(style='width:80px;') Доска обрезная (необрезная)
													th(style='width:80px;') Пиломатериалы для тары
													th(style='width:80px;') Щепа
													th(style='width:80px;') Щепа топливная, стружка, опилки, девесные отходы
													th(style='width:80px;') Щепа технологическая
													th(style='width:80px;') Колья деревянные, столбы деревянные заостренные окоренные
													th(style='width:80px;') Дрова колотые
													th(style='width:80px;') Изделия оцилиндрованные
													th(style='width:80px;') Брикеты древесные топливные
													th(style='width:80px;') Гранулы древесные топливные
													th(style='width:80px;') Брикеты торфяные топливные
													th(style='width:80px;') Посадочный материал (лесные сеянцы, саженцы), семена
													th(style='width:80px;') Дрова (поленья)
													th(style='width:80px;') Макулатура
													th(style='width:80px;') Целлюлоза
											tbody
												tr.alt
													td 03.03.2020
													td 14:30
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/доска-обрезнаянеобрезная-на-внешний-рынок/') Скачать
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/пиломатериалы-для-тары-на-внешний-рынок/') Скачать
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/щепа-на-внешний-рынок/') Скачать
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/щепа-топливная-на-внешний-рынок/') Скачать
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/щепа-технологическая-на-внешний-рынок/') Скачать
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/колья-деревянные-столбы-деревянные-заостренные-окореннные-на-внешний-рынок/') Скачать
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/дрова-колотые-на-внешний-рынок/') Скачать
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/изделия-оцилиндрованные-на-внешний-рынок/') Скачать
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/брикеты-древесные-топливные-на-внешний-рынок/') Скачать
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/гранулы-древесные-топливные-на-внешний-рынок/') Скачать
													td
														span ---
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/посадочный-материал-лесные-сеянцы-саженцы-семена-на-внешний-рынок/') Скачать
													td
														span ---
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/макулатура-на-внешний-рынок/') Скачать
													td
														span ---
												tr
													td 10.03.2020
													td 14:30
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/доска-обрезнаянеобрезная-на-внешний-рынок/') Скачать
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/макулатура-на-внешний-рынок/') Скачать
													td
														span ---
												tr.alt
													td 17.03.2020
													td 14:30
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/доска-обрезнаянеобрезная-на-внешний-рынок/') Скачать
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/макулатура-на-внешний-рынок/') Скачать
													td
														span ---
												tr
													td 24.03.2020
													td 14:30
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/доска-обрезнаянеобрезная-на-внешний-рынок/') Скачать
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														span ---
													td
														a(href='/торги-лесопродукцией/расписание-торгов-и-заявки/макулатура-на-внешний-рынок/') Скачать
													td
														span ---
											tbody

						p
							i *На торгах пиломатериалами хвойных и лиственных пород (на внутренний рынок) реализуются:
						ul
							li знакомиться с материалами дела, делать выписки из них, снимать за свой счет копии с разрешения арбитра (председательствующего), рассматривающего спор, или председателя Арбитражной комиссии;
							li заявлять ходатайства, возражать против ходатайств другой стороны;
							li представлять доказательства, участвовать в исследовании доказательств;
							li заявлять отводы арбитрам;
							li задавать вопросы лицам, участвующим в арбитражном разбирательстве;
							li давать устные и письменные объяснения;
							li представлять свои доводы по возникающим в ходе арбитражного разбирательства вопросам, возражать против доводов другой стороны;
							li обжаловать решение Арбитражной комиссии в случаях, предусмотренных законодательством Республики Беларусь;
							li пользоваться юридической помощью адвокатов и иных представителей в целях защиты своих нарушенных или оспариваемых прав и законных интересов;
							li осуществлять иные права, предусмотренные настоящим Регламентом.
						p Истец вправе до принятия Арбитражной комиссией решения, путем подачи письменного заявления, изменить основание или предмет иска, увеличить или уменьшить размер исковых требований, отказаться от иска.
						p Стороны до вынесения Арбитражной комиссией постановления, которым завершается рассмотрение спора, имеют право заключить мировое соглашение.
			//- .tm-tooltips
			//- 	.tm-tooltips__img
			//- 		div(style="background-color: #54D816")
			//- 			div(style="background-color: #23B236")
			//- 				+icon('tm-tooltips')
			//- 	.tm-tooltips__text
			//- 		b На торгах пиломатериалами хвойных и лиственных пород (на внутренний рынок) реализуются:
			//- 		|• пиломатериалы хвойных и лиственных пород, • шпалы деревянные хвойных и  лиственных пород, деревянные для метрополитена, полушпалы деревянные  пропитанные, • брусья деревянные для стрелочных переводов, мостовые  деревянные, охранные деревянные, • щепа топливная, технологическая,  брикеты древесные топливные, гранулы древесные топливные, отходы  древесные (обрезки, горбыль, опилки и т.д.), •  доски для покрытия пола, бруски для покрытия пола, блочный и модульный  паркет, доски паркетные, палубные, подоконные, • обшивка, наличник,  плинтус, поручни, имитация бруса, блок-хаус, • двери деревянные, блоки  дверные из древесины или древесных материалов, балконные дверные блоки  деревянные, оконные блоки деревянные, • штакетник горбыльный, дощатый,  строганный, • балки деревянные двутавровые клееные для опалубки, • посадочный материал (сеянцы, саженцы) лесных и декоративных деревьев и кустарников, семена (желуди), деревья новогодние

		.scrollTop__container
			a(href='#' class='scrollTop')
				span.line
				+icon('ar-top')
	include ../modules/footer