.popup-form
  .popup-form__container
    .line.line-1
    .line.line-2
    .line.line-3
    .line.line-4
    .popup-form__zag
      h1 Регистрируемся
      p Чтобы пользоваться всеми возможностями портала
    .popup-form__form
      form
        .popup-form__block.required--email
          label
            span
              | Электронная почта
              b *
            input(type='text', placeholder='name@mail.ru')
        .popup-form__block.required--name
          label
            span
              | Имя
              b *
            input(type='text', placeholder='')
        .popup-form__block.required--telephone
          label
            span
              | Номер телефона
              b *
            input(type='text', placeholder='')
        .popup-form__block.popup-form__block--check
          label
            input.styler.required--check(type='checkbox')
            span  Я ознакомлен (-а) с регламентом ЭТП и согласен (-на) с ним
        .popup-form__block
          img(src='./img/captcha.png')
        .hr
        .popup-form__block.popup-form__block--bottom
          div
            input.required--sbmt(type='submit', value='Зарегистрироваться')
          div
            span продажа через аукцион
          div
            a.btn-anim.btn-blue.ajax-popup(href='./enter-form.html', data-form='regisration')
              svg.icon.icon-lc
                use(xlink:href='./img/svg/symbol/sprite.svg#lc')
              span Войти
              i.line.line-1
              i.line.line-2
              i.line.line-3
              i.line.line-4