extends ../layout/main

block variables
	- var title = 'Результаты поиска';

block content
	include ../modules/header

	article
		section
			.container-sm.text-page
				.search-result
					form.search-result__form
						input(type="submit" value="")
						input(type="text" placeholder="Тут написан поисковый запрос")
					.timetables-market(data-tab-on='on')
						.timetables-market_tabs__list
						.timetables-market__items(data-tab='1')
							ol
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
						.timetables-market__items(data-tab='2')
							ol
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
						.timetables-market__items.active(data-tab='3')
							ol
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
								li
									p <a href="#">Хлебная крошка</a> — <a href="#">Хлебная крошка</a> — <span>Хлебная крошка</span>
									p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП). Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП)...
							.pagination.center
								a(href='#' class='pagination-btn') Назад
								ul
									li.active 1
									li 2
									li 3
									li 4
								a(href='#' class='pagination-btn') Вперед

	include ../modules/footer