extends ../layout/main

block variables
    - var title = 'Программное обеспечение';

block content
    include ../modules/header
    article
        section
            .container-md.text-page
                include ../modules/breadcrumbs
                    block text
                        | Программное обеспечение
                .page-zag
                    .img
                        +icon('software')
                    div Программное обеспечение
                .container-md
                    .timetables-market.tcont(data-tab-on='on')
                        .timetables-market_tabs__list
                            ul
                                li(data-li='1') Для работы с ЭЦП
                                li.active(data-li='2') Металлопродукция
                                li(data-li='3') Лесопродукция
                                li(data-li='4') Сельхозпродукция
                                li(data-li='5') Перспективные товары
                                li(data-li='6') Подача заявок
                                li(data-li='7') ППТ
                        .timetables-market__items(data-tab='1') 1
                        .timetables-market__items.active(data-tab='2')
                            p На биржевых торгах по секции металлопродукции используется следующее программное обеспечение:
                            .timetables-market_tabs__name.v4
                                ul
                                    li Название
                                    li Назначение
                                    li Контрольная сумма md5
                                    li Обновлено
                                    li Документы
                            .timetables-market__item.v4
                                ul
                                    li
                                        span.text--gradient MetalTrader
                                        a.download-btn(href="#") Скачать
                                    li Торги черным металлом, электротехнической продукцией, цветным металлом, ломом цветных металлов, коксом и углем на внутренний рынок <span>Версия: 1.72.1.0</span>
                                    li 01173bc768b18fcd0c3d83ec9f7ad69a
                                    li 01.07.2019
                                    li
                                        a(href='fdsf.fds' class='link--withIco' download)
                                            img(src='./img/pdf.svg' class='icon')
                                            span Инструкция по работе с ПО
                                        a(href='fdsf.fds' class='link--withIco' download)
                                            img(src='./img/pdf.svg' class='icon')
                                            span Инструкция по работе с ПО
                            .timetables-market__item.v4
                                ul
                                    li
                                        span.text--gradient MetalTraderExp
                                        a.download-btn(href="#") Скачать
                                    li Непрерывные торги ломом и отходами цветных и черных металлов на экспорт <span>Версия: 1.19.0</span>
                                    li 4357f055c4984bb54f19191162993861
                                    li 11.11.2019
                                    li
                                        a(href='fdsf.fds' class='link--withIco' download)
                                            img(src='./img/pdf.svg' class='icon')
                                            span Инструкция по работе с ПО
                                        a(href='fdsf.fds' class='link--withIco' download)
                                            img(src='./img/pdf.svg' class='icon')
                                            span Инструкция по работе с ПО
                            .timetables-market__item.v4
                                ul
                                    li
                                        span.text--gradient MetalTraderHW
                                        a.download-btn(href="#") Скачать
                                    li Программный модуль торгового терминала трейдера секции металлопродукции с обеспечением покупки металла со склада продавца <span>Версия: 1.86.0.0</span>
                                    li 3e5ce0b266dee9295f907631c63e770f
                                    li 08.07.2019
                                    li
                                        a(href='fdsf.fds' class='link--withIco' download)
                                            img(src='./img/pdf.svg' class='icon')
                                            span Инструкция по работе с ПО
                                        a(href='fdsf.fds' class='link--withIco' download)
                                            img(src='./img/pdf.svg' class='icon')
                                            span Инструкция по работе с ПО
                                        a(href='fdsf.fds' class='link--withIco' download)
                                            img(src='./img/pdf.svg' class='icon')
                                            span Инструкция по работе с ПО
                        .timetables-market__items(data-tab='3') 3
                        .timetables-market__items(data-tab='4') 4
                        .timetables-market__items(data-tab='5') 5
                        .timetables-market__items(data-tab='6') 6
                        .timetables-market__items(data-tab='7') 7
    include ../modules/footer