extends ../layout/main

block variables
    - var title = 'С чего начать';

block content
    include ../modules/header

    article
        section
            .container-md.text-page
                include ../modules/breadcrumbs
                    block text
                        | С чего начать
                .page-zag
                    .img
                        +icon('calendar')
                    div С чего начать работу на БУТБ?
                p На БУТБ действуют 4 электронные торговые площадки, каждая из которых имеет своё предназначение и функциональные особенности. Поэтому, прежде всего, определитесь, чем вы планируете заниматься:
                ul
                    li участвовать в биржевых торгах;
                    li торговать промышленными и потребительскими товарами;
                    li проводить закупки в электронном формате;
                    li продавать или покупать имущество и имущественные права.
                .start
                    .subzag-with-link
                        div Список площадок и правила участия
                        a(href="#") Схема действий для новых клиентов
                    .timetables-market(data-tab-on='on')
                        .timetables-market_tabs__list
                            ul
                                li.active(data-li='1') Биржевые торги
                                li(data-li='2') Торги ППТ
                                li(data-li='3') Закупки в электронном формате
                                li(data-li='4') Торги имуществом и имущественными правами
                        .timetables-market__items.active(data-tab='1')
                            ol
                                li
                                    p На площадке по биржевым торгам проходят торги по четырём категориям. Первым шагом выберите одну из категорий:
                                    ul
                                        li.accordion
                                                .accordion-head
                                                    span Металлопродукция
                                                .accordion-body(style="display:block;")
                                                    .table-cont
                                                        table
                                                            tr
                                                                th Товарная группа
                                                                th Периодичность торгов
                                                                th
                                                            tr
                                                                td
                                                                    | Чёрные металлы и изделия из них на внутренний рынок
                                                                    a(href='fdsf.fds' class='link--withIco' download)
                                                                        img(src='./img/pdf.svg' class='icon')
                                                                        span Товарная номенклатура
                                                                td Ежедневно, понедельник в 14:00, вторник — пятница в 10:00, продолжительность торгов — 1 час
                                                                td
                                                                    a(href='#' class='link-green') Подробнее
                                                            tr
                                                                td
                                                                    | Цветные металлы и изделия из них на внутренний рынок
                                                                    a(href='fdsf.fds' class='link--withIco' download)
                                                                        img(src='./img/pdf.svg' class='icon')
                                                                        span Товарная номенклатура
                                                                td 2 раза в неделю, вторник и пятница в 14:00, продолжительность торгов — 1 час
                                                                td
                                                                    a(href='#' class='link-green') Подробнее
                                                            tr
                                                                td
                                                                    | Электротехническая (кабельно- проводниковая) продукция на внутренний рынок
                                                                    a(href='fdsf.fds' class='link--withIco' download)
                                                                        img(src='./img/pdf.svg' class='icon')
                                                                        span Товарная номенклатура
                                                                td 2 раза в неделю, вторник и четверг в 10:00, продолжительность торгов — 1 час
                                                                td
                                                                    a(href='#' class='link-green') Подробнее
                                                            tr
                                                                td
                                                                    | Покупка металла со склада продавца на внутренний рынок
                                                                    a(href='fdsf.fds' class='link--withIco' download)
                                                                        img(src='./img/pdf.svg' class='icon')
                                                                        span Товарная номенклатура
                                                                td 2 раза в неделю, вторник и четверг в 14:00, продолжительность торгов — 1 час
                                                                td
                                                                    a(href='#' class='link-green') Подробнее
                                                            tr
                                                                td
                                                                    | Уголь и кокс на внутренний рынок
                                                                    a(href='fdsf.fds' class='link--withIco' download)
                                                                       img(src='./img/pdf.svg' class='icon')
                                                                       span Товарная номенклатура
                                                                td Еженедельно, по средам в 14:00, продолжительность торгов — 1 час
                                                                td
                                                                    a(href='#' class='link-green') Подробнее
                                                            tr
                                                                td
                                                                    | Лом и отходы чёрных и цветных металлов, чёрные и цветные металлы и изделия из них на внешний рынок
                                                                    a(href='fdsf.fds' class='link--withIco' download)
                                                                        img(src='./img/pdf.svg' class='icon')
                                                                        span Товарная номенклатура
                                                                td Еженедельно, по четвергам в 14:00, по мере поступления заявок, продолжительность торгов — 1 час
                                                                td
                                                                    a(href='#' class='link-green') Подробнее
                                                            tr
                                                                td Кабельная продукция для сооружения Белорусской АЭС на внутренний рынок
                                                                td По мере поступления заявок
                                                                td
                                                                    a(href='#' class='link-green') Подробнее
                                                            tr
                                                                td Кабельная продукция для сооружения Белорусской АЭС на внутренний рынок
                                                                td По мере поступления заявок
                                                                td
                                                                    a(href='#' class='link-green') Подробнее
                                        li.accordion
                                            .accordion-head
                                                span Лесопродукция
                                            .accordion-body 2
                                        li.accordion
                                            .accordion-head
                                                span Сельхозпродукция
                                            .accordion-body 3
                                        li.accordion
                                            .accordion-head
                                                span Перспективные товары
                                            .accordion-body 4
                                li
                                    p После этого определитесь, как вы хотите участвовать в торгах: самостоятельно или при помощи брокера.
                                    .accordion
                                        .accordion-head
                                            span Как участвовать в биржевых торгах самостоятельно?
                                        .accordion-body 1
                                    .accordion
                                        .accordion-head
                                            span Как участвовать в торгах через брокера?
                                        .accordion-body 2
                                li
                                    p Если вы участвуете в торгах самостоятельно, то вам нужно выбрать свой статус: «Посетитель торгов» или «Брокер».Если вы торгуете через брокера, то вам нужно подписать с ним договор.
                                    .accordion
                                        .accordion-head
                                            span В чём разница между «Посетителем торгов» и «Брокером»?
                                        .accordion-body 1
                                    .accordion
                                        .accordion-head
                                            span Как стать брокером.
                                        .accordion-body 2
                                    .accordion
                                        .accordion-head
                                            span Как подписать договор с брокером и что для этого нужно.
                                        .accordion-body 3
                                li
                                    p Если вы собираетесь торговать самостоятельно, для этого вам нужно получить электронную цифровую подпись (ЭЦП), пройти аккредитацию, обучиться торговле и приступить к ней.
                                    .accordion
                                        .accordion-head
                                            span Как получить электронную цифровую подпись (ЭЦП).
                                        .accordion-body 1
                                    .accordion
                                        .accordion-head
                                            span Что такое аккредитация и как её пройти.
                                        .accordion-body 2
                                    .accordion
                                        .accordion-head
                                            span Обучение торговле: основные вопросы.
                                        .accordion-body 3
                        .timetables-market__items(data-tab='2')
                            ol
                                li
                                    p Чтобы торговать на этой площадке, вам нужно выбрать программный комплекс: торги ППТ или закупка ППТ,в зависимости от того, собираетесь вы торговать или покупать.
                                    p
                                        a(href="#") О программных комплексах площадки.
                                li
                                    p Затем, выберите схему участия. Принимать участие можно как самостоятельно, таки при помощи брокера.
                                    p
                                        a(href="#") Как участвовать самостоятельно?
                                        br
                                        a(href="#") Как участвовать в торгах через брокера?
                                li
                                    p Если вы участвуете в торгах самостоятельно, то вам нужно выбрать свой статус: «Посетитель торгов» или «Брокер».Если вы торгуете через брокера, то вам нужно подписать с ним договор.
                                    p
                                        a(href="#") В чём разница между «Посетителем торгов» и «Брокером»?
                                        br
                                        a(href="#") Как стать брокером.
                                        br
                                        a(href="#") Как подписать договор с брокером и что для этого нужно.
                                li
                                    p Если вы собираетесь торговать самостоятельно, для этого вам нужно получить электронную цифровую подпись (ЭЦП), пройти аккредитацию, обучиться торговле и приступить к ней.
                                    p
                                        a(href="#") Как получить электронную цифровую подпись (ЭЦП).
                                        br
                                        a(href="#") Что такое аккредитация и как её пройти.
                                        br
                                        a(href="#") Обучение торговле: основные вопросы.
                        .timetables-market__items(data-tab='3')
                            ol
                                li
                                    p Чтобы проводить закупки в электронном формате, вам нужно получить электронную цифровую подпись (ЭЦП).
                                    p
                                        a(href="#") Как получить электронную цифровую подпись (ЭЦП).
                                li
                                    p После получения электронной цифровой подписи (ЭЦП) вам нужно зарегистрироваться на портале.
                                    p
                                        a(href="#") Как пройти регистрацию.
                                li
                                    p После регистрации вам нужно выбрать свой статус: «Организатор», «Заказчик» или «Участник».
                                    p
                                        a(href="#") Статусы: какие бывают и что значат?
                                li
                                    p Последним шагом пройдите аккредитацию и приступайте к торговле.
                                    p
                                        a(href="#") Что такое аккредитация и как её пройти.
                        .timetables-market__items(data-tab='4')
                            ol
                                li
                                    p Чтобы торговать на площадке имуществом и имущественными правами, вам нужно зарегистрироваться на бирже.
                                    p
                                        a(href="#") Как пройти регистрацию.
                                li
                                    p После регистрации вам нужно выбрать свой статус: «Организатор» или «Участник».
                                    p
                                        a(href="#") Статусы «Организатор» и «Участник»: что значат и какой выбрать.
                                li
                                    p Последним шагом пройдите аккредитацию и приступайте к торговле.
                                    p
                                        a(href="#") Что такое аккредитация и как её пройти.
        .scrollTop__container
            a(href='#' class='scrollTop')
                span.line
                +icon('ar-top')
    include ../modules/footer