extends ../layout/main

block variables
    - var title = 'Тестовая';

block content
    include ../modules/header
    article
        section

        .scrollTop__container
            a(href='#' class='scrollTop')
                span.line
                +icon('ar-top')
    include ../modules/footer