extends ../layout/main

block variables
	- var title = 'Текстовая';

block content
	include ../modules/header
	article
		section
			.container
				.container--double
					a.text-page__menu-btn.js-tpmenu(href="#")
							+icon('ar-right-short')
					.text-page__menu
						ul
							li
								a(href="#") Арбитраж
							li
								span Регламент Арбитражной комиссии
							li
								a(href="#") Исковое заявление
							li.has-drop
								a(href="#") Брокерство
								ul
									li
										a(href="#") Принудительное исполнение решения
									li
										span Регламент Арбитражной комиссии
									li
										a(href="#") Исковое заявление
							li
								a(href="#") Обзор практики рассмотрения споров

					.container-sm.text-page
						include ../modules/breadcrumbs
							block text
								| Регламент Арбитражной комиссии
						.page-zag
							.img
								+icon('libra')
							div Рейтинги деловой активности
						.timetables-market(data-tab-on="on")
							.timetables-market_tabs__list
								ul
									li.active(data-li="1") Внутренний рынок
									li(data-li="2") Внешний рынок
									li(data-li="3") Все торги
									li(data-li="4") Металлопродукция
									li(data-li="5") Лесопродукция
									li(data-li="6") Сельхозпродукция
									li(data-li="7") Перспективные товары
									li(data-li="8") Биржевые торги
									li(data-li="9") Торги ППТ
									li(data-li="0") Закупки в электронном формате
									li(data-li="11") Торги имуществом и имущественными правами
									li(data-li="12") Таб 12
									li(data-li="13") Таб 13
									li(data-li="14") Таб 14
								.timetables-market__items.active(data-tab="1") Содержимое таба "Внутренний рынок"
								.timetables-market__items(data-tab="2") Содержимое таба "Внешний рынок"
								.timetables-market__items(data-tab="3") Содержимое таба "Все торги"
								.timetables-market__items(data-tab="4") Содержимое таба "Металлопродукция"
								.timetables-market__items(data-tab="5") Содержимое таба "Лесопродукция"
								.timetables-market__items(data-tab="6") Содержимое таба "Сельхозпродукция"
								.timetables-market__items(data-tab="7") Содержимое таба "Перспективные товары"
								.timetables-market__items(data-tab="8") Содержимое таба "Биржевые торги"
								.timetables-market__items(data-tab="9") Содержимое таба "Торги ППТ"
								.timetables-market__items(data-tab="10") Содержимое таба "Закупки в электронном формате"
								.timetables-market__items(data-tab="11") Содержимое таба "Торги иму"
								.timetables-market__items(data-tab="12") Содержимое таба "Таб 12"
								.timetables-market__items(data-tab="13") Содержимое таба "Таб 13"
								.timetables-market__items(data-tab="14") Содержимое таба "Таб 14"
						.text-page-stamp
							p.text-page-stamp--state утверждено
							p Протокол заседания Правления открытого акционерного общества «Белорусская универсальная товарная биржа» <br> от 30 июля 2018 г. № 116 (в редакции протокола заседания Правления <br> ОАО «Белорусская универсальная товарная биржа» 10.12.2018 № 184)

						span.m48

						h2 регламент
						p(style="text-align: center") Арбитражной комиссии открытого акционерного общества <br> «Белорусская универсальная товарная биржа»
						p Настоящий Регламент разработан в соответствии с Законом Республики Беларусь от 5 января 2009 г. «О товарных биржах», Уставом открытого акционерного общества «Белорусская универсальная товарная биржа», Правилами биржевой торговли в ОАО «Белорусская универсальная товарная биржа», утвержденными постановлением Правления ОАО «Белорусская универсальная товарная биржа» от 22 ноября 2005 г. № 3, и определяет порядок рассмотрения споров по биржевым сделкам в Арбитражной комиссии ОАО «Белорусская универсальная товарная биржа».
						p Договариваясь о передаче спора на рассмотрение в Арбитражную комиссию, стороны принимают на себя обязанность подчиняться требованиям настоящего Регламента. Арбитражная комиссия при рассмотрении споров по биржевым сделкам не связана нормами хозяйственного процессуального законодательства Республики Беларусь.

						span.m48

						h2 глава 1.
						h3 ОБЩИЕ ПОЛОЖЕНИЯ <br> Статья 1. Основные термины и определения, используемые в настоящем Регламенте
						p Для целей настоящего Регламента применяются следующие основные термины и их определения:
						p Арбитражная комиссия – постоянно действующий арбитражный орган ОАО «Белорусская универсальная товарная биржа», созданный в соответствии с его Уставом для рассмотрения споров по биржевым сделкам, за исключением споров, стороной которых являются ОАО «Белорусская универсальная товарная биржа» или его работники;
						p состав Арбитражной комиссии – арбитр (арбитры) Арбитражной комиссии, рассматривающий спор;
						p арбитр Арбитражной комиссии – лицо, назначенное на должность арбитра в соответствии с Уставом ОАО «Белорусская универсальная товарная биржа» и наделенное правами по рассмотрению споров в соответствии с положением об Арбитражной комиссии и настоящим Регламентом;
						p арбитражное разбирательство – процесс рассмотрения спора в Арбитражной комиссии;
						p постановление Арбитражной комиссии – решение или определение Арбитражной комиссии, которые выносятся в рамках рассмотрения спора в Арбитражной комиссии;
						p стороны арбитражного разбирательства – истец и ответчик;
						p лица, участвующие в арбитражном разбирательстве, – стороны арбитражного разбирательства, представители сторон, эксперт, специалист, свидетель, переводчик;
						p электронное производство – порядок взаимодействия между Арбитражной комиссией и сторонами арбитражного разбирательства с применением информационных коммуникационных технологий.

						span.m48

						h3 Статья 8. Процессуальные права сторон
						p Стороны арбитражного разбирательства имеют право:
						ul
							li знакомиться с материалами дела, делать выписки из них, снимать за свой счет копии с разрешения арбитра (председательствующего), рассматривающего спор, или председателя Арбитражной комиссии;
							li заявлять ходатайства, возражать против ходатайств другой стороны;
							li представлять доказательства, участвовать в исследовании доказательств;
							li заявлять отводы арбитрам;
							li задавать вопросы лицам, участвующим в арбитражном разбирательстве;
							li давать устные и письменные объяснения;
							li представлять свои доводы по возникающим в ходе арбитражного разбирательства вопросам, возражать против доводов другой стороны;
							li обжаловать решение Арбитражной комиссии в случаях, предусмотренных законодательством Республики Беларусь;
							li пользоваться юридической помощью адвокатов и иных представителей в целях защиты своих нарушенных или оспариваемых прав и законных интересов;
							li осуществлять иные права, предусмотренные настоящим Регламентом.
						p Истец вправе до принятия Арбитражной комиссией решения, путем подачи письменного заявления, изменить основание или предмет иска, увеличить или уменьшить размер исковых требований, отказаться от иска.
						p Стороны до вынесения Арбитражной комиссией постановления, которым завершается рассмотрение спора, имеют право заключить мировое соглашение.

						span.m48

						h2 глава 2.
						h3 ВОЗБУЖДЕНИЕ АРБИТРАЖНОГО РАЗБИРАТЕЛЬСТВА <br> Статья 16. Возвращение искового заявления
						p Арбитражная комиссия возвращает истцу исковое заявление и приложенные к нему документы, если:
						ol
							li между сторонами отсутствует арбитражное соглашение о передаче спора на рассмотрение в Арбитражную комиссию;
							li спор не относится к компетенции Арбитражной комиссии;
							li в одном исковом заявлении соединены несколько требований к нескольким ответчикам и эти требования не связаны между собой;
							li в одном исковом заявлении соединены требования, вытекающие из нескольких договоров;
							li затрагиваются права и законные интересы третьих лиц, не являющихся сторонами арбитражного разбирательства;
							li до вынесения Арбитражной комиссией определения о возбуждении арбитражного разбирательства от истца поступило заявление о возвращении искового заявления;
							li исковое заявление не подписано или подписано неуполномоченным лицом либо лицом, должностное положение которого не указано;
							li в производстве суда общей юрисдикции, Арбитражной комиссии, международного арбитражного (третейского) суда, третейского суда имеется дело по спору между теми же лицами, о том же предмете и по тем же основаниям;
							li имеется вступившее в законную силу решение суда общей юрисдикции, Арбитражной комиссии, международного арбитражного (третейского) суда, третейского суда по спору между теми же лицами, о том же предмете и по тем же основаниям;
							li не представлены доказательства уплаты арбитражного сбора в установленном размере;
							li если исковое заявление подано с нарушением требований, установленных статьей 15 настоящего Регламента.
						p О возвращении искового заявления Арбитражная комиссия выносит определение, в котором указываются основания для возврата искового заявления.
						p Определение о возвращении искового заявления вместе с исковым заявлением и приложенными к нему документами направляется истцу не позднее трех дней со дня вынесения такого определения.
						p Возвращение искового заявления не лишает истца права после устранения обстоятельств, послуживших основанием для его возвращения, вновь подать в Арбитражную комиссию исковое заявление в порядке, установленном настоящим Регламентом.

						span.m48

						.accordion
							.accordion-head
								span Вопрос 1. Если поставка товара осуществлена до регистрации биржевого договора на бирже, является ли такая поставка исполнением обязательства по данному биржевому договору?
							.accordion-body
								p В соответствии со статьей 30 Закона Республики Беларусь «О товарных биржах» от 05.01.2009 (далее — Закон) споры по биржевым сделкам рассматриваются судом или Арбитражной комиссией в соответствии с соглашением сторон биржевой сделки, если в соответствии с законодательством стороны не выбрали иной порядок разрешения споров.
								p В соответствии со статьей 1 Закона биржевая сделка — договор купли-продажи, заключенный участниками биржевой торговли в отношении биржевого товара в ходе биржевых торгов.
								p В соответствии с пунктом 4 статьи 403 Гражданского кодекса Республики Беларусь (далее — ГК РБ) договор, заключаемый на бирже, считается заключенным с момента, определенного законодательством, регулирующим деятельность такой биржи, или правилами, действующими на бирже.
								p В соответствии со статьей 19 Закона биржевая сделка считается заключенной с момента ее регистрации товарной биржей, если иное не предусмотрено правилами биржевой торговли товарной биржи.
								p В соответствии с подпунктом 116 Правил биржевой торговли в ОАО «Белорусская универсальная товарная биржа», утвержденных постановлением правления ОАО «Белорусская универсальная товарная биржа» от 22.11.2005 № 3, биржевой договор, дополнительное соглашение, соглашение о расторжении биржевой сделки (биржевого договора) считаются заключенными с момента их регистрации на Бирже.
								p Таким образом, отгрузка, совершенная до регистрации договора на бирже, не является исполнением обязательства по биржевому договору.
								p Такая сделка не соответствует требованиям Закона и не является биржевой.
						.accordion
							.accordion-head
								span Вопрос 2. Если наименование проданного товара не соответствует заявленному в биржевом договоре, может ли такой товар считаться поставленным по биржевому договору?
							.accordion-body
								p В соответствии со статьей 30 Закона Республики Беларусь «О товарных биржах» от 05.01.2009 (далее — Закон) споры по биржевым сделкам рассматриваются судом или Арбитражной комиссией в соответствии с соглашением сторон биржевой сделки, если в соответствии с законодательством стороны не выбрали иной порядок разрешения споров.
								p В соответствии со статьей 1 Закона биржевая сделка — договор купли-продажи, заключенный участниками биржевой торговли в отношении биржевого товара в ходе биржевых торгов.
						.accordion
							.accordion-head
								span Вопрос 3.Возможно ли изменение сторонами количества товара, поставляемого по биржевому договору?
							.accordion-body
								p В соответствии с подпунктом 116 Правил биржевой торговли в ОАО «Белорусская универсальная товарная биржа», утвержденных постановлением правления ОАО «Белорусская универсальная товарная биржа» от 22.11.2005 № 3, биржевой договор, дополнительное соглашение, соглашение о расторжении биржевой сделки (биржевого договора) считаются заключенными с момента их регистрации на Бирже.
								p Таким образом, отгрузка, совершенная до регистрации договора на бирже, не является исполнением обязательства по биржевому договору.
								p Такая сделка не соответствует требованиям Закона и не является биржевой.

						span.m48

						p(style="text-transform: uppercase;") Стороны арбитражного разбирательства имеют право:
						ul
							li заверенная председателем Арбитражной комиссии копия решения Арбитражной комиссии;
							li оригинал или надлежащим образом удостоверенная копия арбитражного соглашения (биржевой договор);
							li документ, подтверждающий уплату государственной пошлины<sup>1</sup>;
							li доказательства, подтверждающие факт неисполнения другой стороной по делу решения Арбитражной комиссии в срок, установленный в нем2;
							li доверенность, подтверждающая полномочия представителя лица на подписание заявления.
						.notice
							p <sup>1</sup>Размер государственной пошлины предусмотрен Приложением 16 к Налоговому кодексу Республики Беларусь и составляет 10 базовых величин.
							p <sup>2</sup>В соответствии с частью 4 статьи 257 Хозяйственного процессуального кодекса Республики Беларусь в перечень материалов, прилагаемых к заявлению о выдаче исполнительного документа на принудительное исполнение решения международного арбитражного (третейского) суда, находящегося на территории Республики Беларусь, входят доказательства, подтверждающие факт неисполнения другой стороной по делу решения международного арбитражного (третейского) суда в срок*, установленный в нем.
							p * Срок для добровольного исполнения решения устанавливается в решении Арбитражной комиссии и исчисляется с момента получения решения проигравшей стороной. Доказательством начала срока для добровольного исполнения решения Арбитражной комиссии является справка о дате получения решения Арбитражной комиссии проигравшей стороной. Для получения справки необходимо обратиться с запросом в Арбитражную комиссию (справка прилагается к заявлению в экономический суд).
						.attachment
							a(href="#")
								img(src="./img/svg/doc.svg" alt="")
								span Загрузить образец запроса на справку.doc
						.table-cont
							table
								caption На внутреннем рынке
								tr
									th Наименование продукции
									th код товара по тн вэд
								tr
									td 3917, 3928 90 800, 3926 90 970 9, 6815 10, 7019 90 000 9, 7201..7203, 7205...7229, 7301...7315, 7317, 7318, 7320, 7322, 7324...7326, 8307, 8481, 8482
									td Чёрные металлы и изделия из них
								tr
									td 74002...7413, 7415, 7419, 7501, 7502...7508, 7601, 7603...7608, 7610, 7616, 7801, 7802, 7804, 7806, 7901, 7904, 7905, 8001, 8003, 8007, 81, 8311, 8548
									td Цветные металлы и изделия из них, лом цветных металлов
								tr
									td 2701, 2702, 2704 00
									td Уголь и кокс
								tr
									td 7216, 7217, 7301, 7308, 7312, 7326, 7407, 7413, 7414, 7610, 7614, 8544
									td Электротехническая продукция
						.table-cont
							table
								caption На экспорт
								tr
									th Наименование продукции
									th код товара по тн вэд
								tr
									td 2619 00, 7202, 7204, 7207, 7213, 7214, 7217, 7228, 7304, 7306
									td Лом и отходы чёрных металлов, изделия из чёрных металлов
								tr
									td 2620, 2805 40, 7402...7413, 7415, 7419, 7501...7508, 7601...7608, 7610, 7616, 7801, 7802, 7804, 7806, 7901, 7904, 7905, 8002, 8003, 8007, 81, 8311, 8548
									td Лом и отходы цветных металлов, цветные металлы
						p
							| Вам могут понадобиться:
							br
							a(href="#") Закон Республики Беларусь «О медиации» 12 июля 2013 г. N 58-З
							br
							a(href="#") Правила проведения медиации
						.video
							<iframe width="100%" height="600" src="https://www.youtube.com/embed/rILwvOkMJh0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		.scrollTop__container
			a(href='#' class='scrollTop')
				span.line
				+icon('ar-top')
	include ../modules/footer