.link-white{
	padding: 12px 25px;
	border: 1px solid #FFFFFF;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	transition: .4s;
	&:hover{
		background-color: #fff;
		color: $green;
		border-color: $green;
	}
}

.link-green{
	padding: 12px 25px;
	border: 1px solid $green;
	font-size: 16px;
	line-height: 21px;
	color: $green;
	transition: .4s;
	text-decoration: none !important;
	&:hover{
		background: $green;
		color: #fff;
	}
}
.link-green-full{
	padding: 12px 25px;
	border: 1px solid $green;
	font-size: 16px;
	line-height: 21px;
	color: #fff;
	transition: .4s;
	text-decoration: none !important;
	background-color: $green;
	&:hover{
		background: transparent;
		color: $green;
	}
}

.link--withIco{
	display: flex !important;
	align-items: center;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;
	color: $gr;
	&:hover{
		text-decoration: none;
	}
	.icon{
		margin: 0 14px 0 0;
	}
}