// Переменные
$font: 'pragmatica';
$fontby: 'helvetica';
$container: 1440px;
$main_color: #1D1D1D;


$grid-columns: 12;
@for $i from 1 through $grid-columns {
	.col-#{$i}{
		width: percentage($i / $grid-columns);
	}
}

article{
	min-height: calc(100vh - 130px);
}
a{
	text-decoration: none;
	color: $main_color;
	transition: .2s;
	&:hover{
		text-decoration: none;
	}
}
img{
	max-width: 100%;
}
article{
	width: 100%;
	margin: 0 auto;
	position: relative;
}
body {
	font-family: $font;
	font-weight: normal;
	// overflow-x: hidden;
	color: $main_color;
	font-size: 16px;
	line-height: 1.6em;
	position: relative;
}
body.by_version {
	font-family: $fontby;
}
.tabs__content {
	display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
	display: flex; /* по умолчанию показываем нужный блок */
}

.container{
	@include wrapper();
}

.accordion {
	margin: 20px 0;
	@include md-block(){
		margin: 20px 0px;
	}

	&-head {
		display: inline;
		cursor: pointer;
		border-bottom: 1px dashed #1d1d1d;
		transition: 0.3s;

		&:hover {
			color: #005939;
			border-bottom-color: #005939;
		}

		.page-zag--green {
			@include md-block(){
				margin: 15px 20px ;
			}
			@include xxs-block(){
				margin: 15px 0px ;
			}
			& :nth-child(1) {
				display: inline;

				&:after {
					content: '';
					position: absolute;
					left: 22px;
					right: 0;
					top: 100%;
					border-bottom: 1px dashed $green;
				}
			}
		}
	}

	&-body {
		display: none;
		padding: 15px 0 0 25px;
	}

	&.with-date {
		display: flex;
		flex-wrap: wrap;

		.accordion-head {
			width: calc(100% - 100px);
			@include xxxs-block(){
				width: 100%;
			} 
		}

		.accordion-body {
			width: 100%;
			padding-left: 120px;
			 
			@include xxxs-block(){
				padding-left: 10px;
			} 
		}
	}

	&-date {
		width: 100px;
		color: $green;
	}

	p {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&.not-ul {
		.accordion-head {
			.page-zag--green {
				& :nth-child(1):after {
					display: none;
				}
			}
		}
	}
}

.attachment {
	color: $green;

	a {
		background-image: linear-gradient(to left, #23b236, #409145);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		border-bottom: none !important;
	}

	img {
		vertical-align: middle;
		margin-right: 10px;
	}

	span {
		vertical-align: middle;
		border-bottom: 1px solid #23b236;
		transition: 0.25s;
	}

	&:hover {
		span {
			border-bottom-color: transparent;
		}
	}
}

.page-zag--green {
	margin-bottom: 16px;

	& :nth-child(1) {
		position: relative;
		color: #23b236;
		font-size: 26px;
		padding-left: 22px;
		margin-bottom: 5px;

		@include lh(28, 33);

		&:before {
			content: '';
			position: absolute;
			top: 15px;
			left: 0;
			width: 10px;
			height: 2px;
			background-image: linear-gradient(to right, #23b236, #409145);
		}
	}

	& :nth-child(2) {
		padding-left: 22px;
		color: #3e3e3e;
	}
}

.tabled {
	border-bottom: 1px solid #d1d3d4;
	margin-bottom: 68px;
	padding-bottom: 30px;
	@include xxxs-block(){
		border-bottom: none;
	}

	&-head {
		
		border-bottom: 1px solid #d1d3d4;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 16px;
		margin-bottom: 8px;
		@include xxxs-block(){
			display: none;
		}

		@include lh(16, 19);

		.tabled-c {
			padding: 16px 0;
		}
	}

	&-body {
		.tabled-c {
			padding: 24px 0;
			@include xxxs-block(){
				padding: 20px 0 0 0;
			}
		}
	}

	&-r {
		display: flex;
		@include xxs-block(){
			padding-bottom: 10px;
			flex-direction: column;
			border-bottom: 1px solid #d1d3d4;
		}
		&:not(:last-child) {
			@include xxs-block() {
				margin-bottom: 20px;
			}
		}
		.tabled-c {
			&:not(:last-child) {
				padding-right: 75px;
				@include xxs-block(){
					padding-right: 15px;
					padding-top: 10px;
				}
			}
		}
	}

	&-c {
		width: 50%;
		@include xxxs-block(){
			width: 100%;
		}
	}

	&--rasp {
		padding-bottom: 8px;
		.tabled-r {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			@include sm-block() {
				flex-wrap: wrap;
			}
			.tabled-c {
				&:not(:last-child) {
					padding-right: 28px;
				}
			}
		}

		.tabled-c {
			padding-top: 5px;
			padding-bottom: 5px;
			&:nth-child(1) {
				width: 15%;
				@include sm-block() {
					width: 100px;
				}
			}
			&:nth-child(2){
				width: 65%;
				@include sm-block() {
					width: calc(100% - 100px);
				}
			}
			&:nth-child(3) {
				width: 20%;
				@include sm-block() {
					width: 100%;
					padding-top: 0;
				}
				.attachment {
					margin: 0;
				}
			}
		}
	}
}

.hum {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	img {
		margin-bottom: 35px;
		transition: 0.5s;
		backface-visibility: hidden;

		&:hover {
			transform: scale(1.02);
		}
	}

	&-item {
		width: calc(50% - 50px);
		margin-bottom: 40px;
		@include xxs-block(){
			width: calc(100% - 10px);
			margin: auto;
		}

		&:nth-child(odd) {
			margin-right: 20px;
			@include xxs-block(){
				width: calc(100% - 10px);
				margin: auto;
			}
		}
	}

	&-post,
	&-name {
		max-width: 426px;
		padding-left: 90px;
		font-size: 18px;
		@include xs-block(){
			padding-left: 30px;
			padding-right: 10px;
		}

		@include lh(18, 21);
	}

	&-post {
		color: #23b236;
		margin-bottom: 18px;
	}

	&-name {
		color: #3e3e3e;
	}
}

.marked-text {
	color: #404040;
	margin-top: 57px;
	margin-bottom: 68px;
	min-height: 48px;
	display: flex;
	align-items: center;
	border-left: 1px solid #23b236;
	padding-left: 28px;
	padding-right: 20px;
	font-size: 16px;
	font-weight: bold;

	@include lh(16, 19);

	@include xxs-block() {
		margin: 10px 0;
		padding-left: 10px;
	}

	img {
		margin: 0 28px 0 0 !important;

		@include xxs-block() {
			margin: 0 10px 0 0 !important;
		}
	}

	&.nb {
		font-weight: normal;
	}
}

.p-block {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-bottom: 80px;

	@include md-block() {
		padding-bottom: 40px;
	}

	@include xxs-block() {
		padding-bottom: 20px;
	}

	&-50 {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		padding: 0 10px;
	}

	&-100 {
		width: 100%;
	}

	&-text {
		max-width: 500px;
		display: flex;
		flex-wrap: wrap;

		& > div {
			max-width: 155px;
			padding-left: 20px;
			box-sizing: border-box;

			&:not(:last-child) {
				margin-right: 100px;
			}
		}
	}

	&--img {
		justify-content: flex-start;

		img {
			margin: 0 !important;
		}
	}

	.page-zag--green {
		width: 100%;
		max-width: 100%;
		padding-left: 0;
		margin-right: 0 !important;
	}

}

.subzag-with-link {
	display: flex;
	@include md-block(){
		margin-right: 25px;
		margin-left: 25px;
		flex-wrap: wrap;
	}
	@include xs-block(){
		margin-right: 15px;
		margin-left: 15px;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
	}
	

	& > div {
		display: block;
		margin-right: auto;
		text-transform: uppercase;
		color: #404040;
		font-size: 18px;

		@include lh(18, 21);
		@include xs-block(){
			text-align: center;
			margin: auto;
			margin-bottom: 10px;
		}
	}

	& > a {
		display: block;
		margin-left: auto;
		font-size: 16px;
		@include xs-block(){
			text-align: center;
			margin: auto;
		}
		@include lh(16, 22);
	}
}

.color-red {
	color: #e52630 !important;
}

.color-green {
	color: $green;
}

.block-left-border {
	padding-left: 17px;
	border-left: 1px solid $green;
}

.text--gradient {
	display: block;
	font-weight: bold;
	//background-image: $green;
	//-webkit-background-clip: text;
	//-webkit-text-fill-color: transparent;
	margin-bottom: 20px;
	color: $green
}

.download-btn {
	display: inline-block;
	padding: 12px 28px;
	border: 1px solid #404040;
	background-image: $gr;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 300;
}

img.mfp-img,
.mfp-image-holder .mfp-content {
	width: 100%;
	background-color: #fff;
}

.mfp-image-holder .mfp-close {
	color: #333;
}