.icon {
    width: 20px;
    height: 20px;
}
article{
    position: relative;
}
.scrollTop__container{
    z-index: 50;
    position: absolute;
    height: 100%;
    right: 30px;
    top: 0;
    width: 50px;
    bottom: 0;
    padding-bottom: 30px;
    &::before{
        content: '';
        z-index: 20;
        position: absolute;
        width: 1.5px;
        height: 100%;
        background-color: #D1D3D4;
        left: calc(50% - 0.5px);
        top: 0;
        @include xl-block() {
            display: none;
        }
        @include xxs-block(){
            width: 40px;
            right: 20px;
		}
    }
    @media print {
        display: none;
    }
}
.scrollTop{
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #D1D3D4;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: calc(100vh - 100px);
    transition: .0s;
    z-index: 20;
    @include xxs-block(){
        width: 40px;
        height: 40px;
    }
    &:hover{
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
    }
    .icon{
        fill: #111111;
    }
}

.link-border{
    padding: 12px 28px;
    color: $green;
    border: 1px solid $green;
    font-weight: 300;
    font-size: 16px;
    transition: .3s;
   @include lh(16,22);
    &:hover{
        color: #fff;
        background-color: $green;
    }
}

.list-social{
    display: flex;
    flex-wrap: wrap;
    li{
        width: 50%;
        margin-bottom: 15px;
        a{
            display: flex;
            align-items: center;
            font-size: 13px;
            @include lh(13,15);
            text-transform: uppercase;
            color: #3E3E3E;
            transition: .3s;
            &:hover{
                color: #409145;
            }
        }
    }
    .icon{
        width: 16px;
        height: 16px;
        margin-right: 12px;
        fill: #409145;
    }
}
.flex-between{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.ss{
    font-weight: 300;
    font-size: 16px;
    line-height: 137%;
    color: #3E3E3E;
    display: flex;
    align-items: center;
    a{
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
        .icon{
            fill: #409145;
        }
    }
}


.page-zag {
    position: relative;
    margin: 85px 0 60px 40px;
    font-size: 28px;
    color: #404040;
    text-indent: -47px;

    @include lh(28, 38);

    @include xxs-block() {
        padding-left: 15px;
        padding-right: 15px;
        margin: 44px 0 34px 0px;
        font-size: 20px;
    }
    h1{
        font-size: 28px;
        font-weight: 400;
    }
    h1::first-letter {
        font-size: 64px;

        @include lh(64, 52);

        @include xxs-block() {
            font-size: 28px;
        }
    }

    div::first-letter {
        font-size: 64px;

        @include lh(64, 52);

        @include xxs-block() {
            font-size: 28px;
        }
    }

    &:before {
        content: '';
        position: absolute;
        left: -80px;
        top: -55px;
        width: 138px;
        height: 138px;
        border-radius: 69px;
        background-color: #f9f9f9;
        z-index: -1;

        @include xxs-block() {
            width: 64px;
            height: 64px;
            top: -22px;
            left: -50px;
        }
    }

    .img {
        width: 25px;
        height: 31px;
        position: absolute;
        left: 10px;
        top: -15px;
        display: flex;
        @include xxs-block(){
            width: 20px;
            height: 26px;
            left: -5px;
            top: -25px;
        }
        .icon{
            fill: $green;
            width: 25px;
            height: 25px;
        }

        &:before {
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            content: '';
            width: 100%;
            height: 2px;
            background-image: linear-gradient(to left, #23b236, #409145);
        }
    }
}
.with-select{
    position: relative;
    z-index: 51;
}
.filter {
    &.absolute{
        right: 0;
        bottom: -25px;
        position: absolute;
        @include xxs-block(){
            right: 15px;
        }
    }
    &__name{
        font-size: 16px;
        @include lh(16,19);
        text-transform: uppercase;
        color: #3E3E3E;
        padding: 12px 0;
        text-decoration: underline;
        cursor: pointer;

    }
    &__select{
        position: absolute;
        right: 0;
        top: calc(100% + 5px);
        z-index: 20;
        opacity: 0;
        visibility: hidden;
        background-color: #fff;
        padding: 15px 20px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.06);
        transition: .3s;
    }
    &.open{
        .filter__name{
            text-decoration: none;
        }
        .filter__select{
            opacity: 1;
            visibility: visible;
            top: 100%;
        }
    }
}
.jq-selectbox{
    background: #FFFFFF;
    border: 1px solid #D3D3D3 !important;
    box-sizing: border-box;
    border-radius: 3px;
    .jq-selectbox__select{
        min-width: 115px;
        box-shadow: none;
        background: none;
        border: 0 !important;
    }
    .jq-selectbox__trigger{
        border-left: 0;
    }
    .jq-selectbox__trigger-arrow {
        border-top: 5px solid #7B7B7B;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }
}


@media print {
    header, footer, .breadcrumbs, .page-zag .img{
        display: none !important;
    }
    .text-page{
        padding-bottom: 0 !important;
    }
    .page-zag{
        text-indent: 0 !important;
        margin: 0 !important;
        margin-bottom: 20px !important;
        margin-top: 0 !important;
        font-size: 20px !important;
    }
    article{
        margin-top: 0 !important;
    }
    p{
        padding: 0 !important;
        margin: 0 !important;
        font-size: 14px !important;
        margin-bottom: 10px !important;
    }

}
body > .header + article {
    margin-top: 131px;
    @include lg-block() {
        margin-top: 118px;
    }
    @include md-block() {
        margin-top: 57px;
    }
    @include xxs-block() {
        margin-top: 56px;
    }
}
.tcont{
    @include md-block() {
        overflow-x: scroll;
    }
    .timetables-market__items {
        @include md-block() {
            position: relative;
            max-width: 1135px;
        }
        &::before {
            @include md-block() {
                content: '';
                z-index: 1;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                background-image: linear-gradient(to right, transparent, #fff);
                width: 32px;
            }
        }
    }
    & > div:not(.timetables-market_tabs__list) {
        @include md-block() {
            width: 1200px;
        }
    }
}
.bulleten {
    display: flex;
    flex-wrap: wrap;
    margin-top: 54px;

    &:not(:last-child) {
        margin-bottom: 80px;
    }

    &-img {
        width: 100%;
        max-width: 290px;

        img {
            margin: 0 !important;
        }
    }

    &-text {
        width: 100%;
        max-width: calc(100% - 290px);
        box-sizing: border-box;
        padding-top: 40px;
        padding-left: 70px;

        @include md-block() {
            max-width: 100%;
            padding-left: 0;
            padding-top: 20px;
        }

        p {
            margin: 6px !important;
        }
    }

    &-zag {
        background: linear-gradient(198.08deg, #23B236 0%, #409145 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.04em;
        font-size: 28px;
        margin-bottom: 45px;

        @include md-block() {
            max-width: 100%;
            margin-bottom: 20px;
        }

        @include lh(28, 33);
    }
}

.flipbook-wrapper {
    box-sizing: border-box;
    padding: 50px;
    position: relative;
    //width: 60vw;
    display: flex;
    align-items: center;
    margin: 0 auto;
    div.flip-control {
        width: 100%;
        position: absolute;
        text-align: center;
        top: 88vh;
        display: flex;
        justify-content: center;
        #next{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #prev{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            transform: rotate(180deg);
        }
    }

    div.flip-control a {
        margin-left: 10px;
    }
    .page{
        //padding: 5px;
        //height: auto !important;
    }
    * {
        //box-shadow: none !important;
        //outline: none !important;
        //color: #fff !important;
        //outline-color: #fff !important;
        //background: none !important;
    }
    #flipbook{
        //height: 100% !important;
        //width: 100% !important;
    }
    img{
        //width: 100%;

        //box-shadow: 0px 0px 3px 3px gray !important;
    }
    @include xxs-block() {
        max-width: 100%;
        overflow-x: auto;
        padding: 100px 0;
    }
    //.mfp-close{
    //    position: absolute;
    //    top: 0;
    //    transform: translateY(-100%);
    //    @include xxs-block() {
    //        top: 44px;
    //    }
    //}
}

.container-md {
    @include xxs-block() {
        padding: 0 10px;
    }
    .page-zag {
        margin-left: 50px;
    }
}

#flipbook {
    margin: 0 auto;
}

.mfp-bg {
    background-color: #fff;
}

.slick-arrow {
    z-index: 51;
}

#panel {
    & ~ * {
        .text-page__menu ul {
            top: 205px;
        }
        .container--double {
            .text-page__menu-btn {
                top: 110px;
            }
            .text-page__menu {
                top: 40px;
                max-height: calc(100vh - 204px)
            }
        }
    }
}

.overflow-hidden {
    overflow: hidden;
    position: relative;
    height: 100%;
}



.timetables-market__item{
    position: relative;
}
.timetables-market__items{
    padding-left: 30px;
    margin-left: -30px;
    @include xxs-block(){
        padding-left: 50px;
    }
}
.tm-tooltips{
    display: flex;
    position: absolute;
    left: -30px;
    top: 33px;
    @include xxs-block(){
        top: 20px;
    }
    &__img{
        cursor: pointer;
        > div{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            > div{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: 14px;
                height: 14px;
            }
        }
        .icon{
            fill: #fff;
            width: 2px;
            height: 10px;
        }
    }
    &__text{
        width: 635px;
        position: absolute;
        top: calc(100% + 3px);
        left: 0;
        background-color: #F1F4F5;
        padding: 15px;
        z-index: 999;
        font-weight: 300;
        font-size: 11px;
        line-height: 15px;
        color: #737373;
        display: none;
        @include md-block(){
            width: 300px !important;
        }
        &::before{
            content: '';
            @include triangle(4, 4, #F1F4F5, bottomLeft);
            position: absolute;
            top: -4px;
            left: 8px;
        }
        p{
            margin: 0 !important;

        }
        b{
            font-weight: 300;
            font-size: 12px;
            color: #000000;
            line-height: 180%;
        }
    }
    &:hover{
        .tm-tooltips__text{
            display: block;
        }
    }

}
.timetables-market__item{
    .links--dowload ul li{
        padding-right: 0 !important;
    }
}
html body .links--dowload{
    padding: 9px 18px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid transparent;
    margin-top: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 220px;
    position: relative;
    z-index: 50;
    transition: .3s;
    &__name{
        letter-spacing: -0.02em;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: $green;
        padding-right: 20px;
        position: relative;
        width: 100%;
        cursor: pointer;
        span{
            border-bottom: 1px dashed $green;
            transition: .3s;
        }
        &:before{
            content: '';
            width: 10px;
            height: 10px;
            background-image: url(../img/svg/ar-down.svg);
            background-size: 7px;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            right: 5px;
            top: 5px;
            transition: .3s;
        }
    }
    ul{
        width: calc(100% + 2px);
        position: absolute;
        top: 100%;
        left: -1px;
        background-color: #fff;
        margin: 0 !important;
        padding: 0 18px !important;
        border: 1px solid #E1E7E9;
        border-top: 0;
         opacity: 0;
        visibility: hidden;
        transition: .3s;
        li{
            padding: 0 !important;
            padding-right: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            a{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 12px 0;
                border-top: 1px solid #E1E7E9;
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;
                color: #404040;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
            img{
                margin: 0 !important;
                margin-right: 11px !important;
            }

        }
    }
    &:hover{
        border-color: #E1E7E9;
        .links--dowload__name{
            &::before{
                transform: rotate(180deg);
            }
            span{
                border-bottom-color: transparent;
            }

        }
        ul{
           opacity: 1;
            visibility: visible;
        }
    }
}

html body .timetables-market_tabs__name.v--5{
    li{
        &:last-child{
            width: 60%;
        }
    }
}
.table-full-scroll{
    overflow: auto;
    .tabled{
        margin-bottom: 0;
        border: 0;
    }
    .tabled-head{
        border: 0;
        .tabled-c{
            border-bottom: 1px solid #d1d3d4;
        }
    }
    .tabled-body{
        border: 0;
        .tabled-r{
            &:last-child{
                .tabled-c{
                    border-bottom: 1px solid #d1d3d4;
                    padding-bottom: 20px !important;
                }
            }
        }
    }
    .tabled-r{
    }
    .tabled-c{
        padding: 10px 20px !important;


    }
    .tabled[data-scroll]{
        .tabled-c, th, td{
            min-width: 200px;
            max-width: 200px;
            width: max-content;
        }
    }
    .tabled[data-table]{
        table{
            box-shadow: none;
            margin: 30px 0;
            min-width: 100% !important;
        }
        th{
            border-bottom: 1px solid #d1d3d4;
        }
        td{
            border-bottom: 1px solid #d1d3d4;
            &::before{
                content: none !important;
            }
        }
        th{
            //text-transform: uppercase;
            //font-weight: bold;
        }
       th, td{
           padding: 10px 20px;
           //border: 1px solid #d1d3d4;
           border-collapse: collapse;
       }
    }

    &.calendar-table{
        th{
            text-transform: uppercase;
            padding: 15px 0 !important;
            text-align: left;
            @include xxs-block(){
                display: none;
            }
            &:nth-child(1){
                width: 15%;
            }
            &:nth-child(2){
                width: 65%;
            }
            &:nth-child(3){
                width: 20%;
            }
        }
        tr{
            @include xxs-block(){
                margin-bottom: 15px;
                display: block;
                border-bottom:1px solid #d1d3d4;
            }
        }
        td{
            padding: 15px 0 !important;
            @include xxs-block(){
                display: block;
                width: 100% !important;
                border: 0 !important;
            }
            &:nth-child(1){
                width: 15%;
            }
            &:nth-child(2){
                width: 65%;
            }
            &:nth-child(3){
                width: 20%;
            }
            .attachment{
                margin: 0;
            }
        }
    }
}
.tm-tooltips-container{
    position: relative;
    padding-left: 30px;
    display: flex;
    .tm-tooltips{
        top: 3px;
        left: 0;
    }
}

.ch_version {
    .page-zag {
        .img {
            left: 20px;
            @include xxs-block() {
                left: -25px;
            }
        }
    }
}