@font-face {
  font-family: 'pragmatica';
  font-style: normal;
  font-weight: 300;
  src: url('./../fonts/pragmatica-ctt/light/PragmaticaLight.woff2') format('woff2'),
        url('./../fonts/pragmatica-ctt/light/PragmaticaLight.woff') format('woff'),
        url('./../fonts/pragmatica-ctt/light/PragmaticaLight.ttf') format('truetype'),
        url('./../fonts/pragmatica-ctt/light/PragmaticaLight.eot'),
        url('./../fonts/pragmatica-ctt/light/PragmaticaLight.eot#iefix') format('embedded-opentype'),
}
@font-face {
  font-family: 'pragmatica';
  font-style: italic;
  src: url('./../fonts/pragmatica-ctt/italic/Pragmatica Italic.woff2') format('woff2'),
      url('./../fonts/pragmatica-ctt/italic/Pragmatica Italic.woff') format('woff'),
      url('./../fonts/pragmatica-ctt/italic/Pragmatica Italic.ttf') format('truetype'),
      url('./../fonts/pragmatica-ctt/italic/Pragmatica Italic.eot'),
      url('./../fonts/pragmatica-ctt/italic/Pragmatica Italic.eot#iefix') format('embedded-opentype'),
    }


@font-face {
  font-family: 'pragmatica';
  font-style: normal;
  font-weight: normal;
  src: url('./../fonts/pragmatica-ctt/regular/pragmatica-ctt.woff2') format('woff2'),
  url('./../fonts/pragmatica-ctt/regular/pragmatica-ctt.woff') format('woff'),
  url('./../fonts/pragmatica-ctt/regular/pragmatica-ctt.ttf') format('truetype'),
  url('./../fonts/pragmatica-ctt/regular/pragmatica-ctt.eot'),
  url('./../fonts/pragmatica-ctt/regular/pragmatica-ctt.eot#iefix') format('embedded-opentype'),
}

@font-face {
  font-family: 'pragmatica';
  font-style: normal;
  font-weight: bold;
  src: url('./../fonts/pragmatica-ctt/bold/PragmaticaCTT-Bold.woff2') format('woff2'),
  url('./../fonts/pragmatica-ctt/bold/PragmaticaCTT-Bold.woff') format('woff'),
  url('./../fonts/pragmatica-ctt/bold/PragmaticaCTT-Bold.ttf') format('truetype'),
  url('./../fonts/pragmatica-ctt/bold/PragmaticaCTT-Bold.eot'),
  url('./../fonts/pragmatica-ctt/bold/PragmaticaCTT-Bold.eot#iefix') format('embedded-opentype'),
}



@font-face {
  font-family: 'helvetica';
  font-style: normal;
  font-weight: 300;
  src: url('./../fonts/helvetica/light/light.woff2') format('woff2'),
  url('./../fonts/helvetica/light/light.woff') format('woff'),
  url('./../fonts/helvetica/light/light.ttf') format('truetype'),
  url('./../fonts/helvetica/light/light.eot'),
  url('./../fonts/helvetica/light/light.eot#iefix') format('embedded-opentype'),
}

@font-face {
  font-family: 'helvetica';
  font-style: normal;
  font-weight: normal;
  src: url('./../fonts/helvetica/regular/regular.woff2') format('woff2'),
  url('./../fonts/helvetica/regular/regular.woff') format('woff'),
  url('./../fonts/helvetica/regular/regular.ttf') format('truetype'),
  url('./../fonts/helvetica/regular/regular.eot'),
  url('./../fonts/helvetica/regular/regular.eot#iefix') format('embedded-opentype'),
}

@font-face {
  font-family: 'helvetica';
  font-style: normal;
  font-weight: bold;
  src: url('./../fonts/helvetica/bold/bold.woff2') format('woff2')
  url('./../fonts/helvetica/bold/bold.woff') format('woff')
  url('./../fonts/helvetica/bold/bold.ttf') format('truetype')
  url('./../fonts/helvetica/bold/bold.eot')
  url('./../fonts/helvetica/bold/bold.eot#iefix') format('embedded-opentype');
}








@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 300;
  src:
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Light/AvenirNextCyr-Light.woff2') format('woff2'),
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Light/AvenirNextCyr-Light.woff') format('woff'),
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Light/AvenirNextCyr-Light.ttf') format('truetype'),
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Light/AvenirNextCyr-Light.eot'),
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Light/AvenirNextCyr-Light.eot#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src:
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Regular/AvenirNextCyr-Regular.woff2') format('woff2'),
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Regular/AvenirNextCyr-Regular.woff') format('woff'),
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Regular/AvenirNextCyr-Regular.ttf') format('truetype'),
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Regular/AvenirNextCyr-Regular.eot'),
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Regular/AvenirNextCyr-Regular.eot#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: bold;
  src:
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff2') format('woff2'),
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff') format('woff'),
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Bold/AvenirNextCyr-Bold.ttf') format('truetype'),
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Bold/AvenirNextCyr-Bold.eot'),
          url('./../fonts/AvenirNextCyr/AvenirNextCyr-Bold/AvenirNextCyr-Bold.eot#iefix') format('embedded-opentype');
}
