@font-face {
    font-family: 'PragmaticaCTT';
    src: url('PragmaticaCTT-Bold.eot');
    src: url('PragmaticaCTT-Bold.eot?#iefix') format('embedded-opentype'),
        url('PragmaticaCTT-Bold.woff2') format('woff2'),
        url('PragmaticaCTT-Bold.woff') format('woff'),
        url('PragmaticaCTT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

