
<div class="popup-form">
  <div class="popup-form__container">
    <div class="line line-1"></div>
    <div class="line line-2"></div>
    <div class="line line-3"></div>
    <div class="line line-4"></div>
    <div class="popup-form__zag">
      <h1>Вход</h1>
      <p>Чтобы пользоваться всеми возможностями портала</p>
    </div>
    <div class="popup-form__form">
      <form>
        <div class="popup-form__block required--input">
          <label><span>Логин<b>*</b></span>
            <input type="text"/>
          </label>
        </div>
        <div class="popup-form__block required--input">
          <label><span>Пароль<b>*</b></span>
            <input type="text"/>
          </label>
        </div>
        <div class="popup-form__block popup-form__block--check">
          <label>
            <input class="styler required--check" type="checkbox"/><span> Я ознакомлен (-а) с регламентом ЭТП и согласен (-на) с ним</span>
          </label>
        </div>
        <div class="popup-form__block"><img src="./img/captcha.png"/></div>
        <div class="hr"></div>
        <div class="popup-form__block popup-form__block--bottom">
          <div>
            <input class="required--sbmt" type="submit" value="Вход"/>
          </div>
          <div>
            <button class="reset-pw__link" type="button">Забыли пароль?</button>
          </div>
        </div>
      </form>
      <form class="reset-pw__form">
        <div class="hr"></div>
        <div class="popup-form__block required--email">
          <label><span>
               Электронная почта<b>*</b></span>
            <input type="text" placeholder="name@mail.ru"/>
          </label>
        </div>
        <div class="popup-form__block popup-form__block--bottom">
          <div>
            <input class="required--sbmt" type="submit" value="Отправить"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>